<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>MEU SAEB DIGITAL</title>
</head>
<body>
    <div class="container">
    <h1 class="h1 text-center">MEU SAEB DIGITAL</h1>
    <h2 class="h2">Língua Portuguesa</h2>
    <div class="card">
        <div class="card-body">
            <a href="/lpd4" class="btn btn-primary form-control">D4 – Inferir uma informação implícita em um texto. </a>
            <a href="/lpd6" class="btn btn-primary form-control">D6 – Identificar um tema de um texto. </a>
            <a href="/lpd5" class="btn btn-primary form-control">D5 – Interpretar texto com auxílio de material gráfico diverso (propagandas, quadrinhos, foto, etc.); </a>
            <a href="/lpd9" class="btn btn-primary form-control">D9 – Identificar a finalidade de textos de diferentes gêneros; </a>
            <a href="/lpd2" class="btn btn-primary form-control">D2 – Estabelecer relações entre partes de um texto, identificando repetições ou substituições que contribuem para a continuidade de um texto;</a>
            <a href="/lpd7" class="btn btn-primary form-control">D7 – Identificar o conflito gerador do enredo e os elementos que constroem a narrativa;</a>
            <a href="/lpd13" class="btn btn-primary form-control">D13 – Identificar efeitos de ironia ou humor em textos variados;</a>
            <a href="/lpd14" class="btn btn-primary form-control">D14 - Reconhecer o efeito de sentido decorrente do uso da pontuação e de outras notações.</a>
        </div>
    </div>
    <br>
   <h2 class="h2">Matemática</h2>
    <div class="card">
        <div class="card-body">
            <a href="/md1" class="btn btn-primary form-control">D1 - Identificar a localização /movimentação de objeto em mapas, croquis e 
                outras  representações gráficas.
                </a>
                <a href="/md13" class="btn btn-primary form-control">D13 – Reconhecer e utilizar características do sistema de numeração decimal, [...];</a>
                <a href="/md14" class="btn btn-primary form-control">D14 – Identificar a localização de números naturais na reta numérica</a>
                <a href="/md15" class="btn btn-primary form-control">D15 – Reconhecer a decomposição de números naturais nas suas diversas ordens;</a>
                <a href="/md16" class="btn btn-primary form-control">D16 – Reconhecer a composição e a decomposição de números naturais em sua forma polinomial;</a>
                <a href="/md17" class="btn btn-primary form-control">D17 – Calcular o resultado de uma adição ou subtração de números naturais.</a>
            </div>
    </div>
    </div>    
</body>
<script src="./js/bootstrap.min.js"></script>
<script src="./js/popper.min.js"></script>
</html>