<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Descritor 14</title>
</head>
<body class="bg-primary">
<header class=""><h4>D14 - Reconhecer o efeito de sentido decorrente do uso da pontuação e de outras notações.</h4></header>
<hr>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <p>Leia o texto abaixo:</p>
                    <h5 class="card-title">O patinho bonito</h5>
                    <p class="card-text">
                        <p>[...] Milton era o patinho mais bonito da escola. Todos olhavam para ele e diziam: “Como ele é bonito!”. Ele se olhava no espelho e dizia: “Como eu sou bonito!”. E ficava pensando: “Sou tão bonito que talvez eu nem seja um pato de verdade. Tenho até nome diferente. [...] Quem sabe eu sou gente?”.</p>
                        <p>E Milton começou a ficar meio besta. Diziam: “Milton, vem nadar!”. Ele respondia: “Eu não. [...]”. Todos os outros patos começaram a achar o Milton meio chato. Ele foi ficando sozinho. E dizia: “Não faz mal. Sou mais bonito. Vou terminar na televisão. Vou ser o maior galã”. </p>
                        <p>Uma noite Milton resolveu fugir de casa. Foi até a cidade para tentar entrar na televisão. Quando chegou na porta da estação de TV, foi logo dizendo: “Eu me chamo Milton. Além de bonito, acho que eu tenho muito talento artístico”. [...] “Ih, não enche”, disse alguém. “Todo dia alguém arranja uma fantasia de bicho e vem aqui procurar lugar na televisão”.</p>
                        <p>– Mas você não vê que eu não estou fantasiado? Perguntou Milton. [...]</p>
                        <p>– Então como é que você sabe falar?</p>
                        <p>– Mas os patos falam!! disse Milton, quase chorando.</p>
                        <p>– Não vem com essa, [...] disse um guarda que estava ali perto. Para mim você é um pato mecânico. Deve ser uma espécie de robô com um computador na cabeça! [...]</p>
                        <p>De repente Milton teve um estremeção. Abriu os olhos e viu que estava em casa. Ele tinha sonhado. Olhou para seus pais, ainda meio assustado, e disse:</p>
                        <p>– Eu sou um pato... eu sou um pato... </p>
                        <p>E seus pais disseram:</p>
                        <p>– Puxa, ainda bem que você se convenceu! [...]</p>
                        <p>E daí por diante não havia pato mais contente, que tivesse mais vontade de nadar na lagoa, do que o Milton. De vez em quando ele ainda dizia: “Sou um pato! Um pato mesmo!”. E dava um suspiro de alívio.</p>
                        <p></p>
                        <small>COELHO, Marcelo. O patinho bonito. In: Banco de Dados Folha. 1989. Disponível em: http://almanaque.folha.uol.com.br/folhinha_texto_marcelo_patinho.htm. Acesso em: 8 mar. 2016. Fragmento.  </small>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Questão 1</h5>
                    <p class="card-text">Nesse texto, no trecho “‘Como ele é bonito!’” (1° parágrafo), o ponto de exclamação foi usado para indicar</p>
                    <ol type="A">
                        <li>admiração.</li>
                        <li>alívio.</li>
                        <li>deboche.</li>
                        <li>dúvida.</li>
                    </ol>
                </div>
            </div>
        </div>
        
    </div>
    <br>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Na toca do coelho</h5>
                    <p class="card-text">
                        <p>Alice estava começando a cansar-se de ficar sentada sobre o barranco, sem nada para fazer. Uma vez ou duas tinha dado uma olhada no livro que sua irmã estava lendo.</p>
                        <p>– Para que pode servir um livro sem figuras nem conversas? – pensava, aborrecida.</p>
                        <p>O calor daquele dia estava deixando Alice com sono. Ela perguntava a si mesma se o prazer de fazer uma guirlanda de margaridas valia o esforço de ir colher as margaridas. Foi quando um coelho branco de olhos cor-de-rosa passou correndo bem pertinho dali.</p>
                        <p>Não havia nada de extraordinário nisso. Alice não achou verdadeiramente notável, nem mesmo quando o Coelho Branco disse para si mesmo: </p>
                        <p>– Meu Deus! Meu Deus! Vou chegar atrasado! – mas quando ele tirou um relógio do bolso do colete, olhou as horas e depois continuou seu caminho a toda pressa, Alice levantou-se. Teve a impressão que nunca em sua vida tinha visto um coelho que tivesse um colete com bolso e muito menos um relógio para tirar do bolso. Ardendo em curiosidade, correu atrás do coelho através do campo e, por sorte, chegou justo a tempo de vê-lo mergulhar na abertura de uma grande toca, perto da cerca.</p>
                        <p>Num instante Alice estava descendo também, sem se perguntar nem por um momento como faria depois para voltar.</p>
                        <p>A toca continuava reta como um túnel durante um bom pedaço, depois afundava de repente, tão de repente que Alice não teve nem tempo de pensar em parar, antes de perceber que estava caindo num poço muito profundo.</p>
                        <p>O poço era de fato muito profundo ou ela é que caía muito devagar? A verdade é que, enquanto caía, Alice tinha tempo de olhar ao redor e até de refletir sobre o que iria acontecer [...].</p>
                        <p></p>
                        <small>CARROL, Lewis. In: Alice no país das maravilhas. São Paulo: Ática, s/d. Fragmento.  </small>
                    </p>
                </div>
            </div>
        </div>       
    </div>
    <br>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Questão 2</h5>
                    <p class="card-text">Nesse texto, no trecho “O poço era de fato muito profundo ou ela é que caía muito devagar?” (último parágrafo), o ponto de interrogação indica</p>
                    <ol type="A">
                        <li>admiração.</li>
                        <li>dúvida.</li>
                        <li>medo.</li>
                        <li>preocupação.</li>
                    </ol>
                </div>
            </div>
            
        </div>        
    </div>
    <br>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body text-center">
                    <p class="card-text">Leia o texto abaixo:</p>
                    <img class="img-fluid" src="/img/lpd14_3.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Questão 3</h5>
                    <p class="card-text">A palavra AHÁÁ!!, no último quadrinho, está escrita com letras maiores:</p>
                    <ol type="A">
                        <li>porque a palavra é sem sentido.</li>
                        <li>para enfatizar a reação de satisfação da mulher.</li>
                        <li>porque a palavra é pequena.</li>
                        <li>para enfatizar a reação de desespero do homem.</li>
                    </ol>
                </div>
            </div>
        </div>
        
    </div>
    <br>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">O que disse o passarinho</h5>
                    <p class="card-text">
                        <p><p>Um passarinho me contou</p>
                        <p>que o elefante brigou</p>
                        <p>com a formiga só porque</p>
                        <p>enquanto dançavam (segundo ele)</p>
                        <p>ela pisou no pé dele!</p>
                        <p>Um passarinho me contou</p>
                        <p>que o jacaré se engasgou</p>
                        <p>e teve de cuspi-lo inteirinho</p>
                        <p>quando tentou engolir,</p>
                        <p>imaginem só, um porco-espinho!</p></p>
                        <p><p>Um passarinho me contou</p>
                        <p>que o namoro do tatu e a tartaruga</p>
                        <p>deu num casamento de fazer dó:</p>
                        <p>cada qual ficou morando em sua casca</p>
                        <p>em vez de morar numa casca só.</p></p>
                        <p><p>Um passarinho me contou</p>
                        <p>que a ostra é muito fechada,</p>
                        <p>que a cobra é muito enrolada</p>
                        <p>que a arara é uma cabeça oca,</p>
                        <p>e que o leão-marinho e a foca...</p></p>
                        <p><p>Xô xô, passarinho, chega de fofoca!</p></p>
                        <small>PAES, José Paulo. O que disse o passarinho. In: ____.Um passarinho me contou. São Paulo: Editora Ática, 1996.</small>
                    </p>
                </div>
            </div>            
       </div>
       <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Questão 4</h5>
                <p class="card-text">A pontuação usada no final do verso “e que o leão-marinho e a foca...” (verso 20) sugere que o passarinho</p>
                <ol type="A">
                    <li>está cansado.</li>
                    <li>está confuso.</li>
                    <li>não tem mais fofocas para contar.</li>
                    <li>ainda tem fofocas para contar</li>
                </ol>
            </div>
        </div>
    </div>
    </div>
    <br>
    <div class="row">

    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">O macaco e o gato</h5>
                    <p class="card-text">
                        <p>Simão, o macaco, e Bichano, o gato, moram juntos na mesma casa. E pintam o sete. Um [...] remexe gavetas, esconde tesourinhas, atormenta o papagaio; outro arranha os tapetes, esfiapa as almofadas e bebe o leite das crianças.</p>
                        <p>Mas, apesar de amigos e sócios, o macaco sabe agir com tal maromba que é quem sai ganhando sempre. Foi assim no caso das castanhas.</p>
                        <p>A cozinheira pusera a assar nas brasas umas castanhas e fora à horta colher temperos. Vendo a cozinha vazia, [...] se aproximaram. Disse o macaco:</p>
                        <p>– Amigo Bichano, você que tem uma pata jeitosa, tire as castanhas do fogo.</p>
                        <p>O gato não se fez insistir e com muita arte começou a tirar as castanhas.</p>
                        <p>– Pronto, uma…</p>
                        <p>– Agora aquela lá… Isso. Agora aquela gorducha… Isso. E mais a da esquerda, que estalou…</p>
                        <p>O gato as tirava, mas quem as comia, gulosamente, piscando o olho, era o macaco… De repente, eis que surge a cozinheira, furiosa, de vara na mão.</p>
                        <p>– Espere aí!…</p>
                        <p>Os dois [...] sumiram-se aos pinotes.</p>
                        <p>– Boa peça, hem? — disse o macaco lá longe.</p>
                        <p>O gato suspirou:</p>
                        <p>– Para você, que comeu as castanhas. Para mim foi péssima, pois arrisquei o pelo e fiquei em jejum, sem saber que gosto tem uma castanha assada…</p>
                        <p><b>Moral:</b> O bom-bocado não é para quem o faz, é para quem o come.</p>
                        <p></p>
                        <small>LOBATO, Monteiro. Disponível em: http://zip.net/bsqLYm. Acesso em: 7 out. 2015. Fragmento. </small>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Questão 5</h5>
                    <p class="card-text">No trecho “— Boa peça, hem?” (11° parágrafo), o travessão foi usado para </p>
                    <ol type="A">
                        <li>destacar um trecho do texto.</li>
                        <li>indicar a fala de um personagem.</li>
                        <li>inserir um comentário do narrador.</li>
                        <li>introduzir uma explicação.</li>
                    </ol>
                </div>
            </div>
        </div>
        
    </div>
    <br>
</div>
<div class="container">
  <div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Rixas e Faniquitos</h5>
                <p class="card-text">
                    <p>Rita e Renata têm um gênio ruim e quando brigam é um rebuliço!</p>
                    <p>– Sua ridícula!</p>
                    <p>– Olha quem fala. Raquítica!</p>
                    <p>– Rechonchuda!</p>
                    <p>– Rabugenta!</p>
                    <p>– Ranheta!</p>
                    <p>– Repelente!</p>
                    <p>Um dia reconheceram que as rusgas eram sem razão e que era ridículo brigar com tantos erres. Aí resolveram fazer as pazes. Uma ficou fã da outra. Foi fabuloso! Não tinha mais fofoca, fuxico, futrica. Era o fim do fuzuê!</p>
                    <p>A família em festa fez uma farta feijoada para festejar. Final feliz! Ufa!</p>
                    <p></p>
                    <small>Isabella Carpaneda, Angiolina Bragança. Porta Aberta – Nova edição</small>
                    <br>
                    <p><b>Glossário</b> (Fonte: Dicionário Aurélio)</p>
                    <p>Rusgas - pequenas brigas ou desentendimentos.</p>
                    <p>Rixa - disputa; briga, discórdia; desordem, tumulto.</p>
                    <p>Futrica - fuxico, intriga.</p>
                    <p>Fuzuê - conflito, briga, barulho, confusão.</p>

                </p>
            </div>
        </div>
    </div>
  </div> 
  <br>
  <div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Questão 6</h5>
                <p class="card-text">No diálogo entre as duas personagens, o uso do ponto de exclamação (!) reforça</p>
                <ol type="A">
                    <li>o fim da confusão entre as personagens.</li>
                    <li>o final feliz da história.</li>
                    <li>a discórdia entre as meninas.</li>
                    <li>a decisão de festejar a amizade.</li>
                </ol>
            </div>
        </div>
    </div>
    
  </div>
  <br> 
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">Observer a charge abaixo:</h5>
                    <img class="img-fluid" src="/img/lpd14_6.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Questão 7</h5>
                    <p class="card-text">Na charge acima, o autor usou três pontos de exclamação, na fala do personagem, para reforçar o sentimento de</p>
                    <ol type="A">
                        <li>afobação.</li>
                        <li>preocupação.</li>
                        <li>indignação.</li>
                        <li>tranquilidade.</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">NO MUNDO DA LUA</h5>
                    <p class="card-text">
                        <p>Vou inventar uma rua</p>
                        <p>Onde se pinte e borde</p>
                        <p>Se faça e aconteça,</p>
                        <p>Se cante e dance</p>
                        <p>Se plantem corações...</p>
                        <p>Uma rua onde todos vivam</p>
                        <p>No mundo da lua.</p>
                        <small>http://www.roseanamurray.com</small>
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Questão 8</h5>
                    <p class="card-text">A pontuação usada no verso “Se plantem corações...”(verso 5) sugere que </p>
                    <ol type="A">
                        <li>a poesia acabou.</li>
                        <li>a rua tem coração.</li>
                        <li>outras coisas aconteçam.</li> 
                        <li>todos vivam na rua.</li> 
                    </ol>
                </div>
            </div>
        </div>
        
    </div>
    <br>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">NÓS SOMOS IGUAIS, NÓS SOMOS DIFERENTES</h5>
                    <p class="card-text">
                        <p>Ia ser muito chato se todas as pessoas fossem iguais, não é mesmo? Mas, por sorte, a humanidade é cheia de variedade e de cor (negros, brancos, amarelos e índios, que a gente diz que são vermelhos). E também existem os altos, os baixos, os gordinhos, os magros, os loiros e os morenos. Por causa das cores, as pessoas, muito antigamente, pensavam que os humanos estavam divididos em várias raças. Agora, não: nós sabemos que as diferenças são normais e saudáveis.</p>
                        <small>Cláudia, n. 440.</small>
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Questão 9</h5>
                    <p class="card-text">No trecho “Ia ser muito chato se todas as pessoas fossem iguais, não é mesmo?”, o ponto de interrogação foi utilizado para</p>
                    <ol type="A">
                        <li>satisfazer uma curiosidade.</li>
                        <li>mostrar admiração pelas pessoas.</li>
                        <li>mostrar a dúvida do autor.</li>
                        <li>fazer uma pergunta para os leitores.</li>
                    </ol>
                </div>
            </div>
        </div>
        
    </div>
    <br>
</div>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">Leia o texto abaixo.</h5>
                    <img class="img-fluid" src="/img/lpd14_10.png" alt="">
                </div>
            </div>
        </div>
        
    </div>
    <br>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Questão 10</h5>
                    <p class="card-text">No último quadrinho, as interrogações em cima das cabeças do menino e da menina indicam que eles</p>
                    <ol type="A">
                        <li>brigaram, porque o menino fez uma careta para a menina.</li>
                        <li>ficaram em dúvida se deviam desligar ou ficar vendo TV.</li>
                        <li>ficaram preocupados com a situação de falta de energia.</li>
                        <li>queriam saber o que eram aparelhos eletrodomésticos.</li>
                    </ol>
                </div>
            </div>
        </div>
        
    </div>
    <br>
</div>

<% //Gabarito %>
<div class="container">
    <h3 class="h3 text-lg-center text-white">Gabarito</h3>
    <form method="POST" action="/confirmacao-lpd14">
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">@</span>
        <input type="text" class="form-control" placeholder="Digite seu nome aqui" aria-label="Digite seu nome aqui" aria-describedby="basic-addon1" name="name" id="name">
      </div>
      <table class="table table-light">
        <thead>
          <tr>
            <th scope="col">Q 1</th>
            <th scope="col">Q 2</th>
            <th scope="col">Q 3</th>
            <th scope="col">Q 4</th>
            <th scope="col">Q 5</th>
            <th scope="col">Q 6</th>
            <th scope="col">Q 7</th>
            <th scope="col">Q 8</th>
            <th scope="col">Q 9</th>
            <th scope="col">Q 10</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><input type="text" class="form-control" name="q1" maxlength="1"></td>
            <td><input type="text" class="form-control" name="q2" maxlength="1"></td>
            <td><input type="text" class="form-control" name="q3" maxlength="1"></td>
            <td><input type="text" class="form-control" name="q4" maxlength="1"></td>
            <td><input type="text" class="form-control" name="q5" maxlength="1"></td>
            <td><input type="text" class="form-control" name="q6" maxlength="1"></td>
            <td><input type="text" class="form-control" name="q7" maxlength="1"></td>
            <td><input type="text" class="form-control" name="q8" maxlength="1"></td>
            <td><input type="text" class="form-control" name="q9" maxlength="1"></td>
            <td><input type="text" class="form-control" name="q10" maxlength="1"></td>
            <input type="text" name="descritor" value="Língua Portuguesa D14" hidden>

          </tr>
        </tbody>
      </table>
      
      <div class="d-grid gap-2 m-xl-3">        
        <button type="reset" class="btn btn-danger">LIMPAR</button>
        <button type="submit" class="btn btn-success">RESPONDER</button>
      </div>
    </form>
</div>

</body>
<script src="./js/bootstrap.min.js"></script>
<script src="./js/popper.min.js"></script>
</html>