<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Língua Portuguesa D12</title>
</head>
<body class="bg-primary">
  <div class="h3 text-lg-center text-white">ESCOLA MUNICIPAL JUSLANY DE SOUZA FLORES</div>
      <div class="h3 text-lg-center text-white">5º ANO TURMA A</div>  
  <hr>
  <header class="container">
    <h4>D12 - Estabelecer relações lógico-discursivas presentes no texto, marcadas por conjunções, advérbios etc.</h4>
  </header>
  <br>
    <div class="container">
      
      <form method="POST" action="/confirmacao-lpd12" onsubmit="return validarFormulario()">
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">@</span>
          <input type="text" class="form-control" placeholder="Digite seu nome aqui" aria-label="Digite seu nome aqui" aria-describedby="basic-addon1" name="name" id="name">
        </div>
        <div class="container">

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <div class="container">
                    <h5 class="card-title">Robótica</h5>
                    <p class="texto_paragrafo">Robótica é um ramo da tecnologia que engloba mecânica, eletrônica e computação, que atualmente trata de sistemas compostos por máquinas e partes mecânicas automáticas e controladas por circuitos integrados, tornando sistemas mecânicos motorizados, controlados manualmente ou automaticamente por circuitos elétricos. </p>
                    <p class="texto_paragrafo">As máquinas, pode-se dizer que são vivas, mas, ao mesmo tempo, são uma imitação da vida, não passam de fios  unidos e mecanismos, isso tudo junto concebe um robô. Cada vez mais as pessoas utilizam os robôs para suas tarefas. </p>
                    <p class="texto_paragrafo">Em breve, tudo poderá ser controlado por robôs. Os robôs são apenas máquinas: não sonham nem sentem e muito menos ficam cansados. Essa tecnologia, hoje adotada por muitas fábricas e indústrias, tem obtido de um modo geral, êxito em questões levantadas sobre a redução de custos, aumento de produtividade e os vários problemas trabalhistas com funcionários.</p>
                    <br>
                    <div class="text-right">Disponível em: http://pt.wikipedia.org/wiki/Rotica. Acesso em: 20 maio 2010.</div>
                  </div>
                  <br>
                  <h5 class="card-title">QUESTÃO 1</h5>
                  <p class="card-text"> No Texto, no trecho “<b>Em breve</b>, tudo poderá ser controlado por robôs.” (3° parágrafo), a expressão destacada indica uma ideia de</p>
                    <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio"  name="q1" value="A" maxlength="1">-aﬁrmação.</li>
                          <li><input type="radio" name="q1" value="B" maxlength="1">-dúvida.</li>
                          <li><input type="radio" name="q1" value="C" maxlength="1">-modo.</li>
                          <li><input type="radio" name="q1" value="D" maxlength="1">-tempo.</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>
          
          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
               <div class="container">
                <div class="h5 card-title">Cegonha “míope” vê cara-metade e choca-se com painel publicitário</div>
                <p class="texto_paragrafo"><i>Da AFP</i></p>
                <p class="texto_paragrafo"><i>Em Varsóvia (Polônia)</i></p>
                <p class="texto_paragrafo">Uma cegonha “míope”, que parecia estar desesperadamente à procura de um companheiro, chocou-se em pleno voo com um grande painel publicitário onde figurava outra cegonha, ferindo levemente uma das asas, informou nesta quinta-feira o jornal polonês Zycie.</p>
                <p class="texto_paragrafo">A ave voava majestosamente pelo céu da periferia de Varsóvia, quando acreditou avistar sua “cara-metade” pousada no painel. Mas a realidade era outra...</p>
                <p class="texto_paragrafo">Um pouco tonta devido ao golpe, a cegonha levantou-se, começou a andar e acabou entrando em uma loja de roupas.</p>
                <p class="texto_paragrafo">Os funcionários, impressionados, chamaram a guarda municipal, que levou a solitária e romântica ave para o jardim zoológico da capital polonesa.</p>
                <br>
                <div class="text-right">Disponível em: http://www.uol.com.br/bichos/notícias/atp. Acesso em: 1 jan. 2011</div>
               </div>
                  <br>
                  <br>
                  <h5 class="card-title">QUESTÃO 2</h5>                
                      <p class="card-text">Nesse texto, o trecho que indica o local do voo da cegonha é:</p>
                    <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio"  name="q2" value="A" maxlength="1">-“Uma cegonha “míope”, que parecia estar desesperadamente à procura...”. (3° parágrafo)</li>
                          <li><input type="radio" name="q2" value="B" maxlength="1">-“... chocou-se em pleno voo com um grande painel publicitário...”. (3° parágrafo)</li>
                          <li><input type="radio" name="q2" value="C" maxlength="1">-“A ave voava majestosamente pelo céu da periferia de Varsóvia,...”. (4° parágrafo)</li>
                          <li><input type="radio" name="q2" value="D" maxlength="1">-“... começou a andar e acabou entrando em uma loja de roupas.”. (5° parágrafo)</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                    <div class="container">
                        <h5 class="card-text">Xô, micróbios!</h5>
                        <p class="texto_paragrafo">O sabonete não quer saber. A gente pode até estar bem distraído, lavando as mãos, tomando banho. Mas com o sabonete não tem distração. Ele entra na área e mostra quem manda no pedaço, deixando a pele limpa. </p>
                        <p class="texto_paragrafo">E como a gente precisa dessa limpeza! Enquanto a gente brinca e anda por aí, vai pegando em tanta coisa, que as mãos acabam “hospedando” sem querer um monte de bichinhos muito pequenos, tão pequenos que são invisíveis: os micróbios. </p>
                        <p class="texto_paragrafo">Nem todos os micróbios são prejudiciais, mas alguns tipos, como as bactérias e os vírus, podem causar uma série de doenças. Esses são “hóspedes” muito indesejáveis!</p>
                        <p class="texto_paragrafo">Para livrar a pele dos micróbios, a água sozinha não dá conta do recado. Por isso é preciso usar sempre sabão ou sabonete para limpar as mãos, principalmente antes das refeições [...].</p>
                        <p class="texto_paragrafo">Além de ajudar a retirar as sujeiras mais teimosas, como gordura e terra, o sabonete funciona como um verdadeiro desinfetante contra as bactérias. Se você for comer com as mãos sujas, pode estar engolindo, junto com a comida, certas bactérias que não foram convidadas. Argh! [...]</p>

                        <br>
                        <div class="text-right">Disponível em: http://www.canalkids.com.br/portal/barra/clubv.php?u=../alimentacao/index.php3. Acesso em: 7 mar. 2012. Fragmento. </div>
                    </div>
                   <br>
                  <h5 class="card-title">QUESTÃO 3</h5>
                  <p class="card-text">No trecho “A gente pode até estar <b>bem distraído</b>,...” (1° parágrafo), a expressão destacada dá ideia de </p>
                    <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio"  name="q3" value="A" maxlength="1">-causa.</li>
                          <li><input type="radio" name="q3" value="B" maxlength="1">-lugar.</li>
                          <li><input type="radio" name="q3" value="C" maxlength="1">-modo.</li>
                          <li><input type="radio" name="q3" value="D" maxlength="1">-tempo.</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <div class="container">
                    <h5 class="card-title">E se... Brasília não tivesse sido construída?</h5>
                  <p class="texto_paragrafo">A capital do Brasil seria o Rio de Janeiro, e isso faria uma grande diferença para a história do país. Brasília era um projeto antigo: a ideia de construir uma capital no interior, num local mais seguro de ataques estrangeiros e que ajudasse a garantir a integração nacional, já vinha do Marquês de Pombal, em 1751, quando ainda éramos colônia de Portugal. Em 1823, o patriarca da Independência, José Bonifácio, já chamava a futura cidade de Brasília. Quando Juscelino Kubitschek foi eleito presidente, os planos de construção já estavam em andamento. Mas, se ele não tivesse dado o início às obras, pode ser que a novidade nunca saísse do papel. [...]</p>
                    <br>
                  <div class="text-right">Mundo estranho, São Paulo: Abril, ed. 125, jun. 2012. Fragmento. </div>
                  </div>
                  <br>
                  <br>
                  <h5 class="card-title">QUESTÃO 4</h5>
                  
                  <p class="card-text"> O trecho desse texto que apresenta uma ideia de lugar é:</p>
                  <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio"  name="q4" value="A" maxlength="1">-“... isso faria uma grande diferença para a história...”.</li>
                          <li><input type="radio" name="q4" value="B" maxlength="1">-“... a ideia de construir uma capital no interior,...”.</li>
                          <li><input type="radio" name="q4" value="C" maxlength="1">-“... quando ainda éramos colônia de Portugal.”.</li>
                          <li><input type="radio" name="q4" value="D" maxlength="1">-“... os planos de construção já estavam em andamento.”.</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="container">
                  <div class="h5">Criançando</div>
                  <p class="texto_paragrafo">E quando mudamos para a Epitácio Pessoa, de frente para a Lagoa Rodrigo de Freitas, ganhei um livro de Monteiro Lobato! Ai, que maravilha maravilhosamente maravilhosa!</p>
                  <p class="texto_paragrafo">Era o meu primeiro livro com história em português... e minha casa tinha um quintal comprido, como eram os quintais de antes... e ali brinquei de ser Emília.</p>
                  <p class="texto_paragrafo">No quintal, as três mangueiras: manga-espada, manga-rosa e a manga-carlotinha.</p>
                  <p class="texto_paragrafo">Eu brincava com as mangas caídas no chão. A manga-carlotinha tinha um jeito de  Emília. A manga-rosa, imponente, era a Dona Benta. [...] A manga-espada era minha mãe, cortando meu brinquedo: espada, faca. Eu odiava ter que tomar banho e vestir meu vestido formal para o jantar! Naquele tempo, as crianças pareciam que estavam endomingadas, só para jantar. E minha avó, Clara, usava vestidos de crepe negro, imponentes. </p>
                  <br>
                  <div class="text-right">ORTHOF, Sylvia. Livro aberto: confissões de uma inventadeira de palco e de escrita. 3ª ed. São Paulo: Atual, 1996. </div>                  
                </div>
                  <br>
                  <h5 class="card-title">QUESTÃO 5</h5>
                 
                  <p class="card-text">No trecho “<b>No quintal</b>, as três mangueiras:...” (3° parágrafo), o termo destacado indica</p>
                    <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio" name="q5" value="A" maxlength="1">-afirmação.</li>
                          <li><input type="radio" name="q5" value="B" maxlength="1">-lugar.</li>
                          <li><input type="radio"  name="q5" value="C" maxlength="1">-modo.</li>
                          <li><input type="radio" name="q5" value="D" maxlength="1">-tempo.</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="container">
                  <h5 class="card-text">A onça e a coelhinha</h5>
                  <div class="texto_paragrafo">Uma onça faminta vagava pela ﬂoresta à procura de comida.</div>
                  <div class="texto_paragrafo">De repente, uma coelha branquinha pulou diante dela.</div>
                  <div class="texto_paragrafo">Percebendo a intenção da onça, o pequeno animal tentou distrair o poderoso adversário.</div>
                  <div class="texto_paragrafo">– Bom dia, dona Onça, como vai?</div>
                  <div class="texto_paragrafo">– Muito bem, e vai ﬁcar melhor – respondeu a onça, lançando olhares famintos para a indefesa coelhinha.</div>
                  <div class="texto_paragrafo">– Sabe, tenho seis lindos ﬁlhotes que acabaram de nascer. A senhora quer conhecê-los?</div>
                  <div class="texto_paragrafo">– Oh, sim, por que não? – disse a onça, já pensando num almoço farto.</div>
                  <div class="texto_paragrafo">– Então, espere que vou buscá-los. Volto já. A onça nem foi atrás. </div>
                  <div class="texto_paragrafo">Só pensava no banquete que a aguardava. </div>
                  <div class="texto_paragrafo">E lá ﬁcou à espera.</div>
                  <div class="texto_paragrafo">Se ainda permanece no local, não sei, não.</div>
                  <div class="texto_paragrafo">Só sei que desta vez a coelhinha escapou de virar comida de onça.</div>
                  <br>
                  <div class="text-right">AROEIRA, M. Luisa; BIZZOTO, M. Inês Bizzoto (adapt.). Armazém de Textos. FAPI. </div>
                </div>    
                  <br>
                  <h5 class="card-title">QUESTÃO 6</h5>
                  <p class="card-text">No trecho “De repente, uma coelha branquinha pulou <b>diante</b> dela.” (2° parágrafo), a palavra destacada indica</p>          
                    <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio"  name="q6" value="A" maxlength="1">-causa.</li>
                          <li><input type="radio" name="q6" value="B" maxlength="1">-lugar.</li>
                          <li><input type="radio" name="q6" value="C" maxlength="1">-modo.</li>
                          <li><input type="radio" name="q6" value="D" maxlength="1">-tempo.</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="container">
                  <h5 class="card-text">As pessoas vão poder voar com mochilas a jato no futuro?</h5>
                  <p class="texto_paragrafo">Talvez sim. Na verdade, já existem mochilas a jato que são usadas por astronautas para se locomoverem no espaço. Por enquanto, elas não estão disponíveis para todo mundo porque são caríssimas. Mas em 1984, na cerimônia de abertura das Olimpíadas de Los Angeles, um homem voou sobre o estádio usando uma mochila dessas. E no Carnaval de 2010, durante o desﬁle da Grande Rio, um dublê americano treinado pela NASA passeou sobre o Sambódromo com a ajuda da mesma máquina.</p>
                  <br>
                  <div class="text-right">Recreio, n. 264. </div>
                </div>
                  <br>
                  <h5 class="card-title">QUESTÃO 7</h5>

                  <p class="card-text">No trecho “<b>Por enquanto</b>, elas não estão disponíveis...”, a expressão destacada dá uma ideia de</p>
                    <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio" name="q7" value="A" maxlength="1">-causa.</li>
                          <li><input type="radio" name="q7" value="B" maxlength="1">-lugar.</li>
                          <li><input type="radio" name="q7" value="C" maxlength="1">-modo.</li>
                          <li><input type="radio" name="q7" value="D" maxlength="1">-tempo.</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <div class="container">
                    <h5 class="card-text">Como surgiu a pizza?</h5>
                    <p class="texto_paragrafo">A pizza que comemos hoje, redonda com molho de tomate e coberta com queijo, surgiu em Nápoles, Itália, por volta do século 18. Só que a massa em forma de disco assada em forno e com cobertura é uma criação bem mais antiga. Tudo começou há 6 mil anos com uma fina camada de massa conhecida como “pão de Abrahão” ou “piscea”, consumida por hebreus e egípcios. Três séculos antes de Cristo, os fenícios acrescentaram cobertura de carne e cebola. A ideia foi absorvida pelos turcos e, durante as Cruzadas, no século 11, o pão fino e redondo deles chegou ao porto de Nápoles.</p>
                    <p class="texto_paragrafo"> Os napolitanos aperfeiçoaram a receita com trigo de melhor qualidade e novas coberturas, como o queijo. Só mais tarde, no século 16, o tomate, vindo da América, foi incorporado à pizza. Mas a popularização mundial da redonda rolou mesmo com os norte-americanos, ao término da 2ª Guerra Mundial.</p>
                    <p class="texto_paragrafo"></p>
                    <p class="texto_paragrafo"></p>
                    <br>
                    <div class="text-right">Disponível em: http://mundoestranho.abril.com.br/materia/como-surgiu-a-pizza. Acesso em: 17 mar. 2013. </div>
                  </div>
                  <br>
                  <h5 class="card-title">QUESTÃO 8</h5>
                  <p class="card-text">Qual é o trecho que indica ideia de lugar?</p>
                    <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio"  name="q8" value="A" maxlength="1">-“... redonda com molho de tomate e coberta com queijo,...”. (1° parágrafo)</li>
                          <li><input type="radio" name="q8" value="B" maxlength="1">-“A ideia foi absorvida pelos turcos e, durante as Cruzadas, no século 11,...”. (1° parágrafo)</li>
                          <li><input type="radio" name="q8" value="C" maxlength="1">-“... pão fino e redondo deles chegou ao porto de Nápoles.”. (final do 1° parágrafo)</li>
                          <li><input type="radio" name="q8" value="D" maxlength="1">-“Os napolitanos aperfeiçoaram a receita com trigo de melhor qualidade...”. (2° parágrafo)</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <div class="container">
                    <h5 class="card-text">No alto das árvores</h5>
                    <p class="texto_paragrafo">O bicho-preguiça é um mamífero que só é encontrado nas florestas da América Central e do Sul. Ele vive no alto das árvores, alimentando-se, basicamente, de folhas e, às vezes, de flores e frutos.</p>
                    <p class="texto_paragrafo">Raramente, ele desce ao chão. E, quando o faz, é com muito cuidado, porque é tão acostumado a vida na árvore que, quando está no chão, pode ser facilmente capturado por seus inimigos naturais, como a onça.</p>
                    <p class="texto_paragrafo">Mas, para fazer suas necessidades, o que acontece uma vez por semana, não tem outra saída. Ele desce devagarzinho pelo tronco da árvore e, quando chega no chão, faz um buraquinho no solo com sua pequena, curta e dura calda.</p>
                    <p class="texto_paragrafo">No buraquinho, ele deposita suas fezes e urina, cobrindo-as com folhas secas. Depois, é claro, volta para o alto das árvores. </p>

                    <br>
                    <div class="text-right">Revista Ciência Hoje das Crianças - nº 62 ano9, p.13.</div>
                   

                  </div>
                  
                  <br>
                  <h5 class="card-title">QUESTÃO 9</h5>
        
                  <p class="card-text">No trecho “Ele desce devagarzinho pelo tronco da árvore...” , a palavra sublinhada indica</p>
                    <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio"  name="q9" value="A" maxlength="1">-a hora em que ele desceu.</li>
                          <li><input type="radio" name="q9" value="B" maxlength="1">-o modo como ele desceu.</li>
                          <li><input type="radio" name="q9" value="C" maxlength="1">-o lugar por onde ele desceu.</li>
                          <li><input type="radio" name="q9" value="D" maxlength="1">-o motivo por que ele desceu.</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <div class="container">
                    <div class="card-text">Leia a tirinha:</div>
                    <div class="text-center"><img class="img-fluid" src="/img/lpd12_10_1.png" alt=""></div>
                    <div class="text-center"><img class="img-fluid" src="/img/lpd12_10_2.png" alt=""></div>
                    <br>
                    <div class="text-right">Bill Watterson. Calvin e Haroldo - E foi assim que tudo começou, pág. 99.</div>
                  </div>
                  <br>
                  <h5 class="card-title">QUESTÃO 10</h5>
                  <p class="card-text">Na tirinha, o termo <b>“muito”</b> que está presente em todos os quadrinhos indica</p>
                    <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio"  name="q10" value="A" maxlength="1">-intensidade.</li>
                          <li><input type="radio" name="q10" value="B" maxlength="1">-modo.</li>
                          <li><input type="radio" name="q10" value="C" maxlength="1">-dúvida.</li>
                          <li><input type="radio" name="q10" value="D" maxlength="1">-causa.</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>

        </div>

                
        <div class="d-grid gap-2 m-xl-3">        
          <button type="reset" class="btn btn-danger">LIMPAR</button>
          <button type="submit" class="btn btn-success">RESPONDER</button>
        </div>
      </form>
    </div>
   
     
</body>
<script src="./js/bootstrap.min.js"></script>
<script src="./js/popper.min.js"></script>
<script src="/js/script.js"></script>
</html>