<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Descritor 13</title>
</head>
<body class="bg-primary">
<header class=""><h4>D13 – Identificar efeitos de ironia ou humor em textos variados;</h4></header>
<hr> 
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
              <p>Observe a tirinha abaixo:</p>
                <div class="card-body text-center">
                  <img class="img-fluid" src="/img/lpd13_1.png" alt="">
                </div>
            </div>
        </div>       
    </div>
    <br>
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body">
            
            <h5 class="card-title">Questão 1</h5>
              <p class="card-text">Esse texto é engraçado porque</p>
              <ol type="A">
                  <li>a criança ficou feliz por ter ganhado o jogo.</li> 
                  <li>a criança imaginou que estava em um jogo de verdade.</li> 
                  <li>o dinossauro perdeu a partida de futebol de botão.</li> 
                  <li>o juiz marcou falta para um dos jogadores.</li> 
              </ol>
          </div>
        </div>
      </div>
      
    </div>
    <br>

</div> 

<div class="container">
  <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <p>Oberve o anúncio abaixo:</p>
            <img class="img-fluid" src="/img/lpd13_2.png" alt="">
          </div>
        </div>
      </div>
  </div>
  <br>
  <div class="row">
     <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Questão 2</h5>
            <p class="card-text">No texto, uma <b>PASSAGEM ENGRAÇADA</b> é</p>
            <ol type="A">
              <li>"Amarre um feixe de ramos secos."</li>
              <li>"A versão moderna da vassoura tem suas limitações".</li>
              <li>"Bata numa superfície dura".</li>
              <li>"Enfie o cabo da vassoura no feixe."</li>
            </ol>
          </div>
        </div>
      </div>    
    <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Questão 3</h5>
            <p class="card-text">O texto é divertido, <b>PRINCIPALMENTE</b> , porque</p>
            <ol type="A">
              <li>apresenta uma bruxa trapalhona e medrosa.</li>
              <li>dá instruções sobre como fabricar uma vassoura.</li>
              <li>ensina como a bruxa deve limpar a sua casa.</li>
              <li>trata de como fazer uma vassoura e usá-la no fogão.</li>
            </ol>
          </div>
        </div>
      </div>
     
  </div>
  <br>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <p>Leia o texto abaixo</p>
          <p class="card-text">
            <p>A professora pergunta aos alunos:</p>
            <p>– Se eu for à feira e comer 4 peras, 3 bananas, 10 laranjas e 1 melancia, qual será o resultado? Do fundo da sala, Joãozinho grita:
            <p>– Uma dor de barriga!</p>
           </p>

          <small>BRUNABIANCA. Piada da lógica do Joãozinho. In: Piadas. 2014. Disponível em: <https://www.piadas.com.br/piadas/piadas-para-criancas/piada-da-logica-do-joaozinho>. Acesso em: 9 abr. 2018. 
</small>
          </p>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Questão 4</h5>
          <p class="card-text">Esse texto é engraçado porque</p>
          <ol type="A">
            <li>Joãozinho entendeu que a professora comeria muitas frutas.</li>
            <li>Joãozinho entendeu que a professora não sabia fazer contas.</li>
            <li>Joãozinho gritou do fundo da sala de aula.</li> 
            <li>Joãozinho não soube responder à pergunta.</li>
          </ol>
        </div>
      </div>
    </div>
    
  </div>
  <br>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Continho</h5>
          <p class="card-text">Era uma vez um menino triste, magro e barrigudinho. Na soalheira danada de meio-dia, ele estava sentado na poeira do caminho, imaginando bobagem, quando passou um vigário a cavalo. </p>
          <p>— Você, aí, menino, para onde vai essa estrada? </p>
          <p>— Ela não vai não: nós é que vamos nela. </p>
          <p>— Engraçadinho duma figa! Como você se chama? </p>
          <p>— Eu não me chamo, não, os outros é que me chamam de Zé.</p>
          <small>MENDES CAMPOS, Paulo, Para gostar de ler - Crônicas. São Paulo: Ática, 1996, v. 1 p. 76.</small>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Questão 5</h5>
          <p class="card-text">Há traço de humor no trecho:</p>
          <ol type="A">
            <li>“Era uma vez um menino triste, magro”.</li>
            <li>“ele estava sentado na poeira do caminho”.</li>
            <li>“quando passou um vigário”.</li>
            <li>“Ela não vai não: nós é que vamos nela”.</li>
          </ol>
        </div>
      </div>
    </div>
    
  </div>
  <br>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Questão 6</h5>
          <p>Observe a tirinha abaixo:</p>
          <img class="img-fluid" src="/img/lpd13_6.png" alt="">
          <p class="card-text">O humor desse texto está</p>
          <ol type="A">
            <li>na expressão de força do menino atleta, no primeiro quadro.</li>
            <li>no cansaço do menino atleta, no terceiro quadro.</li>
            <li>no olhar do menino fotógrafo, no segundo quadro.</li>
            <li>na posição invertida dos meninos, no último quadro.</li>
          </ol>
        </div>
      </div>
      
    </div>
    
  </div>
  <br>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">O socorro</h5>
          <p class="card-text">
            <p>Ele foi cavando, cavando, cavando, pois sua profissão – coveiro – era cavar. Mas, de repente, na distração do ofício que amava, percebeu que cavara demais. Tentou sair da cova e não conseguiu. Levantou o olhar para cima e viu que, sozinho, não conseguiria sair. Gritou. Ninguém atendeu. Gritou mais forte. Ninguém veio. Enrouqueceu de gritar, cansou de esbravejar, desistiu com a noite. Sentou-se no fundo da cova, desesperado. A noite chegou, subiu, fez-se o silêncio das horas tardias. Bateu o frio da madrugada e, na noite escura, não se ouvia um som humano, embora o cemitério estivesse cheio de pipilos e coaxares naturais dos matos. Só pouco depois da meia-noite é que lá vieram uns passos. Deitado no fundo da cova o coveiro gritou. Os passos se aproximaram. Uma cabeça ébria apareceu lá em cima, perguntou o que havia: ― “O que é que há?”. </p>
            <p>O coveiro então gritou desesperado: ―Tire-me daqui, por favor. Estou com um frio terrível!”. ― Mas, coitado!” condoeu-se o bêbado ―Tem toda razão de estar com frio. Alguém tirou a terra de cima de você, meu pobre mortinho!” E pegando a pá, encheu-a de terra e pôs-se a cobri-lo cuidadosamente. </p>
            <p><b>Moral:</b> Nos momentos graves é preciso verificar muito bem a quem se apela. </p>
            <p></p>
            <small>FERNANDES, Millôr. Disponível em http://citador.weblog.com.pt/arquivo/109176.html</small>
          </p>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Questão 7</h5>
          <p class="card-text">O que faz esse texto ficar engraçado? </p>
          <ol type="A">
            <li>O bêbado ter imaginado que o coveiro era um morto e jogar terra para cobri-lo. </li>
            <li>O coveiro ficar cavando e sentir frio durante a madrugada. </li>
            <li>O homem ficar sentado no fundo enrouquecido de tanto gritar. </li>
            <li>O homem ter cavado demais e ficar preso no buraco.</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">O ELEFANTE</h5>
          <p class="card-text">
            <p>O Juquinha e outros dois garotos foram levados ao diretor do zoológico por causa de uma baita briga. </p>
            <p>O diretor começa o interrogatório:</p>
            <p>— Quem é você e por que está aqui?</p>
            <p>— Eu sou Juquinha e joguei amendoim nos elefantes.</p>
            <p>Então o diretor perguntou ao segundo:</p>
            <p>— Quem é você e por que está aqui?</p>
            <p>— Eu sou Joãozinho e joguei amendoim nos elefantes.</p>
            <p>Então o diretor perguntou ao terceiro menino, que estava todo machucado:</p>
            <p>— Quem é você e por que está aqui?</p>
            <p></p>
            <small>Fonte: DOMENICO, Guca; SARRUMOR, Laert. O elefante. In:   Um campeonato de piadas. São Paulo: Nova Alexandria, 1999. </small>
          </p>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Questão 8</h5>
          <p class="card-text">O texto é engraçado porque:</p>
          <ol type="A">
            <li>Juquinha e seus amigos foram levados para o diretor do zoológico.</li>
            <li>os meninos jogaram amendoim no elefante.</li>
            <li>o terceiro menino tinha apelido de amendoim.</li>
            <li>o terceiro menino estava todo machucado.</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>

<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <p>Observe a HQ abaixo:</p>
          <img class="img-fluid" src="/img/lpd13_9.png" alt="">
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Questão 9</h5>
          <p class="card-text">O que torna a história engraçada é que o personagem Titi</p>
          <ol type="A">
            <li>descobriu que era domingo no último quadrinho.</li>
            <li>acordou assustado, no 1º quadrinho.</li>
            <li>deu um beijo na mãe, antes de sair.</li>
            <li>tomou café bem quentinho.</li>
          </ol>
        </div>
      </div>
    </div>
    
  </div>
  <br>
</div>

<div class="container">
  <div class="row">
   <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">LOROTAS DE PESCADOR</h5>
        <p class="card-text">
          <p>João e José, dois velhos amigos que gostavam de pescar, comparavam suas proezas esportivas, como sempre um procurando superar o outro.</p>
          <p>— Outro dia eu pesquei um bagre — disse João —, e nem queira saber, era o maior bagre que olhos mortais já viram. Pesava pelo menos duzentos quilos.</p>
          <p>— Isso não é nada — respondeu José. — Outro dia eu estava pescando, e adivinhe o que veio pendurado no meu anzol? Uma lâmpada de navio, com uma data gravada nela: A.D. 1392! Imagine só: cem anos antes da descoberta da América por Cristóvão Colombo. E não é só isso: dentro da lâmpada havia uma luz, e ela ainda estava acesa!</p>
          <p>João olhou para a cara de José e ficou calado por um momento. Mas logo sorriu e disse:</p>
          <p>— Olhe aqui, José, vamos entrar num acordo. Eu abato 198 quilos do meu bagre. E você apaga a luz da sua lâmpada, está bem?</p>
          <p></p>
          <small>Fonte: BELINKY, Tatiana. Lorotas de Pescador. In: ___. Mentiras... e Mentiras. 2. ed. São Paulo: Companhia das Letrinhas. 2005, p. 23.</small>
        </p>
      </div>
    </div>
   </div>
    
  </div>
  <br>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Questão 10</h5>
          <p class="card-text">O efeito de humor desse texto é produzido especialmente pelo fato de</p>
          <ol type="A">
            <li>João e José gostarem de pescar.</li>
            <li>João ter pescado um bagre enorme.</li>
            <li>José ter encontrado uma lâmpada de navio.</li>
            <li>João ter feito a proposta a José.</li>            
          </ol>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>

<% //Gabarito %>
<div class="container">
    <h3 class="h3 text-lg-center text-white">Gabarito</h3>
    <form method="POST" action="/confirmacao-lpd13">
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">@</span>
        <input type="text" class="form-control" placeholder="Digite seu nome aqui" aria-label="Digite seu nome aqui" aria-describedby="basic-addon1" name="name" id="name">
      </div>
      <table class="table table-light">
        <thead>
          <tr>
            <th scope="col">Q 1</th>
            <th scope="col">Q 2</th>
            <th scope="col">Q 3</th>
            <th scope="col">Q 4</th>
            <th scope="col">Q 5</th>
            <th scope="col">Q 6</th>
            <th scope="col">Q 7</th>
            <th scope="col">Q 8</th>
            <th scope="col">Q 9</th>
            <th scope="col">Q 10</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><input type="text" class="form-control" name="q1" maxlength="1"></td>
            <td><input type="text" class="form-control" name="q2" maxlength="1"></td>
            <td><input type="text" class="form-control" name="q3" maxlength="1"></td>
            <td><input type="text" class="form-control" name="q4" maxlength="1"></td>
            <td><input type="text" class="form-control" name="q5" maxlength="1"></td>
            <td><input type="text" class="form-control" name="q6" maxlength="1"></td>
            <td><input type="text" class="form-control" name="q7" maxlength="1"></td>
            <td><input type="text" class="form-control" name="q8" maxlength="1"></td>
            <td><input type="text" class="form-control" name="q9" maxlength="1"></td>
            <td><input type="text" class="form-control" name="q10" maxlength="1"></td>
            <input type="text" name="descritor" value="Língua Portuguesa D13" hidden>

          </tr>
        </tbody>
      </table>
      
      <div class="d-grid gap-2 m-xl-3">        
        <button type="reset" class="btn btn-danger">LIMPAR</button>
        <button type="submit" class="btn btn-success">RESPONDER</button>
      </div>
    </form>
</div>

</body>
<script src="./js/bootstrap.min.js"></script>
<script src="./js/popper.min.js"></script>
</html>