<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Língua Portuguesa D11</title>
</head>
<body class="bg-primary">
  <div class="h3 text-lg-center text-white">ESCOLA MUNICIPAL JUSLANY DE SOUZA FLORES</div>
      <div class="h3 text-lg-center text-white">5º ANO TURMA A</div>  
  <hr>
  <header class="container-sm">
    <h4>D11 – Distinguir um fato da opinião relativa a esse fato.</h4>
  </header>
  <br>
  <br>
    <div class="container-sm">
      
      <form method="POST" action="/gabarito_lpd11" onsubmit="return validarFormulario()">
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">@</span>
          <input type="text" class="form-control" placeholder="Digite seu nome aqui" aria-label="Digite seu nome aqui" aria-describedby="basic-addon1" name="name" id="name">
        </div>
        <div class="container-sm">

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                    <div class="h5">Minha visão da África</div>
                  <p class="texto_paragrafo">Um dia minha mãe foi me buscar na escola.</p>
                  <p class="texto_paragrafo">Ela fez uma cara séria e disse que a gente precisava conversar.</p>
                  <p class="texto_paragrafo">– Filha, eu fui convidada para trabalhar na embaixada brasileira em Angola e vou ter que morar lá por pelo menos um ano.</p>
                  <p class="texto_paragrafo">Como eu não sou muito boa de Geograﬁa, tive que perguntar:</p>
                  <p class="texto_paragrafo">– Onde fica Angola?</p>
                  <p class="texto_paragrafo">– Na África, Bia.</p>
                  <p class="texto_paragrafo">Aí a coisa engrossou. Já estava quase decidida a ir com minha mãe, mas para a África era um pouco radical demais:</p>
                  <p class="texto_paragrafo">– Você tá brincando, né, mãe? Tá querendo me levar para o meio da selva, com um monte de leões e elefantes?</p>
                  <p class="texto_paragrafo">Minha mãe respondeu séria:</p>
                  <p class="texto_paragrafo">– Essa é uma visão errada da África. Lá existem leões e elefantes, mas eles estão em reservas. Além disso, também existem muitas cidades grandes como as nossas.</p>
                  <div class="text-right">DREGUER, Ricardo. Bia na África. São Paulo: Moderna, 2007. </div>
                  <br>
                  <br>

                  <h5 class="card-title">QUESTÃO 1</h5>
                  <p class="card-text">De acordo com esse texto, na opinião de Bia, a África</p>
                    <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio"  name="q1" value="A" maxlength="1">-é uma selva cheia de animais. </li>
                          <li><input type="radio" name="q1" value="B" maxlength="1">-mantém uma embaixada brasileira.</li>
                          <li><input type="radio" name="q1" value="C" maxlength="1">-possui muitas cidades grandes.</li>
                          <li><input type="radio" name="q1" value="D" maxlength="1">-possui reservas para os animais.</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>
          
          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Entenda o terremoto e o tsunami que atingiram o Japão</h5>
                  <p class="texto_paragrafo">Parecia um dia normal na escola quando o japonês Mokimasa Mitsui, 13, de Tóquio, sentiu a terra tremer. “Achei que o mundo fosse acabar”, conta. Apesar de já estar acostumado com tremores, o menino sentiu medo.</p>
                  <p class="texto_paragrafo">Não era para menos: o terremoto que aconteceu em 11 de março pegou todo o mundo de surpresa. Ele causou ondas enormes e foi o maior da história do Japão.</p>
                  <p class="texto_paragrafo">O desastre foi grande, mas cientistas dizem que seria pior se os japoneses não estivessem tão preparados. Ali, por exemplo, os prédios resistem aos chacoalhões. </p>
                  <p class="texto_paragrafo">A Terra é como um ovo cozido com a casca quebrada. Ela tem um centro líquido que vive se mexendo. Seus movimentos fazem os pedaços de casca, as placas tectônicas, se empurrarem. Tanta pressão gera o terremoto.</p>
                    <small>Disponível em: http://www1.folha.uol.com.br/folhinha/890776-entenda-o-terremoto-e-o-tsunami-que-atingiram-o-japao.shtml.
                      Acesso em: 20 mar. 2011. 
                      </small>

                  <br>
                  <br>
                  <h5 class="card-title">QUESTÃO 2</h5>                
                      <p class="card-text">Nesse texto, qual é o trecho que mostra uma opinião sobre o terremoto? </p>
                    <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio"  name="q2" value="A" maxlength="1">-“Parecia um dia normal...”. (1° parágrafo)</li>
                          <li><input type="radio" name="q2" value="B" maxlength="1">-“‘Achei que o mundo fosse acabar,’...”. (1° parágrafo)</li>
                          <li><input type="radio" name="q2" value="C" maxlength="1">-“... pegou todo o mundo de surpresa.”. (2° parágrafo)</li>
                          <li><input type="radio" name="q2" value="D" maxlength="1">-“O desastre foi grande,...”. (3° parágrafo)</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                    <div class="container">
                        <h5 class="card-text">A menina corajosa</h5>
                        <p class="texto_paragrafo">Esta história aconteceu com a minha bisavó paterna e foi contada pela ﬁlha dela, que é minha avó. Quando criança, minha bisavó morava num sítio. Seu pai sustentava a família trabalhando na roça. Todos os dias, ela ia levar comida para o pai no roçado, um lugar longe de casa. Sua cachorrinha sempre ia com ela.</p>
                        <p class="texto_paragrafo">Um dia, quando levava a marmita para o pai, andando bem tranquila pela trilheira, num lugar onde a mata era fechada, viu que a cachorrinha começou a choramingar e a se enrolar nas próprias pernas. A menina percebeu que alguma coisa estranha estava acontecendo.</p>
                        <p class="texto_paragrafo">Olhou para os lados e viu uma onça bem grande, com o bote armado, a ponto de pular do capinzeiro em cima dela.</p>
                        <p class="texto_paragrafo">No que viu a onça, a menina ﬁcou encarando a danada. Pouco a pouco, sempre olhando para o bicho, ela foi se afastando para trás sem se virar. Quando pegou uma boa distância, a menina correu em disparada até se sentir segura.</p>
                        <p class="texto_paragrafo">Quando chegou em casa, estava sem voz. Depois de muito tempo é que conseguiu falar.</p>
                        <p class="texto_paragrafo">Os homens da fazenda pegaram as armas e foram procurar a onça. Mas não a encontraram. </p>
                        <p class="texto_paragrafo">Minha bisavó foi muito corajosa, porque na hora em que ela viu a onça, conseguiu lembrar do que o povo dizia: “Onça não ataca de frente, porque tem medo do rosto da pessoa. Quem quiser se ver livre dela basta encarar a danada e não lhe dar as costas”.</p>
                        <div class="text-right">TOMAZ, Cristina Macedo. De boca em boca. São Paulo: Salesiana, 2002. </div>
                    </div>
                   <br>
                  <h5 class="card-title">QUESTÃO 3</h5>
                  <br>
                  <p class="card-text">A frase que expressa uma opinião sobre a bisavó é:</p>
                    <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio"  name="q3" value="A" maxlength="1">-“Quando criança, minha bisavó morava num sítio.”. (1° parágrafo)</li>
                          <li><input type="radio" name="q3" value="B" maxlength="1">-“Seu pai sustentava a família trabalhando na roça.”. (1° parágrafo)</li>
                          <li><input type="radio" name="q3" value="C" maxlength="1">-“Sua cachorrinha sempre ia com ela.”. (1° parágrafo)</li>
                          <li><input type="radio" name="q3" value="D" maxlength="1">-“Minha bisavó foi muito corajosa,...”. (último parágrafo)</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <div class="container">
                    <h5 class="card-title">Direitos da Criança </h5>
                    <p><i>Direito à infância</i></p>
                  <p class="texto_paragrafo">Desde o momento em que nasce, toda criança se torna cidadã. E por isso, criança também tem direitos. Não é porque são pessoas pequenas que as crianças são menos importantes. Pelo contrário: elas devem receber atenção especial, pois a infância é a fase mais importante da vida.</p>
                  <p class="texto_paragrafo">Para que todos tenham uma infância legal, a ONU (Organização das Nações Unidas) criou um conjunto de direitos para as crianças. É a Declaração Universal dos Direitos da Criança, escrita em 1959.</p>
                  <p class="texto_paragrafo">Essa declaração assegura que todas as crianças tenham direitos iguais. [...]</p>
                  <p class="texto_paragrafo">Desde o nascimento, toda criança tem direito a um nome e uma nacionalidade, tem direito a crescer e se desenvolver com saúde, alimentação, habitação, recreação e assistência médica adequadas. [...]</p>
<br>
                  <div class="text-right">Disponível em: http://www.canalkids.com.br/cidadania/direitos/crianca.htm. Acesso em: 7 mar. 2012. Fragmento. </div>
                  </div>
                  <br>
                  <br>
                  <h5 class="card-title">QUESTÃO 4</h5>
                  
                  <p class="card-text"> Qual é o trecho que apresenta uma opinião do autor sobre as crianças?</p>
                  <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio"  name="q4" value="A" maxlength="1">-“Desde o momento em que nasce, toda criança se torna cidadã.”. (1° parágrafo)</li>
                          <li><input type="radio" name="q4" value="B" maxlength="1">-“Não é porque são pessoas pequenas que as crianças são menos importantes.”. (1° parágrafo)</li>
                          <li><input type="radio" name="q4" value="C" maxlength="1">-“... a ONU (...) criou um conjunto de direitos para as crianças.”. (2° parágrafo)</li>
                          <li><input type="radio" name="q4" value="D" maxlength="1">-“Essa declaração assegura que todas as crianças tenham direitos iguais.”. (3° parágrafo)</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="container">
                  <div class="text-center"><img class="img-fluid" src="/img/lpd11_5.png" alt=""></div>
                </div>
                
                  <br>
                  <br>
                  <h5 class="card-title">QUESTÃO 5</h5>
                 
                  <p class="card-text">O poema denuncia um fato que é um grave problema social. Que fato é esse?</p>
                    <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio" name="q5" value="A" maxlength="1">-Pessoas que não cuidam direito do corpo.</li>
                          <li><input type="radio" name="q5" value="B" maxlength="1">-Tem gente que não descansa à noite.</li>
                          <li><input type="radio"  name="q5" value="C" maxlength="1">-Muita gente passa à noite espiando a lua e não dormem direito.</li>
                          <li><input type="radio" name="q5" value="D" maxlength="1">-A falta de habitação digna para muita gente.</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="container">
                  <h5 class="card-text">Pé da Letra</h5>
                  <div class="texto_paragrafo">Oi, gente!</div>
                  <div class="texto_paragrafo">Meu nome é Alessandra. Lelé, para os íntimos. Eu gostaria que o meu apelido fosse Sandra ou Leca, mas a turma prefere Lelé. Acho que é por causa de uma mania que eu tenho de levar tudo ao pé da letra.</div>
                  <div class="texto_paragrafo">No meu quarto, tem um A enorme desenhado na parede, com pezinhos e tudo, e é aos pés dele que eu coloco todas as minhas ideias e problemas, escritos em minúsculos bilhetinhos. No fim do dia, minha mãe joga tudo fora. Ela vive reclamando:</div>
                  <div class="texto_paragrafo">– Seu quarto é um depósito de lixo! [...]</div>
                  <div class="texto_paragrafo">Meu pai acha que levar tudo ao pé da letra é uma grande bobagem, mas eu não dou o braço a torcer! Já imaginaram que feia eu iria ficar com o braço todo torcido? Fora a dor, claro!</div>
                  <div class="texto_paragrafo">Ih! ... Falando no meu pai, daqui a pouco ele entra no meu quarto. E se me encontra escrevendo em vez de estudar, entro numa fria! Acho que vou até me prevenir, colocando uma malha. Basta ficar frio pra eu me resfriar.</div>
                  <div class="texto_paragrafo">Então, até já!</div>
                  <br>
                  <div class="text-right">PERLMAN, Alina. Ao pé da letra. 5 ed. São Paulo: Scipione, 1996, p. 2. * Adaptado: Reforma Ortográﬁca. </div>
                </div>    
                  <br>
                  <h5 class="card-title">QUESTÃO 6</h5>
                  <p class="card-text">A frase que mostra uma opinião é:</p>          
                    <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio"  name="q6" value="A" maxlength="1">-“Eu gostaria que o meu apelido fosse Sandra ou Leca, mas a turma prefere Lelé.”. (2° parágrafo)</li>
                          <li><input type="radio" name="q6" value="B" maxlength="1">-“... coloco todas as minhas ideias e problemas, escritos em minúsculos bilhetinhos.”. (2° parágrafo)</li>
                          <li><input type="radio" name="q6" value="C" maxlength="1">-“No fim do dia, minha mãe joga tudo fora.”. (3° parágrafo)</li>
                          <li><input type="radio" name="q6" value="D" maxlength="1">-“... mas eu não dou o braço a torcer!”. (5° parágrafo)</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="container">
                  <h5 class="card-text">Querido diário,</h5>
                  <p class="texto_paragrafo">Hoje vou dormir muito, mas muito feliz! Não sabe o que aconteceu, minha tia Cassandra me deu um gatinho malhado muito fofo! Ele é super pequeno e toma leite toda hora, nunca vi tanta fome!</p>
                  <p class="texto_paragrafo">Arrumei um cantinho quentinho para ele dormir, do meu lado no quarto. Só que não tenho um nome ainda para dar, vou conversar com as minhas amigas e pedir umas sugestões. Acho que começa hoje uma grande amizade com aquele gatinho sapeca... taí, sapeca é um nome bacana!</p>
                  <br>
                  <div class="text-right">Disponível em: http://www.escolakids.com/conhecendo-mais-um-genero-textual-o-diario.htm. Acesso em: 11 jan. 2013. </div>
                </div>
                  <br>
                  <h5 class="card-title">QUESTÃO 7</h5>

                  <p class="card-text">Qual é o trecho que apresenta uma opinião?</p>
                    <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio" name="q7" value="A" maxlength="1">-“Não sabe o que aconteceu, minha tia Cassandra me deu um gatinho...”.</li>
                          <li><input type="radio" name="q7" value="B" maxlength="1">-“Arrumei um cantinho quentinho para ele, do meu lado no quarto.”.</li>
                          <li><input type="radio" name="q7" value="C" maxlength="1">-“Só que não tenho um nome ainda para dar,...”.</li>
                          <li><input type="radio" name="q7" value="D" maxlength="1">-“Acho que começa hoje uma grande amizade...”.</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <div class="container">
                    <h5 class="card-text">Criança na cozinha?</h5>
                    <p class="texto_paragrafo">Criança na cozinha é o máximo, sabia? Cozinhar é muito, muito legal, tanto para quem cozinha, como para quem come. Fazer uma comidinha para outra pessoa é mais ou menos como fazer um carinho nela. E nem precisa ser aquele prato todo trabalhoso e difícil, com receita e tudo mais. Que nada: até uma salada de frutas, quando feita para alguém que você gosta, sua mãe, sua avó, sua tia, agrada que só vendo!</p>
                    <p class="texto_paragrafo">E olha: preparar algo para você mesmo comer, como um lanche, por exemplo, é também fazer um carinho em você mesmo. É se tratar bem!</p>
                    <p class="texto_paragrafo">Não são muitas as crianças que usam a cozinha de casa para preparar lanches e refeições. </p>
                    <p class="texto_paragrafo">Muitas mães ficam aflitas só de ver o filho se melecar e sujar muito o chão da cozinha enquanto ele prepara os alimentos. Aí, elas vão lá e fazem, para evitar a bagunça. Mas, se insistir, ela vai deixar e ficará ao seu lado. Sim, porque até você ter prática, vai precisar de um adulto por perto. A partir de então, é só mostrar para a mãe do que uma criança é capaz na cozinha! [...]</p>
                  </div>
                  <br>
                  <h5 class="card-title">QUESTÃO 8</h5>
                  <p class="card-text">No Texto, a única alternativa que não apresenta uma opinião é:</p>
                    <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio"  name="q8" value="A" maxlength="1">-“Cozinhar é muito, muito legal, tanto para quem cozinha, como para quem come.”. (1° parágrafo)</li>
                          <li><input type="radio" name="q8" value="B" maxlength="1">-“Sim, porque até você ter prática, vai precisar de um adulto por perto.”. (último parágrafo) </li>
                          <li><input type="radio" name="q8" value="C" maxlength="1">-“Muitas mães ficam aflitas só de ver o filho se melecar e sujar muito o chão...”. (4° parágrafo)</li>
                          <li><input type="radio" name="q8" value="D" maxlength="1">-“Não são muitas as crianças que usam a cozinha de casa para preparar lanches...”. (3° parágrafo)</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <div class="container">
                    <h5 class="card-text">MEIO AMBIENTE</h5>
                    <p class="texto_paragrafo">A descoberta do estranhíssimo sapo-fóssil</p>
                    <p class="texto_paragrafo">Apareceu pelas colinas da Índia um sapo bem esquisitão. Para começar, ele é roxo (“creeedo! ”). Tem sete centímetros e um focinho pontudo. A cabeça é meio pequena para o corpo, e, por isso, o bicho parece mais uma bolha gosmenta roxa (Creedo! ) do que um ser vivo. E mais estranho que isso só o nome dele: Nasikabatrachus sahyadrensis (mas esse nome- palavrão na verdade quer dizer uma coisa bem simples – “sapo da montanha Sahyadri”). </p>
                    <p class="texto_paragrafo">O sapo pode até ser feioso, mas, para os seus descobridores, ele é o bicho mais bonito do mundo. É que o sapo da montanha é um fóssil vivo, de 130 milhões de anos atrás. Os antepassados dele viveram na época dos dinossauros, e, por isso, o sapão roxo é muito importante para entender como os anfíbios da família dele evoluíram. Logo... o Nasika é lindo! </p>

                    <br>
                    <div class="text-right">Disponível em: http://www.canalkids.com.br/central/arquivo/meio_sapofossil.htm</div>
                   

                  </div>
                  
                  <br>
                  <h5 class="card-title">QUESTÃO 9</h5>
        
                  <p class="card-text">De acordo com esse texto, qual é a opinião dos pesquisadores sobre o sapo encontrado na Índia?</p>
                    <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio"  name="q9" value="A" maxlength="1">-Ele é o bicho mais lindo do mundo.</li>
                          <li><input type="radio" name="q9" value="B" maxlength="1">-Ele tem sete centímetros e focinho pontudo.</li>
                          <li><input type="radio" name="q9" value="C" maxlength="1">-É roxo e apareceu nas colinas da Índia.</li>
                          <li><input type="radio" name="q9" value="D" maxlength="1">-É um fóssil vivo de 130 milhões de anos. </li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <div class="container">
                    <h5 class="card-text">Alpinista e fotógrafo escalam cachoeira congelada na Noruega</h5>
                    <p class="texto_paragrafo">Entusiastas dos esportes radicais, o alpinista Will Gadd e o fotógrafo Christian Pondella já escalaram juntos dezenas de montanhas em todo o mundo. </p>
                    <p class="texto_paragrafo">Em sua viagem de inverno, porém, decidiram ir à Noruega não para “vencer” uma delas. O destino dessa vez era uma cachoeira de 200 metros, [...] que estava congelada por causa das temperaturas que chegavam a – 15 ºC. </p>
                    <p class="texto_paragrafo">“Na bagagem, trouxe imagens impressionantes e experiências incríveis”, disse Pondella. </p>
                    <p class="texto_paragrafo">Ele conta que os principais desafios eram manter-se aquecido e carregar o equipamento fotográfico, composto por câmeras e lentes extras. “Mas o esforço valeu a pena. Me senti no topo do mundo.”. </p>
                    <br>
                    <div class="text-right">Disponível em: http://www1.folha.uol.com.br/bbc/862699-alpinista-e-fotografo-escalam-cachoeira-congelada-na-noruega.shtml. Acesso em: 22 mar. 2011. Fragmento. </div>
                  </div>
                  <br>
                  <h5 class="card-title">QUESTÃO 10</h5>
                  <p class="card-text">Nesse texto, qual é o trecho que expressa uma opinião sobre a aventura? </p>
                    <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio"  name="q10" value="A" maxlength="1">-“... não para ‘vencer’ uma delas.”. </li>
                          <li><input type="radio" name="q10" value="B" maxlength="1">-“‘Mas o esforço valeu a pena’.”.</li>
                          <li><input type="radio" name="q10" value="C" maxlength="1">-“... decidiram ir à Noruega...”. </li>
                          <li><input type="radio" name="q10" value="D" maxlength="1">-“Entusiastas dos esportes radicais,...”. </li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>

        </div>

                
        <div class="d-grid gap-2 m-xl-3">        
          <button type="reset" class="btn btn-danger">LIMPAR</button>
          <button type="submit" class="btn btn-success">RESPONDER</button>
        </div>
      </form>
    </div>
   
     
</body>
<script src="./js/bootstrap.min.js"></script>
<script src="./js/popper.min.js"></script>
<script src="/js/script.js"></script>
</html>