<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Língua Portuguesa D1</title>
</head>
<body class="bg-primary">
  <div class="h3 text-lg-center text-white">ESCOLA MUNICIPAL JUSLANY DE SOUZA FLORES</div>
      <div class="h3 text-lg-center text-white">5º ANO TURMA A</div>  
  <hr>
  <header class="container-sm">
    <h4>D1 – Localizar informações explícitas em um texto</h4>
  </header>
    <div class="container-sm">
      
      <form method="POST" action="/gabarito_lpd1" onsubmit="return validarFormulario()">
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">@</span>
          <input type="text" class="form-control" placeholder="Digite seu nome aqui" aria-label="Digite seu nome aqui" aria-describedby="basic-addon1" name="name" id="name">
        </div>
        <div class="container-sm">
          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <div class="h5">O URSO E AS ABELHAS</div>
                  <p class="texto_paragrafo">Um urso topou com uma árvore caída que servia de depósito de mel para um enxame de abelhas.</p>
                  <p class="texto_paragrafo">Começou a farejar o tronco quando uma das abelhas do enxame voltou do campo de trevos. Adivinhando o que ele queria, deu uma picada daquelas no urso e depois desapareceu no buraco do tronco.</p>
                  <p class="texto_paragrafo">O urso ficou louco de raiva e se pôs a arranhar o tronco com as garras na esperança de destruir a colméia. A única coisa que conseguiu foi fazer o enxame inteiro sair atrás dele.</p>
                  <p class="texto_paragrafo">O urso fugiu a toda velocidade e só se salvou porque mergulhou de cabeça num lago.</p>
                  <small>Fábulas de Esopo. Compilação de Russel Ash e Bernard Higton;
                  tradução de Heloisa Jahn, São Paulo, Companhia das Letrinhas,
                  1994. p. 24. * Adaptado: Reforma Ortográfica. </small>
                  <br>
                  <br>
                  <h5 class="card-title">QUESTÃO 1</h5>
                  <p class="card-text">Como o urso conseguiu se salvar do enxame de abelhas?</p>
                    <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio"  name="q1" value="A" maxlength="1">-Mergulhou de cabeça num lago.</li>
                          <li><input type="radio" name="q1" value="B" maxlength="1">-Fugiu do enxame a toda velocidade.</li>
                          <li><input type="radio" name="q1" value="C" maxlength="1">-Arranhou o tronco da árvore.</li>
                          <li><input type="radio" name="q1" value="D" maxlength="1">-Topou com um tronco no caminho.</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <div class="card-title h5">Caipora</div>
                  <p class="texto_paragrafo">É um Mito do Brasil que os índios já conheciam desde a época do descobrimento. Índios e Jesuítas o chamavam de Caiçara, o protetor da caça e das matas. </p>
                  <p class="texto_paragrafo">Seus pés voltados para trás servem para despistar os caçadores, deixando-os sempre a seguir rastros falsos. Quem o vê, perde totalmente o rumo, e não sabe achar o caminho de volta. É impossível capturá-lo. Para atrair suas vítimas, ele, às vezes, chama as pessoas com gritos que imitam a voz humana. É também chamado de pai ou Mãe-do-mato, Curupira e Caapora. Para os índios Guaranis, ele é o Demônio da Floresta. Às vezes é visto montando um porco do mato. </p>
                  <small>http://www.arteducação.pro.br</small>
                  <br>
                  <br>
                  <h5 class="card-title">QUESTÃO 2</h5>                

                      <p class="card-text">De acordo com esse texto, os pés voltados para trás da Caipora sevem para </p>
                    <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio"  name="q2" value="A" maxlength="1">-atrair suas vítimas</li>
                          <li><input type="radio" name="q2" value="B" maxlength="1">-despistar caçadores</li>
                          <li><input type="radio" name="q2" value="C" maxlength="1">-montar um porco do mato</li>
                          <li><input type="radio" name="q2" value="D" maxlength="1">-proteger as matas</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <div class="card-title h5">Matam ou engordam?</div>
                  <p class="texto_paragrafo">Tem uma coisa que os adultos dizem que eu tenho certeza de que aborrece as crianças: “Vá lavar as mãos antes de comer! Ela está cheia de micróbios. Não coma esse troço que caiu no chão! Lave logo o machucado, senão os micróbios tomam conta!” Daí a criança vai logo pensando: “Coisa chata essa de micróbio!” E eles vão ficando com essa fama de monstrinhos, sempre prontos a atacar em caso de desleixo.</p>
                  <p class="texto_paragrafo">Mas sem micróbios e bactérias também não dá para viver, porque há um montão deles que são essenciais para manter vida em nosso planeta. Quando a gente vai lavar as mãos antes de comer fica até meio desapontado, pois não vê micróbio nenhum. E acha aquilo um exagero. É que os micróbios são microscópicos. </p>
                  <p class="texto_paragrafo">Os micróbios - não há como negar - são responsáveis por uma série de aborrecimentos: gripe, sarampo, tifo, malária, febre amarela, paralisia infantil e um bocado de coisas mais. Mas também há inúmeros micróbios benéficos, que decompõem o corpo morto das plantas e animais, transformando suas moléculas complexas em moléculas pequenas, aproveitáveis na nutrição das plantas.</p>
                  <p class="texto_paragrafo">O vilão de nossa história, portanto, não é totalmente malvado. Se ele desaparecesse, nós também acabaríamos junto com ele.</p>
                  <small>Adaptado: CIÊNCIA HOJE DAS CRIANÇAS. Rio de Janeiro: SBPC, ano 6. n.30, p.20-23.</small>
                  <br>
                  <br>
                  <h5 class="card-title">QUESTÃO 3</h5>
                  <br>
                  <p class="card-text">O assunto do texto é:</p>
                    <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio"  name="q3" value="A" maxlength="1">-a chatice dos micróbios.</li>
                          <li><input type="radio" name="q3" value="B" maxlength="1">-a falta dos micróbios.</li>
                          <li><input type="radio" name="q3" value="C" maxlength="1">-o papel dos micróbios.</li>
                          <li><input type="radio" name="q3" value="D" maxlength="1">-o desaparecimento dos micróbios.</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <div class="card-title h5">BARQUINHA CARREGADINHA</div>
                  <p class="texto_paragrafo">O alfabeto é o principal elemento dessa brincadeira, difundida em todo o país. Era muito popular e de uso generalizado tanto entre crianças como entre rapazes e moças.</p>
                  <p class="texto_paragrafo">Os participantes dispõem-se à vontade e um deles inicia a brincadeira citando uma palavra que comece pela letra A, que constitui o primeiro arremesso.</p>
                  <p class="texto_paragrafo">– Lá vai a barquinha carregadinha de... aneis! Assim dizendo, joga para outro a barquinha, que pode ser qualquer objeto: uma almofada, um papel  amassado, uma bola etc. Quem a recebe responde imediatamente, atirando-a na direção de outra pessoa, citando agora uma palavra que comece por B:</p>
                  <p class="texto_paragrafo">– Lá vai a barquinha carregadinha de... batatas!</p>
                  <p class="texto_paragrafo">Assim, sucessivamente, a barquinha vai sendo arremessada, sempre “carregadinha” de uma palavra que comece pela letra imediata, na ordem alfabética.</p>
                  <p class="texto_paragrafo">Quem erra paga prenda, e a cada erro o brinquedo recomeça.</p>
                  <small>Fonte: RODRIGUES, Ana Augusta. Barquinha Carregadinha. In: ______. Rodas, brincadeiras e costumes. Brasília, DF: Plurarte, 1984.</small> 
                      <br>
                      <br>
                  <h5 class="card-title">QUESTÃO 4</h5>
                  
                  <p class="card-text">Para se brincar de “Barquinha carregadinha” é necessário</p>
                  <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio"  name="q4" value="A" maxlength="1">-uma batata para ser escondida.</li>
                          <li><input type="radio" name="q4" value="B" maxlength="1">-um anel para passar de mão em mão.</li>
                          <li><input type="radio" name="q4" value="C" maxlength="1">-um barco de papel para carregar os objetos.</li>
                          <li><input type="radio" name="q4" value="D" maxlength="1">-um objeto qualquer para ser arremessado pelos jogadores.</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Água: uma questão de sobrevivência</h5>
                  <p class="texto_paragrafo">Ao mesmo tempo que precisamos evitar a poluição dos mananciais, devemos também economizar a água tratada. Deixar a torneira aberta, enquanto escovamos os dentes, nos coloca no rol dos responsáveis.</p>
                  <p class="texto_paragrafo">Atitudes de respeito e preservação do meio ambiente, em particular o uso racional da água, podem ser desenvolvidas a partir de atitudes em sala de aula. Monitorar o hidrômetro (medidor do consumo de água), calcular o consumo de água por pessoa e promover campanhas de redução de gasto são caminhos interessantes para atingirmos tais objetivos.</p>
                  <small>Revista Nova Escola – março/2007, pág. 17</small>
                  <br>
                  <br>

                  <h5 class="card-title">QUESTÃO 5</h5>
                  
                  <p class="card-text">Qual é o principal assunto desse texto?</p>
                    <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio" name="q5" value="A" maxlength="1">-A importância de atitudes em sala de aula..</li>
                          <li><input type="radio" name="q5" value="B" maxlength="1">-A poluição do planeta Terra.</li>
                          <li><input type="radio"  name="q5" value="C" maxlength="1">-O monitoramento do hidrômetro.</li>
                          <li><input type="radio" name="q5" value="D" maxlength="1">-O consumo racional da água.</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Balões e dirigíveis</h5>
                  <p class="texto_paragrafo">Em 1670, o padre italiano Francisco Lana idealizou o projeto de um “veleiro aéreo”, que não chegou a ser construído. Mas, em 5 de agosto de 1709, em Lisboa, o padre brasileiro Bartolomeu de Gusmão realizava sua primeira tentativa de fazer voar um balão.</p>
                  <p class="texto_paragrafo">Após algumas experiências malogradas, ele conseguiu fazer seu aeróstato elevar-se no ar. (A palavra aeróstato vem do grego era = ar e statós = parado, suspenso: ou seja, “suspenso no ar”.)</p>
                  <p class="texto_paragrafo">Já em 1782, Joseph Montgolfier, um francês fabricante de papel, descansava diante da lareira de sua casa, vendo como subiam a fumaça e o ar quente. Ele teve um estalo na cabeça e fez um balão de papel de seda, levando sua abertura pouco acima das chamas.</p>
                  <p class="texto_paragrafo">Logo o balão se inflou de ar quente e... subiu até o teto.</p>
                  <small>Biblioteca do escoteiro-mirim, São Paulo: Nova Cultural, 1985, p. 40. </small>

                  <br>
                  <br>
                  <h5 class="card-title">QUESTÃO 6</h5>
                  <p class="card-text">Segundo esse texto, Joseph Montgolfier fez um</p>
                    <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio"  name="q6" value="A" maxlength="1">-aeróstato.</li>
                          <li><input type="radio" name="q6" value="B" maxlength="1">-balão.</li>
                          <li><input type="radio" name="q6" value="C" maxlength="1">-dirigível.</li>
                          <li><input type="radio" name="q6" value="D" maxlength="1">-veleiro.</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Paixão Nacional</h5>
                  <p class="texto_paragrafo">O futebol é sem dúvida alguma o esporte mais popular do planeta. Não há nenhum outro esporte que esteja tão divulgado e que seja praticado da mesma maneira ao redor do mundo. O futebol é praticado em todos os países, nos cinco continentes do globo. </p>
                  <p class="texto_paragrafo">No Brasil, os registros oficiais mostram que o futebol começou a ser praticado em 1894, no estado de São Paulo, trazido por Charles Miller, que, ao retornar da Inglaterra, onde fora estudar, trouxe as primeiras bolas, uniformes e chuteiras. Em poucos anos, nasceu entre o povo brasileiro a paixão pela bola e a difusão do futebol ocorreu de forma ampla.</p>
                  <p class="texto_paragrafo">Inicialmente, esse esporte só era praticado por pessoas de classes mais abastadas, mas a popularização rápida do futebol em várias regiões do país fez com que esse esporte começasse a ser praticado pelas camadas mais pobres da população. Assim, o futebol começou a ser jogado de forma aberta e espontânea em todas as localidades do Brasil.</p>
                  <small>Disponível em: <http://recantodasletras.uol.com.br>. Acesso em: 12 mai. 2010. </small>
                  <br>
                  <br>

                  <h5 class="card-title">QUESTÃO 7</h5>

                  <p class="card-text">O título desse texto “Paixão Nacional” está relacionado com</p>
                    <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio" name="q7" value="A" maxlength="1">-esportes.</li>
                          <li><input type="radio" name="q7" value="B" maxlength="1">-futebol.</li>
                          <li><input type="radio" name="q7" value="C" maxlength="1">-estudo.</li>
                          <li><input type="radio" name="q7" value="D" maxlength="1">-viagens.</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <p class="card-text">Observe a imagem abaixo:</p>
                  
                  <div class="text-center"><img class="card-img-full" src="/img/lpd1_8.png" alt=""></div>
                  <br>
                  <h5 class="card-title">QUESTÃO 8</h5>
                  <p class="card-text">De acordo com esse texto, a tampa de garrafa de água será usada para</p>
                    <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio"  name="q8" value="A" maxlength="1">-cortar as rodelas de presunto.</li>
                          <li><input type="radio" name="q8" value="B" maxlength="1">-espetar as frutas no palito.</li>
                          <li><input type="radio" name="q8" value="C" maxlength="1">-passar margarina nas rodelas.</li>
                          <li><input type="radio" name="q8" value="D" maxlength="1">-passar o requeijão no pão.</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">SER BICHO DÁ TRABALHO!</h5>
                  <p class="texto_paragrafo">Cachorros, cavalos, galinhas e muitos outros animais são criados no mundo inteiro.</p>
                  <p class="texto_paragrafo">Mas, dependendo do lugar, as pessoas domesticam alguns bichos bem diferentes.</p>
                  <p class="texto_paragrafo">Em países como a Índia, por exemplo, o melhor amigo do homem não é o cachorro e sim o elefante asiático. Ele é usado para muitas coisas: montaria, puxar carroças ou carregar coisas pesadas, como troncos de árvore!</p>
                  <p class="texto_paragrafo">No Japão, foi inventado um jeito bem original de pescar. Alguns pescadores treinam uma ave chamada cormorão para mergulhar e voltar ao barco trazendo peixes no bico. Para evitar lanches durante o trabalho, ela sempre mergulha com uma coleira de couro apertada no pescoço. Assim, o cormorão não consegue engolir o peixe que pegou.</p>
                  <small>Revista Sesinho, ano 2, nº 23, seção Saiba Mais, p.33.</small>
                  <br>
                  <br>  
                  <h5 class="card-title">QUESTÃO 9</h5>
        
                  <p class="card-text">Cormorão é</p>
                    <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio"  name="q9" value="A" maxlength="1">-uma coleira.</li>
                          <li><input type="radio" name="q9" value="B" maxlength="1">-uma ave.</li>
                          <li><input type="radio" name="q9" value="C" maxlength="1">-um peixe.</li>
                          <li><input type="radio" name="q9" value="D" maxlength="1">-um elefante.</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">ELA É SUPER</h5>
                  <p class="texto_paragrafo">Conheça as habilidades da onça-pintada e saiba mais sobre esse felino.</p>
                  <p class="texto_paragrafo">Capaz de se disfarçar na mata, andar com leveza, escalar árvores altas e atravessar rios, a onça parece ter os poderes de invisibilidade de um guerreiro ninja. Ela usa todas essas habilidades para caçar e se proteger. Costuma ser mais ativa quando o sol se põe e pode caçar à noite, pois enxerga bem no escuro e tem audição e olfato aguçados.</p>
                  <p class="texto_paragrafo">Como tem pernas curtas, ela não corre. Se esconde, segue a presa sem ser percebida e ataca saltando de um galho ou do meio da mata de repente, com uma mordida mais forte do que a de felinos maiores.</p>
                  <small>Revista Recreio. São Paulo: Abril, n.487, p.20, 9 de jul. 2009. Fragmento. </small>
                  <br>
                  <br>
                  <h5 class="card-title">QUESTÃO 10</h5>
                  <br>
                  <p class="card-text">De acordo com esse texto, a onça-pintada usa suas habilidades para</p>
                    <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio"  name="q10" value="A" maxlength="1">-aguçar o olfato.</li>
                          <li><input type="radio" name="q10" value="B" maxlength="1">-caçar e se proteger.</li>
                          <li><input type="radio" name="q10" value="C" maxlength="1">-enxergar no escuro.</li>
                          <li><input type="radio" name="q10" value="D" maxlength="1">-ficar invisível.</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>
          
          <br>   
        </div>

                
        <div class="d-grid gap-2 m-xl-3">        
          <button type="reset" class="btn btn-danger">LIMPAR</button>
          <button type="submit" class="btn btn-success">RESPONDER</button>
        </div>
      </form>
    </div>
   
     
</body>
<script src="./js/bootstrap.min.js"></script>
<script src="./js/popper.min.js"></script>
<script src="/js/script.js"></script>
</html>