<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Língua Portuguesa D15</title>
</head>
<body class="bg-primary">
  <div class="h3 text-lg-center text-white">ESCOLA MUNICIPAL JUSLANY DE SOUZA FLORES</div>
      <div class="h3 text-lg-center text-white">5º ANO TURMA A</div>  
  <hr>
  <header class="container-sm">
    <h4>D15 – Reconhecer diferentes formas de tratar uma informação na comparação de textos que tratam do mesmo tema, em função das condições em que ele foi produzido e daquelas em que será recebido;</h4>
  </header>
  <br>
  <br>
    <div class="container-sm">
      
      <form method="POST" action="/confirmacao-lpd15" onsubmit="return validarFormulario()">
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">@</span>
          <input type="text" class="form-control" placeholder="Digite seu nome aqui" aria-label="Digite seu nome aqui" aria-describedby="basic-addon1" name="name" id="name">
        </div>
        <div class="container-sm">

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                    <div class="h5">Texto 1</div>
                  <div class="h5">Reinações de Narizinho</div>
                  <p class="texto_paragrafo">Numa casinha branca, lá no Sítio do Picapau Amarelo, mora uma velha de mais de sessenta anos. Chama-se Dona Benta. Quem passa pela estrada e a vê na varanda, de cestinha de costura ao colo e óculos de ouro na ponta do nariz, segue seu caminho pensando: — Que tristeza viver assim tão sozinha neste deserto...Mas engana-se. Dona Benta é a mais feliz das vovós, porque vive em companhia da mais encantadora das netas – Lúcia, a menina do narizinho arrebitado, ou Narizinho como todos dizem.</p>
                  <small>LOBATO, Monteiro. Disponível em: <http://www.jayrus.art.br/Apostilas/LiteraturaBrasileira/PreModernismo/Monteiro_Lobato _Reinacoes_de_Narizinho.htm>. Acesso em: 31 mar. 2010. Fragmento. </small>
                  <br>
                  <br>
                  <div class="h5">Texto 2</div>
                  <div class="h5">Sítio do Picapau amarelo</div>
                  <div class="h6 text-muted">“Marmelada de banana, bananada de goiaba, goiabada de marmelo...”</div>
                  <p class="texto_paragrafo">Na TV, essa era a senha para o início da diversão. O mundo mágico de Monteiro Lobato e o seu Sítio do Picapau Amarelo era presença constante nas fantasias de milhares de crianças (e muitos adultos também!). Eu adorava! Não queria perder nem a abertura – ficava fascinada com a estrada que virava arco-íris... O difícil era esperar o dia seguinte pra ver o resto!</p>
                  <small>Disponível em: <http://www.infancia80.com.br/litafins/livros_sitio.htm>. Acesso em: 31 mar. 2010. </small>
                  <br>
                  <br>
                  <h5 class="card-title">QUESTÃO 1</h5>
                  <p class="card-text">Esses dois textos têm em comum</p>
                    <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio"  name="q1" value="A" maxlength="1">-a vida de Monteiro Lobato.</li>
                          <li><input type="radio" name="q1" value="B" maxlength="1">-as histórias de Narizinho.</li>
                          <li><input type="radio" name="q1" value="C" maxlength="1">-o lugar onde as histórias acontecem.</li>
                          <li><input type="radio" name="q1" value="D" maxlength="1">-os programas infantis na TV.</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>
          
          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <div class="card-title h5">Texto 1</div>
                  <div class="card-title h5">A dengue em crianças</div>
                  <p class="texto_paragrafo">Você já ouviu falar na dengue? Com certeza, sim. Afinal, essa doença, causada por um vírus transmitido pelo mosquito Aedes aegypti, é muito comum no verão e no período chuvoso, devido ao maior acúmulo de água em terrenos abandonados. Febre alta, dores de cabeça, nos músculos e nas articulações são alguns dos sintomas dessa moléstia. Mas você sabia que eles são mais comuns nos adultos? [...] </p>
                  <p class="texto_paragrafo">De acordo com a pediatra Consuelo Oliveira, da Sociedade de Pediatria do Pará, ao contrário dos adultos, as crianças não costumam sentir dores de cabeça tão fortes. Em compensação, podem ter acessos de vômito e dores abdominais. Por outro lado, a febre, que costuma ser alta nos adultos, é mais branda nas crianças. Assim, a doença acaba muitas vezes sendo confundida com uma gripe. [...] </p>
                  <p class="texto_paragrafo">Como se vê, todo cuidado é pouco com essa doença. É claro, porém, que a melhor forma de combatê-la é não permitir o desenvolvimento do seu transmissor, o mosquito Aedes aegypti, que adora água limpa e parada para se reproduzir. Por isso, deve-se evitar o acúmulo de água em qualquer tipo de recipiente, como vasos de plantas, latas ou pneus. [...] </p>
                  <small>Disponível em: <http://chc.cienciahoje.uol.com.br/a-dengue-em-criancas/>. Acesso em: 10 abr. 2014. Fragmento.</small>
                  <br>
                  <br>
                  <div class="card-title h5">Texto 2</div>
                  <div class="text-center"><img class="img-fluid" src="/img/lpd15_2.png" alt=""></div>
                  <br>
                  <br>
                  <h5 class="card-title">QUESTÃO 2</h5>                

                      <p class="card-text">A informação em comum nesses textos é </p>
                    <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio"  name="q2" value="A" maxlength="1">-a importância das crianças no combate à dengue. </li>
                          <li><input type="radio" name="q2" value="B" maxlength="1">-as formas de combate ao mosquito transmissor da dengue. </li>
                          <li><input type="radio" name="q2" value="C" maxlength="1">-o período do ano em que é mais comum os casos de dengue. </li>
                          <li><input type="radio" name="q2" value="D" maxlength="1">-os sintomas da dengue sentidos pelas crianças.</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <div class="text-center"><img class="img-fluid" src="/img/lpd15_3_1.png" alt=""></div>
                            
                        </div>
                        <div class="col">
                            
                            <div class="text-center"><img class="img-fluid" src="/img/lpd15_3_2.png" alt=""></div>
                        </div>
                    </div>
                    <br>
                  <h5 class="card-title">QUESTÃO 3</h5>
                  <br>
                  <p class="card-text">Ao compararmos os dois convites notamos que são diferentes porque:</p>
                    <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio"  name="q3" value="A" maxlength="1">-os dois pertencem ao mundo real.</li>
                          <li><input type="radio" name="q3" value="B" maxlength="1">-os dois pertencem ao mundo imaginário.</li>
                          <li><input type="radio" name="q3" value="C" maxlength="1">-apenas o primeiro convite pertence ao mundo real.</li>
                          <li><input type="radio" name="q3" value="D" maxlength="1">-os dois têm as mesmas informações para os convidados.</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Texto 1</h5>
                  <h5 class="card-title">MEU DIÁRIO</h5>
                  <p class="texto_paragrafo">Pai é um negócio fogo, o meu, o do Toninho, do Mauro, do Joca, do Zé Luís e do Beto são mais ou menos. O meu deixa jogar na rua, mas nada de chegar perto da avenida. O Toninho está terminantemente proibido de ir ao bar do Seu Porfírio. O do Beto é bem bravo, só que nunca está em casa: por isso, o Beto é o maior folgado e faz o que quer. Também, quando o pai chega, mixou a brincadeira. O do Joca é que nem o meu. O do Zé Luís deixa, mas é obrigatório voltar às seis em ponto e o do Mauro às vezes deixa tudo, outras dá bronca que Deus me livre, tudo na tal língua estrangeira que ele inventou. </p>
                  <small>AZEVEDO, Ricardo. Nossa rua tem um problema. São Paulo: Paulinas, 1986.</small>
                  <br>
                  <br>
                  <h5 class="card-title">Texto 2</h5>

                  <div class="card-title text-center"><img class="img-fluid" src="/img/lpd15_4.png" alt=""></div>

                      <br>
                  <h5 class="card-title">QUESTÃO 4</h5>
                  
                  <p class="card-text">Os dois textos falam sobre pais, mas apenas o segundo texto</p>
                  <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio"  name="q4" value="A" maxlength="1">-trata dos horários impostos pelos pais.</li>
                          <li><input type="radio" name="q4" value="B" maxlength="1">-comenta sobre as broncas dos pais.</li>
                          <li><input type="radio" name="q4" value="C" maxlength="1">-fala sobre as brincadeiras dos pais.</li>
                          <li><input type="radio" name="q4" value="D" maxlength="1">-discute sobre o que os pais fazem.</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Texto 1</h5>
                  <h5 class="card-title">Celular na Escola</h5>
                  <p class="texto_paragrafo">Permitir ou não o uso desses aparelhos nas dependências do colégio é uma discussão bastante
                    atual. Conheça algumas opiniões:</p>
                  <p class="texto_paragrafo">Quando os primeiros celulares chegaram ao mercado brasileiro, na década de 90, eles eram sonho de consumo para muita gente. Quase vinte anos depois, estão tão popularizados que até crianças vivem a carregar modelos ultramodernos, inclusive na escola, onde esses aparelhos já fazem parte do cotidiano dos alunos. “O celular se justifica pela necessidade dos pais monitorarem seus filhos, mas chegou-se a um exagero de uso”, opina Daniel Lobato Brito, diretor administrativo do Colégio Pio XII, em São Paulo.</p>
                  <small>Revista Ensino fundamental, ano 4, nº 46, dezembro 2007, seção Comportamento, p.6,.</small>
                  <br>
                  <br>
                  <h5 class="card-title">Texto 2</h5>
                  <h5 class="card-title">Fórum na comunidade “ Pode celular 
                    na sala de aula?
                    </h5>
                  <p class="texto_paragrafo">Celular na sala de aula atrapalha muito, até porque não é simplesmente o toque do celular, mas tem gente que ATENDE o celular se escondendo do professor (ou tentando...) e fica falando, ou então, quando o dono do celular não fala nada, a turma, ou alguns colegas de classe ficam soltando piadas, enchendo o saco, zoando, etc... atrapalhando a galera e a concentração do professor que pode perder o raciocínio ou ainda expulsar os alunos de sala. E concluindo: o celular, em sala de aula, deve ser banido, e tratado com severidade os que descumprirem as regras.</p>
                  <small>http://www.orkut.com (adaptado)</small>
                  <br>
                  <br>
                  <h5 class="card-title">QUESTÃO 5</h5>
                 
                  <p class="card-text">Com relação aos dois textos podemos afirmar que:</p>
                    <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio" name="q5" value="A" maxlength="1">-utilizam a mesma linguagem.</li>
                          <li><input type="radio" name="q5" value="B" maxlength="1">-tratam do mesmo assunto.</li>
                          <li><input type="radio"  name="q5" value="C" maxlength="1">-destinam-se ao mesmo público.</li>
                          <li><input type="radio" name="q5" value="D" maxlength="1">-circulam no mesmo lugar.</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Texto 1</h5>
                  <br>
                  <h5 class="card-title">Os cerrados</h5>
                  <p class="texto_paragrafo">Essas terras planas do planalto central escondem muitos riachos, rios e cachoeiras. Na verdade, o cerrado é o berço das águas. Essas águas brotam das nascentes de brejos ou despencam de paredões de pedra. Em várias partes do cerrado brasileiro existem canyons com cachoeiras de mais de cem metros de altura!</p>
                  <small>SALDANHA, P. Os cerrados . Rio de Janeiro: Ediouro, 2000.</small>
                  <br>
                  <br>
                  <h5 class="card-title">Texto 2</h5>
                  <br>
                  <h5 class="card-title">Os Pantanais</h5>
                  <p class="texto_paragrafo">O homem pantaneiro é muito ligado à terra em que vive. Muitos moradores não pretendem sair da região. E não é pra menos: além das paisagens e do mais lindo pôr-dosol do Brasil Central, o Pantanal é um santuário de animais selvagens. Um morador do Pantanal do rio Cuiabá, olhando para um bando de aves, voando sobre veados e capivaras, exclamou: “O Pantanal parece com o mundo no primeiro dia da criação.”</p>
                  <small>SALDANHA, P. Os pantanais. Rio de Janeiro: Ediouro, 1995.</small>
            
                  <br>
                  <br>
                  <h5 class="card-title">QUESTÃO 6</h5>
                  <p class="card-text">Os dois textos descrevem:</p>
           
                    <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio"  name="q6" value="A" maxlength="1">-belezas naturais do Brasil Central.</li>
                          <li><input type="radio" name="q6" value="B" maxlength="1">-animais que habitam os pantanais.</li>
                          <li><input type="radio" name="q6" value="C" maxlength="1">-problemas que afetam os cerrados. </li>
                          <li><input type="radio" name="q6" value="D" maxlength="1">-rios e cachoeiras de duas regiões.</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Texto 1</h5>
                  <h5 class="card-title">Rubinho a mil por hora</h5>
                  <p class="texto_paragrafo">Desde criança, Rubens Barrichello é louco por corridas. Aos seis anos já voava nas pistas de Kart. 
                    Depois passou rápido pela Fórmula Ford, Fórmula Opel, Fórmula 3 e Fórmula 3000. Não parou por aí. foi o 
                    mais jovem piloto da história a entrar para a Fórmula 1, quando tinha apenas 20 anos.</p>
                    <br>
                    <br>
                    <h5 class="card-title">Texto 2</h5>
                  <h5 class="card-title">Vencer ou vencer</h5>
                  <p class="texto_paragrafo">Ayrton Senna sempre fez tudo muito rapidinho. Aos quatro anos ganhou o seu primeiro kart. Aos dez, 
                    já pilotava no Autódromo de Interlagos. Quando tinha 31 anos, era o mais jovem tricampeão da história 
                    da Fórmula 1. Vencer ou vencer era o seu lema. </p>
                    <small>Maurício de Sousa Produções. Manual de esportes do Cascão. São Paulo: Globo, 2003.</small>
                 <br>
                  <br>

                  <h5 class="card-title">QUESTÃO 7</h5>

                  <p class="card-text">Esse dois textos: </p>
                    <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio" name="q7" value="A" maxlength="1">-oferecem um prêmio.</li>
                          <li><input type="radio" name="q7" value="B" maxlength="1">-incentivam o uso do kart.</li>
                          <li><input type="radio" name="q7" value="C" maxlength="1">-convidam para corridas.</li>
                          <li><input type="radio" name="q7" value="D" maxlength="1">-apresentam uma biografia.</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Texto 1</h5>
                  <div class="text-center"><img class="img-fluid" src="/img/lpd15_8.png" alt=""></div>
                  <br>
                  <br>
                  <h5 class="card-title">João e o pé de feijão</h5>
                  <p class="texto_paragrafo">Era uma vez uma família de camponeses que viviam em extrema dificuldade. João e sua mãe não tinham mais nada, a não ser uma vaca leiteira, que não produzia mais leite. A mãe do menino pede a ele que vá até a cidade vender a vaca. No caminho, João encontra um camponês, que, ao saber que o menino quer vender a vaca, propõe uma troca: a vaca por cinco feijões mágicos. João aceita. Ao chegar em casa porém, João acaba levando um sermão de sua mãe que irritada, joga as sementes no quintal. Durante a noite as sementes começam a se transformar num enorme pé de feijão.</p>
                  <small>(http://pt.wikipedia.org/wiki/Jo%C3%A3o_e_o_
                    p%C3%A9_de_feij%C3%A3o)(Acesso: 20/03/2009).
                    </small>
                  <br>
                  <br>
                  <h5 class="card-title">QUESTÃO 8</h5>
                  <p class="card-text">Comparando os dois textos com relação ao tema, percebe-se que eles são:</p>
                    <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio"  name="q8" value="A" maxlength="1">-idênticos.</li>
                          <li><input type="radio" name="q8" value="B" maxlength="1">-contrários.</li>
                          <li><input type="radio" name="q8" value="C" maxlength="1">-diferentes.</li>
                          <li><input type="radio" name="q8" value="D" maxlength="1">-antagônicos.</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Texto 1</h5>

                  <h5 class="card-title">Notas baixas são resultado de muito tempo em frente ao videogame. Ter acesso contínuo – e sem controle – ao videogame em casa, afeta significativamente o rendimento escolar de crianças</h5>
                  <p class="texto_paragrafo">Os pais devem encorajar a moderação aos seus filhos quando o assunto é videogame. Mais do que apenas deixá-los afastados de atividades físicas e vivências sociais necessárias para o seu desenvolvimento, ter um videogame em casa também pode piorar o desempenho acadêmico em algumas crianças. (...) Os pesquisadores apontam uma relação bastante clara quanto ao tempo gasto com videogame e o nível de declínio acadêmico e de aprendizado, especialmente quando as crianças jogavam após o período da escola. Os autores dizem que é nessa idade que as crianças refinam seu nível de linguagem (escrita e falada) e o uso contínuo do videogame pode atrasar essa fase. “Os resultados mostraram claramente que possuir um videogame em casa pode ter resultados bastante negativos na vida real”, concluem os autores. </p>
                  <small>(adaptado de http://oqueeutenho.uol.com.br)</small>
                  <br>
                  <br>
                  <h5 class="card-title">Texto 2</h5>

                  <h5 class="card-title">Imersos na tecnologia – e mais espertos</h5>
                  <p class="texto_paragrafo">As crianças e os adolescentes de hoje vivem cercados de videogame, computador, TV e DVD. As últimas descobertas da ciência dizem que o uso desses recursos na medida certa ao contrário do que se pensava, pode ajudá-los a afiar a inteligência. </p>
                  <small>Revista Veja, Editora Abril edição 1926, ano 38, nº 41</small>
                  <br>
                  <br> 
                  <h5 class="card-title">GLOSSÁRIO</h5>
                  <ul>
                    <li><b>Desempenho acadêmico: </b>rendimento de um indivíduo em instituição de ensino.</li>
                    <li><b>Declínio:</b> diminuição, decadência.</li>
                    <li><b>Refinam: </b> apuram, aprimoram.</li>
                  </ul>

                  
                  <h5 class="card-title">QUESTÃO 9</h5>
        
                  <p class="card-text">Com relação ao assunto abordado, os textos I e II</p>
                    <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio"  name="q9" value="A" maxlength="1">-expressam opiniões a favor do uso de videogames por crianças.</li>
                          <li><input type="radio" name="q9" value="B" maxlength="1">-relatam as últimas descobertas da ciência e condenam o uso das tecnologias.</li>
                          <li><input type="radio" name="q9" value="C" maxlength="1">-apontam que o tempo gasto no videogame não afeta o rendimento escolar das crianças.</li>
                          <li><input type="radio" name="q9" value="D" maxlength="1">-apresentam pontos de vista diferentes em relação ao uso do videogame.</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Texto 1</h5>
                  <div class="text-center"><img class="img-fluid" src="/img/lpd15_10.png" alt=""></div>
                  <br>
                  <br>
                  <h5 class="card-title">Texto 2</h5>
                  <h5 class="card-title">Tênis-patins vira febre e preocupa professores</h5>
                  <p class="texto_paragrafo">Moda entre a criançada, um tênis que se transforma em patins está deixando professores e seguranças de shoppings enlouquecidos. O calçado, que custa entre R$ 80 e R$ 160, é um sucesso principalmente entre a garotada de 5 a 10 anos, que o considera mais fácil de usar do que o patins tradicional.</p>
                  <p class="texto_paragrafo">A febre é tanta que já há colégios proibindo seu uso. Com cerca de 15 alunos entre 5 e 7 anos que não tiram o tênis-patins dos pés, o Colégio Cidade de São Paulo não deverá mais permitir o uso, para garantir a segurança dos estudantes. “Há uma semana, os alunos começaram a vir com esses tênis”, conta a coordenadora pedagógica  da escola, Érica Mantovani. “Virou febre e estamos discutindo com os alunos sobre sua restrição.”</p>
                  <p class="texto_paragrafo">Para ela, o problema, além das rodinhas, está no próprio tênis. “Ele é muito pesado, tem cano alto que atrapalha na educação física e escorrega demais”, diz. “Não é um calçado para a escola e queremos que os alunos só o tragam no dia do brinquedo.”</p>

                  <small>Disponível em: http://www.aprendiz.uol.com.br Acesso em: 10 fev. 2010. </small>
                  <br>
                  <br>
                  <h5 class="card-title">QUESTÃO 10</h5>
                  <br>
                  <p class="card-text">Esses dois textos apresentam em comum</p>
                    <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio"  name="q10" value="A" maxlength="1">-a preocupação dos professores com o tênis.</li>
                          <li><input type="radio" name="q10" value="B" maxlength="1">-a variação de preço dos patins.</li>
                          <li><input type="radio" name="q10" value="C" maxlength="1">-o desejo da garotada em ter o tênis da moda.</li>
                          <li><input type="radio" name="q10" value="D" maxlength="1">-o equilíbrio em cima dos patins.</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>
          
          <br>           
          <br>

        </div>

                
        <div class="d-grid gap-2 m-xl-3">        
          <button type="reset" class="btn btn-danger">LIMPAR</button>
          <button type="submit" class="btn btn-success">RESPONDER</button>
        </div>
      </form>
    </div>
   
     
</body>
<script src="./js/bootstrap.min.js"></script>
<script src="./js/popper.min.js"></script>
<script src="/js/script.js"></script>
</html>