<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Língua Portuguesa D10</title>
</head>
<body class="bg-primary">
  <div class="h3 text-lg-center text-white">ESCOLA MUNICIPAL JUSLANY DE SOUZA FLORES</div>
      <div class="h3 text-lg-center text-white">5º ANO TURMA A</div>  
  <hr>
  <header class="container">
    <h4>D10 – Identificar as marcas linguísticas que evidenciam o locutor e o interlocutor de um texto.</h4>
  </header>
  <br>
  <br>
    <div class="container">
      
      <form method="POST" action="/confirmacao-lpd10" onsubmit="return validarFormulario()">
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">@</span>
          <input type="text" class="form-control" placeholder="Digite seu nome aqui" aria-label="Digite seu nome aqui" aria-describedby="basic-addon1" name="name" id="name">
        </div>
        <div class="container">

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <div class="h5 text-center">Quem ama vacina</div>
                  <p class="card-text text-right">Terezinha Vieira Rocha</p>
                  <p class="h5 texto_paragrafo">O que você, mamãe, que acaba de trazer ao mundo um ser tão especial, seu filho, precisa saber sobre vacinas.</p>
                  <p class="h5 texto_paragrafo">Tomar vacina dói?</p>
                  <p class="texto_paragrafo">Sim. Dói, mas é uma dor muito pequena se comparada ao trauma de uma internação por doenças que podem ser evitadas com a vacina.</p>
                  <p class="h5 texto_paragrafo">Trabalho e não tenho tempo de levar meu filho para vacinar.</p>
                  <p class="texto_paragrafo">O ideal é que você, mamãe, esteja com seu bebê, principalmente no momento da 1ª vacina.</p>
                  <p class="texto_paragrafo">Ele sentirá mais seguro no seu colo, e as informações passadas a você, sobre as vacinas pelos profissionais de saúde, são muito importantes, mas, se ficar difícil para você compartilhar com seu filho este momento, peça a um parente, vizinho, ou a uma pessoa de sua confiança para levá-lo ao Centro de Saúde mais perto de sua casa. O importante é que no dia marcado sua criança receba as vacinas de acordo com o calendário vacinal. Se no dia marcado for Sábado, Domingo ou feriado, leve-o um dia antes ou um dia depois.</p>
                  <p class="texto_paragrafo"></p>

                  <div class="text-right">Disponível em: http://www.pbh..gov.br/smsa/biblioteca/saudedigital/dezembro/folder.html.</div>
                  <br>
                  <br>
    
                  <h5 class="card-title">QUESTÃO 1</h5>
                  <p class="card-text">Esse texto foi escrito para</p>
                    <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio"  name="q1" value="A" maxlength="1">-filhos.</li>
                          <li><input type="radio" name="q1" value="B" maxlength="1">-mães.</li>
                          <li><input type="radio" name="q1" value="C" maxlength="1">-médicos.</li>
                          <li><input type="radio" name="q1" value="D" maxlength="1">-pais.</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>
          
          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <div class="card-title h5">Para garantir uma sobra todo mês</div>
                  <p class="texto_paragrafo">1. Anote todos os seus gastos. É a maneira mais fácil de descobrir para onde está indo sua grana. E prepare-se para se surpreender: boa parte dela provavelmente está sendo gasta com besteirinhas. </p>
                  <p class="texto_paragrafo">2. Tenha metas. Além de pagar as contas de todo o mês, sua mesada pode servir para realizar sonhos. “Cole uma foto daquilo que você quer muito comprar no espelho. Isso ajuda a manter a motivação”, ensina Antonio De Julio, consultor da Money Fit. </p>
                  <p class="texto_paragrafo">3. Fique esperta com vendedores. Passear no shopping e “dar só uma olhadinha” nas lojas é tudo de bom. Só tome cuidado para não cair na lábia de quem está do lado de lá do balcão, falando em promoções. </p>
                  <p class="texto_paragrafo">4. Peça desconto na cara dura. Vai comprar qualquer coisa e pagar à vista? Pechinche no mínimo 5% de desconto. Se for em dinheiro, pode chegar a até 10% do valor total. </p>
                  <p class="texto_paragrafo">5. Pesquise antes de comprar. Veja na internet o preço médio do que você quer comprar e pesquise bastante, para ter uma ideia do melhor custo X benefício. Só depois é que você estará liberada para bater perna pelas lojas. [...] </p>

                  <div class="text-right">Disponível em: http://atrevida.uol.com.br/arrasa/fica-esperta/. Acesso em: 21 mar. 2014. Fragmento. </div>
                  <br>
                  <br>
                  
                  <h5 class="card-title">QUESTÃO 2</h5>                

                      <p class="card-text">Pela linguagem utilizada, esse texto foi escrito para </p>
                    <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio"  name="q2" value="A" maxlength="1">-adolescentes.</li>
                          <li><input type="radio" name="q2" value="B" maxlength="1">-consultores.</li>
                          <li><input type="radio" name="q2" value="C" maxlength="1">-professores.</li>
                          <li><input type="radio" name="q2" value="D" maxlength="1">-vendedores.</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Carta</h5>
                  <p class="texto_paragrafo">Lorelai: </p>
                  <p class="texto_paragrafo">Era tão bom quando eu morava lá na roça. A casa tinha um quintal com milhões de coisas, tinha até um galinheiro. Eu conversava com tudo quanto era galinha, cachorro, gato, lagartixa, eu conversava com tanta gente que você nem imagina, Lorelai. Tinha árvore para subir, rio passando no fundo, tinha cada esconderijo tão bom que a gente podia ficar escondida a vida toda que ninguém achava. Meu pai e minha mãe viviam rindo, andavam de mão dada, era uma coisa muito legal da gente ver. Agora, tá tudo diferente: eles vivem de cara fechada, brigam à toa, discutem por qualquer coisa. E depois, toca todo mundo a ficar emburrando. Outro dia eu perguntei: o que é que tá acontecendo que toda hora tem briga? Sabe o que é que eles falaram? Que não era assunto para criança. E o pior é que esse negócio de emburramento em casa me dá uma aflição danada. Eu queria tanto achar um jeito de não dar mais bola pra briga e pra cara amarrada. Será que você não acha um jeito pra mim? </p>
                  <p class="texto_paragrafo">Um beijo da Raquel. </p>
                  <p class="texto_paragrafo">(...)</p>
                  <p class="texto_paragrafo"></p>

                  <div class="text-right">NUNES, Lygia Bojunga. A Bolsa Amarela – 31ª ed. Rio de Janeiro: Agir, 1998.</div>
                </div>
                    <br>
                  <h5 class="card-title">QUESTÃO 3</h5>
                  <br>
                  <p class="card-text">Em “Agora <b>tá</b> tudo diferente:”, a palavra destacada é um exemplo de linguagem</p>
                    <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio"  name="q3" value="A" maxlength="1">-ensinada na escola.</li>
                          <li><input type="radio" name="q3" value="B" maxlength="1">-estudada nas gramáticas.</li>
                          <li><input type="radio" name="q3" value="C" maxlength="1">-encontrada nos livros técnicos.</li>
                          <li><input type="radio" name="q3" value="D" maxlength="1">-empregada com colegas.</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <div class="text-center"><img class="img-fluid" src="/img/lpd10_4_1.png" alt=""></div>
                  <div class="text-center"><img class="img-fluid" src="/img/lpd10_4_2.png" alt=""></div>
                  <br>
                  <br>
                  <h5 class="card-title">QUESTÃO 4</h5>
                  
                  <p class="card-text">No 2º quadrinho, a frase ― “Num sei pru causo di quê!” foi escrita dessa forma para mostrar que o Chico Bento:</p>
                  <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio"  name="q4" value="A" maxlength="1">-tem um jeito diferente de falar. </li>
                          <li><input type="radio" name="q4" value="B" maxlength="1">-fala as palavras gaguejando. </li>
                          <li><input type="radio" name="q4" value="C" maxlength="1">-trata as pessoas com respeito. </li>
                          <li><input type="radio" name="q4" value="D" maxlength="1">-fala de maneira complicada.</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Vira-pulga</h5>
                  <p class="texto_paragrafo">“Eu sou um cachorro de cidade. Não tenho raça nenhuma, me chamam injustamente de vira-lata, quando na verdade deviam me chamar de fura-saco, pois não existe mais lata de lixo hoje pela rua. Apesar de ser um vira-lata, ou melhor, um fura-saco, eu tenho nome: Palito, que foi dado por minha dona, que achava o meu latido muito fino...”</p>
                  <div class="text-right">Fonte: Diléa Frate. Histórias de acordar. São Paulo. Companhia das Letrinhas. 1996. p. 69.</div>
                  <br>
                  <br>
                  <h5 class="card-title">QUESTÃO 5</h5>
                 
                  <p class="card-text">O cachorro se chama Palito por que: </p>
                    <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio" name="q5" value="A" maxlength="1">-Late finíssimo.</li>
                          <li><input type="radio" name="q5" value="B" maxlength="1">-É um cachorro de rua.</li>
                          <li><input type="radio"  name="q5" value="C" maxlength="1">-É um fura-saco.</li>
                          <li><input type="radio" name="q5" value="D" maxlength="1">-Não tem nenhuma raça.</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Texto do caipira</h5>
                  <br>
                  <p class="texto_paragrafo">O caipira andava ao longo da estrada seguido de dez cavalos. Nisso, veio um automóvel e o motorista gritou para o caipira:</p>
                  <p class="texto_paragrafo">– Você tem dez. Mas eu tenho duzentos e cinqüenta cavalos! – E – vrruuum! – saiu em disparada!</p>
                  <p class="texto_paragrafo">O caipira continuou seu passo. E lá na frente estava o carro virado dentro do rio, ao lado da ponte. Aí, o caipira falou pro motorista:</p>
                  <p class="texto_paragrafo">– Oi, cumpadre! Dando água pra tropa, é?</p>
                  <br>
                  <h5 class="card-title">QUESTÃO 6</h5>
                  <p class="card-text">Que palavra do texto indica o modo de falar de uma pessoa que mora no meio rural?</p>
           
                    <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio"  name="q6" value="A" maxlength="1">-Disparada.</li>
                          <li><input type="radio" name="q6" value="B" maxlength="1">-Passo.</li>
                          <li><input type="radio" name="q6" value="C" maxlength="1">-Cumpadre.</li>
                          <li><input type="radio" name="q6" value="D" maxlength="1">-Tropa.</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <div class="text-center"><img class="img-fluid" src="/img/lpd10_6.png" alt=""></div>
                  <div class="text-right">L.E.R. Leitura, Escrita e Refl exão. FTD: São Paulo. p. 112.</div>
                 <br>
                  <br>

                  <h5 class="card-title">QUESTÃO 7</h5>

                  <p class="card-text">Quem escreve esse texto é</p>
                    <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio" name="q7" value="A" maxlength="1">-a vovó Carmen.</li>
                          <li><input type="radio" name="q7" value="B" maxlength="1">-a vovó de Bina.</li>
                          <li><input type="radio" name="q7" value="C" maxlength="1">-a neta de Cacá.</li>
                          <li><input type="radio" name="q7" value="D" maxlength="1">-a neta de Bina.</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <div class="text-center"><img class="img-fluid" src="/img/lpd10_8.png" alt=""></div>
                  
                  <br>
                  <br>
                  <h5 class="card-title">QUESTÃO 8</h5>
                  <p class="card-text">Esse texto foi escrito para</p>
                    <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio"  name="q8" value="A" maxlength="1">-vendedores.</li>
                          <li><input type="radio" name="q8" value="B" maxlength="1">-professores.</li>
                          <li><input type="radio" name="q8" value="C" maxlength="1">-pais.</li>
                          <li><input type="radio" name="q8" value="D" maxlength="1">-crianças.</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
          
                  <h5 class="card-title">OI, OI, AMIGA!</h5>
                  <p class="texto_paragrafo">Esta edição está recheada com tantas coisas legais que é até difícil escolher o que comentar com você. Que delícia, não é? Para quem anda sofrendo com espinhas temos o “Tira dúvidas” sobre o tema acne. Para quem quer repaginar o visual de um jeito pra lá de descolado, o Vestiário é a solução, com dicas fantásticas de como sobrepor peças de roupa.</p>
                  <p class="texto_paragrafo">E, para quem anda numa fase mais tecnológica, o Top Witch cai como uma luva: fizemos uma seleção cuidadosa dos melhores celulares com câmera e montamos uma série de informações. Aqui dentro ainda tem micos, dicas do que fazer para passar de ano na escola sem estresse e um superperfil de Dan Radcliffe. Diz aí, esta edição está ou não de arrasar quarteirão?</p>
                  <p class="texto_paragrafo">Beijocas!</p>
                  <div class="text-right">Revista Witch, 2006, nº 50, Abril. p.03.</div>
                  <br>
                  <br> 
      
                  <h5 class="card-title">QUESTÃO 9</h5>
        
                  <p class="card-text">Esse texto foi escrito para</p>
                    <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio"  name="q9" value="A" maxlength="1">-adultos.</li>
                          <li><input type="radio" name="q9" value="B" maxlength="1">-adolescentes.</li>
                          <li><input type="radio" name="q9" value="C" maxlength="1">-crianças.</li>
                          <li><input type="radio" name="q9" value="D" maxlength="1">-idosos.</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Você sabia que cheirinho de terra molhada é obra de bactérias?</h5>
                  <p class="texto_paragrafo"><i>Substância produzida por um tipo de micro-organismo, em contato com a água, gera esse aroma.</i></p>
               <br>

                  <p class="texto_paragrafo">O dia está quente e, de repente, cai aquela chuva para refrescar. Bastam as primeiras gotas tocarem o solo para sentirmos aquele agradável cheirinho de terra molhada. Um cientista diria: “Huumm, como é bom esse cheirinho de... Bactérias!”. É isso aí! O aroma que sentimos vem desses seres microscópicos, que podem ser muito úteis para humanos e até para os... Camelos!</p>
                  <p class="texto_paragrafo">Em geral, associamos bactérias a doenças, mas alguns desses seres são inofensivos, pode crer. Esse é o caso da Streptomyces coelicolor, bactéria que vive no solo e fabrica uma substância, [...] que nos faz perceber o cheirinho de terra molhada.</p>
                  <p class="texto_paragrafo">Além de ser excelente produtora de antibióticos – medicamentos indicados para combater algumas doenças de origem bacteriana –, essa bactéria é, digamos, uma aliada dos camelos. O odor característico que elas produzem em razão da umidade ajuda os camelos a encontrarem água no deserto. Claro que para sentir o cheirinho produzido pelas bactérias em ambiente tão seco os camelos precisam contar com um superolfato. E contam mesmo! Graças a esse sentido aguçado, são capazes de encontrar água a mais de oitenta quilômetros de distância.</p>
                  <p class="texto_paragrafo">Isso é que é faro! [...]</p>

                  <div class="text-right">SILVA, Andreza Moura Pinheiro. Disponível em: http://cienciahoje.uol.com.br/147532 Acesso em: 14 jul. 2009.</div>
                  <br>
                  <br>
                  <h5 class="card-title">QUESTÃO 10</h5>
                  <br>
                  <p class="card-text">No trecho “Esse é o caso da <b>Streptomyces coelicolor</b>,...” (2° parágrafo), a expressão destacada é exemplo de linguagem </p>
                    <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio"  name="q10" value="A" maxlength="1">-culta.</li>
                          <li><input type="radio" name="q10" value="B" maxlength="1">-cientifica.</li>
                          <li><input type="radio" name="q10" value="C" maxlength="1">-informal.</li>
                          <li><input type="radio" name="q10" value="D" maxlength="1">-técnica.</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>
          
          <br>           
          <br>

        </div>

                
        <div class="d-grid gap-2 m-xl-3">        
          <button type="reset" class="btn btn-danger">LIMPAR</button>
          <button type="submit" class="btn btn-success">RESPONDER</button>
        </div>
      </form>
    </div>
   
     
</body>
<script src="./js/bootstrap.min.js"></script>
<script src="./js/popper.min.js"></script>
<script src="/js/script.js"></script>
</html>