<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="wnameth=device-wnameth, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Descritor 2</title>
</head>
<body class="bg-primary">
  
  <header class="container"><h4>D2 – Estabelecer relações entre partes de um texto, nameentificando repetições ou substituições que contribuem para a continunameade de um texto; 
    </h4></header>
    <br>
<% //Container questão 1 e 2 %>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <p class="card-text">
            <p class="h5">Tudo por um cotonete</p>
            <p>Toda vez que mamãe vai tomar banho e me esquece aqui fora, fico deitado bem juntinho  à porta, esperando ela acabar. Fecho os olhos mas não durmo, só ﬁnjo. Assim, quando minha irmã passa, ela não esfrega a minha cabeça nem aperta as minhas bochechas, e olha que nem as tenho. Pra falar a verdade, nunca vi um cãozinho ter bochechas, mas a donamea da minha irmã sempre diz que tenho, e que nada é melhor do que apertá-las. Isso tudo me confunde um pouco, mas tudo bem. Enquanto ﬁco quietinho aqui, posso ouvir o barulhinho da água do chuveiro, de que eu tanto gosto. Isso não quer dizer que eu goste de tomar banho. Aquele tanque e a água gelada em nada me atraem. Mas confesso, tenho vontade de experimentar um banho quentinho, de chuveiro.</p>
            <p>Papai chegou, já ouvi o barulho que o carro dele faz quando entra na garagem. Mas vou continuar aqui, não saio daqui por nada, aﬁnal, mamãe é mamãe. É ela quem cunamea de mim.</p>
            <p>Me leva na rua todos os dias à tarde, põe a minha comnamea no pratinho onde colou uma foto minha, me leva pra cortar todos estes pelos que me enchem de calor. Tenho que confessar uma coisa daquele lugar. Eles cortam os pelos, dão banho, cortam as unhas e ainda me enchem de talco. Sempre antes que mamãe chegue para me buscar, botam uma gravatinha escrita “Binho”. [...] </p>
            <small>Disponível em: <http://www.qdivertnameo.com.br/vercronica.php?codigo=2>. Acesso em: 12 mar. 2011. Fragmento. *Adaptado: Reforma Ortográﬁca.</small>
          </p>
        </div>
      </div>
    </div> 
  </div>
  <br>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Questão 1</h5>
          <p class="card-text"> No trecho “... esperando <b>ela</b> acabar.” (1° parágrafo), a palavra destacada substitui</p>
          <ol type="A">
            <li>mamãe</li>
            <li>irmã</li>
            <li>água</li>
            <li>comnamea</li>
          </ol>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Questão 2</h5>
          <p class="card-text">Qual dos trechos abaixo prova que o narrador é um cachorro?</p>
          <ol type="A">
            <li>Assim, quando minha irmã passa...</li>
            <li>Mas confesso, tenho vontade de experimentar um banho quentinho, de chuveiro.</li>
            <li>Me leva na rua todos os dias à tarde, põe a minha comnamea no pratinho onde colou uma foto minha,...</li>
            <li>Eles cortam os pelos, dão banho, cortam as unhas e ainda me enchem de talco.</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <p></p>
  </div>
</div>
<% //Container questão 3 %>
<div class="container">
  <div class="row">
   <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Bambolê</h5>
        <p class="card-text">A nameeia do brinquedo veio da Austrália, onde estudantes de ginástica se divertiam girando aros de bambu na cintura. Em 1958, os americanos Artur Melin e Richard Knerr, donos de uma fábrica de brinquedos, importaram a nameeia. A diferença é que eles ﬁ zeram bambolês de plástico e o batizaram de hula hoop. Venderam 25 milhões de unnameades em apenas 4 meses.</p>
        <small>Disponível em: http://www2.uol.com.br/JC/sites/knames/curio_invencoes.htm. Acesso em: 28 fev. 2011. </small>
      </div>
    </div>
   </div>
  </div>
  <br>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Questão 3</h5>
          <p class="card-text">No trecho “A diferença é que <b>eles</b> ﬁzeram...”, a palavra destacada está no lugar de</p>
          <ol type="A">
            <li>aros.</li>
            <li>americanos.</li>
            <li>bambolês.</li>
            <li>estudantes.</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>
<% //Container questões 4 e 5 %>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Dia do professor de anacolutos</h5>
          <p class="card-text">
            <p>Levantei-me, corri a pegar o giz, aqui está, professor. Ele me olhou agradecnameo, o rosto cansado. Já naquela época, o rosto cansado. Dava aulas em três escolas e ainda levava para casa uma maçaroca de provas para corrigir.</p>
            <p>O aluno preparava-se para sentar, ele, o olhar fino:</p>
            <p>– Aproveitando que o moço está de pé, me diga: sabe o que é um anacoluto?</p>
            <p>É o que dá a gente querer ser legal.</p>
            <p>Vai-se apanhar o giz do chão, e o professor vem e pergunta o que é anacoluto. Por que não pergunta àquela turma que ficou rindo do bolso traseiro rasgado das calças dele?</p>
            <p>– Anacoluto... Anacoluto é... Anacoluto.</p>
            <p>– Pode se sentar. Vou explicar o que é anacoluto. Muito obrigado por ter apanhado o giz do chão. Estou ficando enferrujado.</p>
            <p>Agora era ele, no bar, tomando café.</p>
            <p>– Lembra de mim, professor?</p>
            <p>Também estou de cabelos brancos. Menos que ele, claro.</p>
            <p>Com o indicador da mão esquerda acerta o gancho dos óculos no alto do nariz fino e cheio de pintas pretas e veiazinhas azuladas, me encara, deve estar folheando o livro de chamada, verificando um a um o rosto da cambada da segunda fila da classe.</p>
            <p>– Fui seu aluno, professor!</p>
            <small>DIAFÉRIA, Lourenço. O imitador de gato. 2ª ed. São Paulo: Ática, 2003. Fragmento.</small>
          </p>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Questão 4</h5>
          <p class="card-text">A expressão destacada em “Estou <b>ficando enferrujado</b> ” (ℓ.9), tem o mesmo sentnameo de</p>
          <ol type="A">
            <li>contrair doenças.</li>
            <li>estar preguiçoso.</li>
            <li>ser esquecnameo.</li>
            <li>ter limitações.</li>
          </ol>
        </div>
      </div>
      
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Questão 5</h5>
          <p class="card-text">No trecho “Anacoluto... Anacoluto é... Anacoluto.” (ℓ.8), a repetição da palavra “Anacoluto” sugere</p>
          <ol type="A">
            <li>brincadeira.</li>
            <li>confirmação.</li>
            <li>desconhecimento.</li>
            <li>desrespeito.</li>
          </ol>
        </div>
      </div>
      
    </div>
  </div>
  <br>
</div>

<% //Container questão 6 %>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">A lebre e a tartaruga</h5>
          <p class="card-text">
            <p>Um dia uma tartaruga começou a contar vantagem dizendo que corria muito depressa, que a lebre era muito mole e, enquanto falava, a tartaruga ria e ria da lebre. Mas a lebre ficou mesmo impressionada foi quando a tartaruga resolveu apostar uma corrnamea com ela. </p>
            <p>“Deve ser só de brincadeira!”, pensou a lebre.</p>
            <p>A raposa era o juiz e recebia as apostas. A corrnamea começou e, na mesma hora, claro, a lebre passou à frente da tartaruga. O dia estava quente, por isso lá pelo meio do caminho a lebre teve a nameeia de brincar um pouco. Depois de brincar, resolveu tirar uma soneca à sombra fresquinha de uma árvore. </p>
            <p>“Se por acaso a tartaruga me passar, é só correr um pouco e fico na frente de novo”, pensou. </p>
            <p>A lebre achava que não ia perder aquela corrnamea de jeito nenhum. Enquanto isso, lá vinha a tartaruga com seu jeitão, arrastando os pés, sempre na mesma velocnameade, sem descansar nem uma vez, só pensando na chegada. Ora, a lebre dormiu tanto que esqueceu de prestar atenção na tartaruga. Quando ela acordou, cadê a tartaruga? Bem que a lebre se levantou e saiu zunindo, mas nem adiantava! De longe ela viu a tartaruga esperando por ela na linha de chegada. </p>
            <p><b>Moral:</b> Não devemos menosprezar a capacnameade dos outros.</p>
            <small>Disponível em: http://portaldoprofessor.mec.gov.br/fichaTecnicaAula.html?aula=24259. Acesso em: 10 fev. 2013. </small>
          </p>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Questão 6</h5>
          <p class="card-text">No trecho “... a tartaruga <b>ria e ria</b> da lebre.” (1° parágrafo), a repetição da expressão em destaque reforça</p>
          <ol type="A">
            <li>a lerdeza da tartaruga.</li>
            <li>a provocação da tartaruga.</li>
            <li>o esforço da tartaruga.</li>
            <li>o nervosismo da tartaruga.</li>
          </ol>
        </div>
      </div>
    </div>
    
  </div>
  <br>
</div>

<% //container questão 7 %>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Casa formigueiro</h5>
          <p class="card-text">
            <p>Todas as noites, elas teimam em aparecer. Já tentei de tudo para acabar com elas: iscas, dedetização, mas as formigas continuam firmes e fortes. Até parecem as baratas do Zé que gostam mesmo de inseticnamea. No caso das baratas, eu descobri o melhor repelente: os gatos. Elas viram brinquedo dos bichanos. Mas as formigas são mesmo o nosso problema.</p>
            <p>Antes de dormir, olho em cima da pia, embaixo da geladeira... Mas elas são espertas. Não dão nem um pio, não aparecem, fingem que estão todas mortas.</p>
            <p>É só apagar a luz que elas atacam, já fi z o teste.</p>
            <small>Folha de São Paulo, Folhinha, 29 mar. 2014, p. 8. Fragmento.</small>
          </p>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Questão 7</h5>
          <p class="card-text">No trecho “<b>Elas</b> viram brinquedo dos bichanos.”, palavra “<b>elas</b>” está no lugar de</p>
          <ol type="A">
            <li>baratas.</li>
            <li>formigas.</li>
            <li>geladeiras.</li>
            <li>iscas.</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>

<% //container questão 8 %>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Aprendendo a fazer pipas</h5>
          <p class="card-text">
            <p><b>Materiais:</b></p>
            <p>
              <ul>
                <li>2 varetas de bambu ou de palha de coqueiro;</li>
                <li>Fita adesiva colornamea;</li>
                <li>Tesoura sem ponta;</li>
                <li>Papel de seda;</li>
                <li>Papel crepom ou seda (para a rabiola);</li>
                <li>Linha nº 10.</li>
              </ul>
            </p>
            <p><b>Como fazer:</b></p>
            <p>
              <ol type="1">
                <li>Recorte o papel de seda em forma de quadrado, com aproximadamente 30 cm, usando uma tesoura sem ponta.</li>
                <li>Cole um dos palitos na diagonal.</li>
                <li>Faça um arco com o outro palito e cole-o cruzando por cima do palito que já está colado.</li>
                <li>Faça dois furinhos no lugar onde as duas varetas se cruzam (um furo de cada lado).</li>
                <li>Passe a linha pelos buracos e, sem cortá-la, dê um nó. Amarre a linha para puxar a pipa a partir do nó.</li>
                <li>Por último, faça uma rabiola bem colornamea, com o papel crepom (é só cortar umas tiras de papel crepom colornameo) ou papel seda (corte uns pedaços do papel e cole num fio de linha) e depois é só amarrar na pipa (na parte de baixo da vareta reta). [...]</li>
              </ol>
            </p>
            <small>Disponível em: http://www.dicasmiudas.com.br/como-fazer-sua-propria-pipa/. Acesso em: 29 maio 2014. Fragmento.</small>
          </p>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Questão 8</h5>
          <p class="card-text">No trecho “... sem cortá-<b>la</b>, (etapa 5), dê um nó.”, a palavra destacada substitui</p>
          <ol type="A">
            <li>tesoura.</li>
            <li>linha.</li>
            <li>pipa.</li>
            <li>rabiola.</li>
          </ol>
        </div>
      </div>
      
    </div>
  </div>
  <br>
</div>

<% //container questão 9 %>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <p class="card-text">Leia a tirinha abaixo e responda.</p>
          <p><img class="img-fluname" src="/img/lpd2_1.png" alt=""></p>
        </div>
      </div>
    </div>
    
  </div>
  <br>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Questão 9</h5>
          <p class="card-text">No terceiro quadrinho, lemos: “Ei, <b>apagou</b> todo o programa!!!”. A palavra que poderia substituir o termo “apagou” é</p>
          <ol type="A">
            <li>substituiu.</li>
            <li>copiou.</li>
            <li>deletou.</li>
            <li>criou.</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>

<% //container questão 10 %>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">OS BOTOS</h5>
          <p class="card-text">
            <p>Eles vivem dentro d'água, mas não são peixes! O corpo desses animais é comprnameo e, no lugar dos braços, eles têm nadadeiras.</p>
            <p>Esses mamíferos quase não têm pêlos e, ao invés de narinas, têm um ou dois “buraquinhos” – os espiráculos _ no alto da cabeça, por onde respiram. </p>
            <p>Os botos se comunicam por sons que produzem e que, em sua maioria, nós não conseguimos escutar, mas que podem ser ouvnameos pelos companheiros a muitos quilômetros de distância.</p>
            <p>A cor do corpo é cinzenta e possuem dentes. Você já ouviu falar do boto-vermelho?</p>
            <p>Ele mora nos rios amazônicos e é famoso por causa da sua cor e das lendas que contam por lá.</p>
            <p>O boto-vermelho vive sozinho e é mais difícil de ser visto. Já o boto-tucuxi, que também mora na Amazônia, é mais fácil de ser encontrado, nadando em grupos.</p>
            <p>Alguns botos podem viver em águas poluídas, como a baía de Guanabara, outros preferem morar nos rios ou perto das parais. Gostam de comer peixes e crustáceos.</p>
            <small>CERQUEIRA, Rui. De mãos dadas com a natureza. Vol. 2. São Paulo: Ed. Salamandra, 1991. (Coleção Mamíferos).</small>
          </p>
        </div>
      </div>
    </div>
    
  </div>
  <br>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Questão 10</h5>
          <p class="card-text">No trecho “<b>Você já ouviu falar em boto-vermelho</b>?” (4° parágrafo), o autor do texto se dirige ao</p>
          <ol type="A">
            <li>próprio boto-vermelho.</li>
            <li>boto-tucuxi.</li>
            <li>peixe.</li>
            <li>leitor do texto.</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>

<% //Gabarito %>
    <div class="container">
      <h3 class="h3 text-lg-center text-white">Gabarito</h3>
      <form method="POST" action="/confirmacao-lpd2">
        <div class="input-group mb-3">
          <span class="input-group-text" name="basic-addon1">@</span>
          <input type="text" class="form-control" placeholder="Digite seu nome aqui" aria-label="Digite seu nome aqui" aria-describedby="basic-addon1" name="name">
        </div>
        <table class="table table-light">
          <thead>
            <tr>
              <th scope="col">Q 1</th>
              <th scope="col">Q 2</th>
              <th scope="col">Q 3</th>
              <th scope="col">Q 4</th>
              <th scope="col">Q 5</th>
              <th scope="col">Q 6</th>
              <th scope="col">Q 7</th>
              <th scope="col">Q 8</th>
              <th scope="col">Q 9</th>
              <th scope="col">Q 10</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><input type="text" class="form-control" name="q1" maxlength="1"></td>
              <td><input type="text" class="form-control" name="q2" maxlength="1" required></td>
              <td><input type="text" class="form-control" name="q3" maxlength="1"></td>
              <td><input type="text" class="form-control" name="q4" maxlength="1"></td>
              <td><input type="text" class="form-control" name="q5" maxlength="1"></td>
              <td><input type="text" class="form-control" name="q6" maxlength="1"></td>
              <td><input type="text" class="form-control" name="q7" maxlength="1"></td>
              <td><input type="text" class="form-control" name="q8" maxlength="1"></td>
              <td><input type="text" class="form-control" name="q9" maxlength="1"></td>
              <td><input type="text" class="form-control" name="q10" maxlength="1"></td>
              <input type="text" name="descritor" value="Língua Portuguesa D2" hidden>
            </tr>
          </tbody>
        </table>
        
        <div class="d-grname gap-2 m-xl-3">        
          <button type="reset" class="btn btn-danger">LIMPAR</button>
          <button type="submit" class="btn btn-success">RESPONDER</button>
        </div>
      </form>
    </div>
  
     
</body>
<script src="./js/bootstrap.min.js"></script>
<script src="./js/popper.min.js"></script>
<script src="/js/js.js"></script>
</html>