<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Língua Portuguesa D3</title>
</head>
<body class="bg-primary">
  <div class="h3 text-lg-center text-white">ESCOLA MUNICIPAL JUSLANY DE SOUZA FLORES</div>
      <div class="h3 text-lg-center text-white">5º ANO TURMA A</div>  
  <hr>
  <header class="container-sm">
    <h4>D3 – Inferir o sentido de uma palavra ou expressão;</h4>
  </header>
    <div class="container-sm">
      
      <form method="POST" action="/gabarito_lpd3" onsubmit="return validarFormulario()">
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">@</span>
          <input type="text" class="form-control" placeholder="Digite seu nome aqui" aria-label="Digite seu nome aqui" aria-describedby="basic-addon1" name="name" id="name">
        </div>
        <div class="container-sm">

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <div class="h5">O Desenhista</div>
                  <p class="texto_paragrafo">A professora pegou Joãozinho na sala de aula desenhando caricaturas de seus amiguinhos.</p>
                  <p class="texto_paragrafo">Tomou seu caderno e disse:</p>
                  <p class="texto_paragrafo">– Vamos mostrar para a diretora e ver o que ela acha disso!</p>
                  <p class="texto_paragrafo">Chegando na sala da diretora, após esta olhar com atenção para os desenhos, exclamou:</p>
                  <p class="texto_paragrafo">– Muito bonito isso, não é, seu Joãozinho?</p>
                  <p class="texto_paragrafo">Respondeu Joãozinho com a maior naturalidade do mundo:</p>
                  <p class="texto_paragrafo">– Bonito e bem desenhado. Na verdade, eu sempre soube que era um grande artista, mas a modéstia me impedia de falar sobre o assunto. Mas agora, vindo da senhora, sei que é sincero, por isso ﬁco muito contente!</p>
                  <small>Disponível em: <www.sitededicas.uol.com.br> Acesso em: 19 maio 2008. </small>
                  <br>
                  <br>
                  <h5 class="card-title">QUESTÃO 1</h5>
                  <p class="card-text">No trecho “A professora <b>pegou</b> Joãozinho, na sala de aula desenhando...”, a palavra destacada signiﬁca</p>
                    <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio"  name="q1" value="A" maxlength="1">-surpreendeu, ﬂagrou.</li>
                          <li><input type="radio" name="q1" value="B" maxlength="1">-contraiu, infectou-se.</li>
                          <li><input type="radio" name="q1" value="C" maxlength="1">-apanhou, segurou.</li>
                          <li><input type="radio" name="q1" value="D" maxlength="1">-adquiriu, tomou posse.</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>
          
          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <div class="card-title h5">Bons amigos</div>
                  <p class="texto_paragrafo">Abençoados os que possuem amigos, os que os têm sem pedir.</p>
                  <p class="texto_paragrafo">Porque amigo não se pede, não se compra, nem se vende. </p>
                  <p class="texto_paragrafo">Amigo a gente sente!</p>
                  <p class="texto_paragrafo">Benditos os que sofrem por amigos, os que falam com o olhar.</p>
                  <p class="texto_paragrafo">Ou te apontam a realidade.</p>
                  <p class="texto_paragrafo">Porque amigo é a direção.</p>
                  <p class="texto_paragrafo">Amigo é a base quando falta o chão!</p>
                  <p class="texto_paragrafo">Benditos sejam todos os amigos de raízes, verdadeiros.</p>
                  <p class="texto_paragrafo">Porque amigos são herdeiros da real sagacidade.</p>
                  <p class="texto_paragrafo">Ter amigos é a melhor cumplicidade! [...]</p>
                  <small>Disponível em: <http://radioglobo.globoradio.globo.com/manha-da-globo-sp/2011/07/20/VOCE-MERECE-SER-FELIZ-BONS-AMIGOS.htm>. Acesso em: 12 ago. 2011.</small>
                  <br>
                  <br>
                  <h5 class="card-title">QUESTÃO 2</h5>                

                      <p class="card-text">No verso “Amigo é a <b>base</b> quando falta o chão!” (v. 10), a palavra em destaque tem o sentido de </p>
                    <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio"  name="q2" value="A" maxlength="1">-ensinamento.</li>
                          <li><input type="radio" name="q2" value="B" maxlength="1">-ingrediente.</li>
                          <li><input type="radio" name="q2" value="C" maxlength="1">-origem.</li>
                          <li><input type="radio" name="q2" value="D" maxlength="1">-suporte.</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                    <div class="card-title">Observe a imagem abaixo:</div>

                  <div class="text-center"><img class="img-fluid" src="/img/lpd3_3.png" alt=""></div>
                    <br>
                  <h5 class="card-title">QUESTÃO 3</h5>
                  <br>
                  <p class="card-text">A palavra <b>“gentil”</b>, no primeiro quadrinho, significa</p>
                    <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio"  name="q3" value="A" maxlength="1">-educado.</li>
                          <li><input type="radio" name="q3" value="B" maxlength="1">-alegre.</li>
                          <li><input type="radio" name="q3" value="C" maxlength="1">-corajoso.</li>
                          <li><input type="radio" name="q3" value="D" maxlength="1">-esperto.</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <div class="card-title">Leia a tirinha abaixo:</div>
                  <div class="card-title text-center"><img class="img-fluid" src="/img/lpd3_4.png" alt=""></div>

                      <br>
                  <h5 class="card-title">QUESTÃO 4</h5>
                  
                  <p class="card-text">Na fala do primeiro balão o “compadre” usa palavras no aumentativo para impressionar o amigo de pescaria. 
                    Dentre os aumentativos que ele usa, <b>BOCARRA</b> significa
                    </p>
                  <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio"  name="q4" value="A" maxlength="1">-rapaz grande.</li>
                          <li><input type="radio" name="q4" value="B" maxlength="1">-homem grande.</li>
                          <li><input type="radio" name="q4" value="C" maxlength="1">-boca grande.</li>
                          <li><input type="radio" name="q4" value="D" maxlength="1">-peixe grande.</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <div class="card-title">Leia o cartaz abaixo e responda:</div>
                  <div class="text-center"><img class="img-fluid" src="/img/lpd3_5.png" alt=""></div>
                  <br>
                  <h5 class="card-title">QUESTÃO 5</h5>
                 
                  <p class="card-text">A palavra <b>“CASA”</b> no título do cartaz se refere</p>
                    <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio" name="q5" value="A" maxlength="1">-ao planeta Terra.</li>
                          <li><input type="radio" name="q5" value="B" maxlength="1">-a todos os planetas.</li>
                          <li><input type="radio"  name="q5" value="C" maxlength="1">-à casa de nossos pais.</li>
                          <li><input type="radio" name="q5" value="D" maxlength="1">-às casas dos animais.</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <div class="card-title">Leia o texto abaixo e responda.</div>
                  <div class="text-center"><img class="img-fluid" src="/img/lpd3_6.png" alt=""></div>
            
                  <br>
                  <br>
                  <h5 class="card-title">QUESTÃO 6</h5>
                  <p class="card-text">A expressão <b>“o pai era uma onça”</b>, significa que </p>
                    <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio"  name="q6" value="A" maxlength="1">-o pai era muito feio.</li>
                          <li><input type="radio" name="q6" value="B" maxlength="1">-o pai era muito bravo.</li>
                          <li><input type="radio" name="q6" value="C" maxlength="1">-o pai era muito sério. </li>
                          <li><input type="radio" name="q6" value="D" maxlength="1">-o pai era muito alegre.</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <div class="card-title">Observe com atenção os quadrinhos a seguir.</div>
                  <div class="text-center"><img class="img-fluid" src="/img/lpd3_7.png" alt=""></div>
                  
                  <br>

                  <h5 class="card-title">QUESTÃO 7</h5>

                  <p class="card-text">O autor considera que o gato tem função “autolimpante”. Isso quer dizer que</p>
                    <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio" name="q7" value="A" maxlength="1">-alguém limpa o gato..</li>
                          <li><input type="radio" name="q7" value="B" maxlength="1">-o gato se limpa sozinho.</li>
                          <li><input type="radio" name="q7" value="C" maxlength="1">-às vezes o gato se limpa.</li>
                          <li><input type="radio" name="q7" value="D" maxlength="1">-o gato não se limpa.</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <p class="card-text">Leia o texto abaixo.</p>
                  <h5 class="card-title">Pedaço de meteorito perdido em Angra dos Reis vale R$ 3,5 milhões</h5>
                  <p class="texto_paragrafo">Angrito caiu na região há 144 anos e fragmentos se espalharam pela Costa Verde Imagine se você encontra na praia uma pequena rocha que caiu do céu e que pode valer até R$ 3,5 milhões. Sem contar os fragmentos, espalhados pelas proximidades, e cujo grama é avaliado por especialistas em aproximadamente US$ 10 mil (R$ 23,3 mil). É o que pode acontecer aos frequentadores das badaladas praias de Angra dos Reis.</p>
                  <p class="texto_paragrafo">Batizado com um nome que faz referência à cidade – Angrito – o objeto astronômico tem apenas 1,5 quilo e é o novo xodó dos apaixonados por Astronomia. De cor violeta e crosta brilhante, é considerado um dos mais valiosos do mundo, por ser tão antigo o Sistema Solar e seus 4,5 bilhões de anos. </p>
                  <p class="texto_paragrafo">O Angrito caiu, dividido em três partes, no mar, na beira da Praia de Bonfim e na Baía da Ilha Grande, há 144 anos. Dois pedaços estão desaparecidos e o terceiro, de 70 gramas, que vale em torno de R$ 1,6 milhão, foi doado ao Museu Nacional, no Rio de Janeiro, onde se encontra guardado a sete chaves. [...]</p>
                  <small>Disponível em: <http://odia.ig.com.br/noticia/rio-de-janeiro/2013-11-23/pedaco-de-meteorito-perdido-em-angra-dos-reis-valer-
                    35-milhoes.html>. Acesso em: 4 jun. 2014. Fragmento.
                    </small>
                  <br>
                  <br>
                  <h5 class="card-title">QUESTÃO 8</h5>
                  <p class="card-text">No Texto, a expressão <b>“... guardado a sete chaves.”</b>. (último parágrafo) tem o mesmo sentido de</p>
                    <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio"  name="q8" value="A" maxlength="1">-conservado em segredo.</li>
                          <li><input type="radio" name="q8" value="B" maxlength="1">-enterrado.</li>
                          <li><input type="radio" name="q8" value="C" maxlength="1">-mantido em segurança.</li>
                          <li><input type="radio" name="q8" value="D" maxlength="1">-perdido.</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Escolha os nomes das mascotes das Olimpíadas 2016, defensoras do esporte e do meio ambiente</h5>
                  <p class="texto_paragrafo">Durante a Copa do Mundo, o Brasil teve como símbolo nacional um simpático tatu-bola, espécie ameaçada de extinção escolhida para nos lembrar de preservar a natureza. Mal Fuleco [...] saiu de cena, chegaram outras duas mascotes superlegais, também amigas do esporte e do meio ambiente. Os embaixadores dos Jogos Olímpicos e Paraolímpicos têm muitas cores, poderes mágicos, histórias para contar e até vídeo, mas ainda não têm nome. </p>
                  <p class="texto_paragrafo">Quando o Rio de Janeiro foi escolhido para ser a sede dos Jogos, em outubro de 2009, houve uma grande explosão de alegria que criou esses dois seres mágicos. Cada um tem poderes herdados da força da natureza que, no caso do Brasil, é muuuuito grande. Nossa biodiversidade é a maior do mundo, não tem nenhum país com tanta riqueza natural quanto o nosso. [...] </p>
                  <p class="texto_paragrafo">O símbolo da edição de 2016 dos Jogos Olímpicos é um animalzinho que mistura um pouco de todos os bichos do Brasil, por isso, tem muitas habilidades [...]. Ele consegue se esticar muito, muito mesmo, a ponto de ficar com as patinhas de um lado do Maracanã e a cabeça do outro. Ele vive brincando por aí e tem muitos amigos pelo mundo, pois sabe imitar a voz de todos os animais. Por ser muito comunicativo, sua missão é celebrar a paz entre os povos e contagiar as pessoas com sua animação. </p>
                  <p class="texto_paragrafo">Seu melhor amigo é a mascote dos Jogos Paraolímpicos Rio 2016, um ser mágico que reúne qualidades de todas as plantas das florestas brasileiras. Dá para imaginar quais poderes ele tem? As plantas crescem em direção ao sol, superando qualquer obstáculo, e é isso que ele faz de melhor. [...] Sua missão é usar a criatividade para se divertir. As opções de nome são: </p>
                  <p class="texto_paragrafo">– Oba e Eba, que são expressões de alegria e comemoração; </p>
                  <p class="texto_paragrafo">– Tiba Tuque e Esquindim, que lembram o gingado brasileiro; – Vinicius e Tom, em referência a dois famosos artistas da música brasileira, Vinicius de Moraes e Tom Jobim. [...] </p>

                  <small>OLIVEIRA, Mannoela. Disponível em: <http://planetasustentavel.abril.com.br/planetinha/fique-ligado/escolha-nomes-mascotes-olimpiadas- 2016-defensores-esporte-meio-ambiente-817678.shtml>. Acesso em: 9 dez. 2014. Fragmento. </small>
                  <br>
                  <br>  
                  <h5 class="card-title">QUESTÃO 9</h5>
        
                  <p class="card-text">Nesse texto, no trecho <b>“Mal Fuleco [...] saiu de cena,...”</b> ( 1° parágrafo), a expressão destacada tem o sentido de </p>
                    <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio"  name="q9" value="A" maxlength="1">-abandonar o palco. </li>
                          <li><input type="radio" name="q9" value="B" maxlength="1">-ficar aguardando. </li>
                          <li><input type="radio" name="q9" value="C" maxlength="1">-um peixe.</li>
                          <li><input type="radio" name="q9" value="D" maxlength="1">-mudar de assunto.</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Mais raro do que nota de R$ 1</h5>
                  <p class="texto_paragrafo">Você já notou que a nota de R$ 1 é cada vez mais difícil de encontrar? Para quem não gosta de andar com moedinhas, isso pode ser motivo de tristeza. As notas de R$ 1 não estão mais sendo produzidas e, em breve, sairão de circulação.</p>
                  <p class="texto_paragrafo">O motivo é simples. “Fazer dinheiro custa dinheiro e estava ficando mais caro fazer a cédula de R$ 1 do que o valor que ela tinha”, explica Cássia. Como fazer moedas é mais barato – e a população, segundo estudos do Banco Central, tem simpatia pela moeda de R$ 1 porque ela é mais “bonita” –, elas estão gradativamente substituindo essas notas. Assim, pode dar adeus às verdinhas notas de R$ 1. Em pouco tempo, serão peça de museu.</p>
                  <small>Disponível em: <http://www.terra.com.br/noticias/educacao/infograficos/dinheiro-no-brasil/>. Acesso em: 23 mar. 2012. </small>
                  <br>
                  <br>
                  <h5 class="card-title">QUESTÃO 10</h5>
                  <br>
                  <p class="card-text">No trecho <b>“Em pouco tempo, serão peça de museu.”</b>, a expressão destacada indica que as notas</p>
                    <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio"  name="q10" value="A" maxlength="1">-deixarão de ser usadas pelas pessoas.</li>
                          <li><input type="radio" name="q10" value="B" maxlength="1">-passarão a ser feitas de outro material.</li>
                          <li><input type="radio" name="q10" value="C" maxlength="1">-serão estudadas.</li>
                          <li><input type="radio" name="q10" value="D" maxlength="1">-serão valiosas.</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>
          
          <br>           
          <br>

        </div>

                
        <div class="d-grid gap-2 m-xl-3">        
          <button type="reset" class="btn btn-danger">LIMPAR</button>
          <button type="submit" class="btn btn-success">RESPONDER</button>
        </div>
      </form>
    </div>
   
     
</body>
<script src="./js/bootstrap.min.js"></script>
<script src="./js/popper.min.js"></script>
<script src="/js/script.js"></script>
</html>