<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Descritor 4</title>
</head>
<body class="bg-primary">
  <header class=""><h4>D4-Inferir uma informação implícita em um texto.</h4></header>
  <hr>  
  <div class="container">
        <div class="row m-xl-2">
          <div class="col">
            <div class="card">
              <div class="card-body" name="texto">
                    <h5 class="card-title">A origem da noite</h5>
                    <p class="card-text"><p>E é assim até hoje. Depois do mundo feito, vem um para achar defeito. O indígena Uánham achou na criação uma falha: era dia atrás de dia, dia atrás de dia. Noite não havia, para se dormir e descansar.</p>
                    <p>De tanto assuntar, Uánham acabou descobrindo a dona da noite: a Surucucu. Moço valente, juntou o arco e as flechas, dizendo à sua gente:</p>
                    <p>– Esperem que esse cansaço já finda. Vou e trago a noite comigo, agorinha.</p>
                    <p>Chegando à casa da Surucucu, bateu palmas e chamou:</p>
                    <p>– Ó, comadre! Venho de longe pra lhe comprar a noite. Em troca, ofereço-lhe meu arco e flechas.</p>
                    <p>A Surucucu danou-se a rir da proposta de Uánham. Depois, respondeu:</p>
                    <p>– E como se usa arco e flecha, sem mãos e pés? Sua oferta não tem serventia para mim.</p>
                    <p>Uánham voltou para a aldeia e <b> se pôs a matutar </b>. Passou o tempo de uma lua, se lua houvesse. Então, uma ideia brotou-lhe da cachola:</p>
                    <p>– Vou oferecer à dona da noite a faixa que uso nas pernas. Isso ela há de querer!</p>
                    <p>Cedinho, banhou-se no rio e foi direto à casa da Surucucu. Como da primeira vez, bateu palmas e chamou. Diante da oferta do indígena, ela respondeu:</p>
                    <p>– Na perna não presta, porque perna não tenho. Mas aceito a faixa. Amarre-a no meu rabo.[...]</p>
                    <p><small>SAVARY, Flávia. A origem da noite. São Paulo: Editora Salesiana, 2006. p. 8-9. Fragmento</small></p></p>
              </div>
             </div>
          </div>

          <div class="col">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Questão 1</h5>
                <p class="card-text">No trecho “Uánham voltou para a aldeia e <b>se pôs a matutar</b>.”, a expressão destacada significa que o indígena se pôs a</p>
                    <ol type="A">
                      <li>conversar.</li>
                      <li>falar.</li>
                      <li>pensar.</li>
                      <li>trabalhar.</li>
                    </ol>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Questão 2</h5>
                <p class="card-text">De acordo com o texto, qual foi o objetivo de Uánham ao descobrir a dona da noite?</p>
                    <ol type="A">
                      <li>Aprender a usar arco e flecha.</li>
                      <li>Comprar a noite da Surucucu.</li>
                      <li>Descansar durante a noite.</li>
                      <li>Achar uma falha na criação.</li>
                    </ol>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Questão 3</h5>
                <p class="card-text">Baseado no texto, o que levou Uánham a oferecer a faixa que usava nas pernas para a Surucucu?</p>
                    <ol type="A">
                      <li>Acreditar que a Surucucu não sabia que ele já havia oferecido seu arco e flechas.</li>
                      <li>Perceber que a Surucucu não tinha mãos nem pés para usar arco e flecha.</li>
                      <li>Descobrir que a Surucucu não gostava de arco e flecha.</li>
                      <li>Acreditar que a Surucucu tinha interesse na faixa que usava nas pernas.</li>
                    </ol>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Questão 4</h5>
                <p class="card-text">Por que o indígena resolveu comprar a noite?</p>
                    <ol type="A">
                      <li>Porque encontrou uma falha na criação.</li>
                      <li>Porque estava cansado e precisava de um período para descansar.</li>
                      <li>Porque a noite estava barata.</li>
                      <li>Porque ele queria se tornar o criador da noite.</li>
                    </ol>
              </div>
            </div>
            
          </div>
         
          <div class="row m-xl-2">
            <div class="col">
              <div class="card">
                <div class="card-body" name="texto2">
                      <h5 class="card-title">A mulher de neve</h5>
                      <p class="card-text"><p>No Antigo Japão, morava um rapaz que, não tendo ainda encontrado a noiva ideal, vivia sozinho. Numa noite de inverno, durante uma tempestade de neve, ele escutou uma batida na porta; foi ver quem era e se deparou com uma jovem caída na soleira. Compassivo, levou-a para dentro. A moça logo recuperou a consciência, mas seu rosto continuou branco como a neve.</p>
                      <p>Perdidamente apaixonado por sua estranha beleza, o rapaz lhe pediu que se casasse com ele. Os dois jovens viveram felizes durante todo o inverno, porém, quando a primavera chegou e as neves começaram a derreter, a moça passou a definhar a olhos vistos.</p>
                      <p>O marido pensou que talvez ela precisasse de um pouco de distração. Assim, resolveu organizar uma festa para comemorar a chegada da primavera e convidou todos os seus amigos. Enquanto os convidados se regalavam na sala, o rapaz chamou a esposa, que tinha ido até a cozinha. Não obtendo resposta, foi procurá-la e não a encontrou em parte alguma. Tudo o que restara da jovem misteriosa era seu quimono, deixado numa poça de água diante do fogão.</p>
                      <small>Fonte: PhIlIP, Neil. Volta ao mundo em 52 histórias. São Paulo: Companhia das letrinhas, 1998</small></p>
                </div>
               </div>
            </div>
  
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Questão 5</h5>
                  <p class="card-text">Por que a moça passou a definhar a olhos vistos na primavera?</p>
                      <ol type="A">
                        <li>Porque a primavera a deixava triste.</li>
                        <li>Porque as neves começaram a derreter.</li>
                        <li>Porque ela era uma jovem misteriosa.</li>
                        <li>Porque ela não gostava de festa.</li>
                      </ol>
                </div>
              </div>
              <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Questão 6</h5>
                    <p class="card-text">Por que o rapaz levou a moça para dentro de casa?</p>
                    <ol type="A">
                        <li>Porque ele estava entediado.</li>
                        <li>Porque ele era compassivo.</li>
                        <li>Porque ele queria se casar com ela.</li>
                        <li>Porque ele queria saber quem era a pessoa na porta.</li>
                    </ol>
                </div>
            </div>
            <div class="card">
              <div class="card-body">
                  <h5 class="card-title">Questão 7</h5>
                  <p class="card-text">Por que o rapaz resolveu organizar uma festa?</p>
                  <ol type="A">
                      <li>Porque ele queria distrair seus convidados.</li>
                      <li>Porque ele queria distrair a esposa.</li>
                      <li>Porque ele queria comemorar a chegada da primavera.</li>
                      <li>Porque ele era muito social e adorava festas.</li>
                  </ol>
              </div>
          </div>
          <div class="card">
              <div class="card-body">
                  <h5 class="card-title">Questão 8</h5>
                  <p class="card-text">O trecho <b>"Tudo o que restara da jovem misteriosa era seu quimono, deixado numa poça de água[...]."</b>
                  nos deixa enteder que a mulher
                  </p>
                  <ol type="A">
                      <li>se queimou.</li>
                      <li>viajou sem seu quimono.</li>
                      <li>estava tomando banho de piscina.</li>
                      <li>derreteu.</li>
                  </ol>
              </div>
          </div>
              
            </div>
          </div>
        </div>

        <div class="row m-xl-2">
          <div class="col">
            <img class="img-fluid" src="/img/tirinha1.jpg" alt="">
          </div>         
        </div>

        <div class="row m-xl-2">
          <div class="col">
            <div class="card">
              <div class="card-body">
                  <h5 class="card-title">Questão 9</h5>
                  <p class="card-text">
                    No segundo quadrinho, as palavras <b> “Cebola, Cebolinha e Cebolão” </b> servem para indicar
                  </p>
                  <ol type="A">
                      <li>o tamanho das pessoas.</li>
                      <li>o grau de parentesco.</li>
                      <li>a importância da família.</li>
                      <li>o carinho dos pais.</li>
                  </ol>
              </div>
          </div>
          </div> 
          <div class="col">
            <div class="card">
              <div class="card-body">
                  <h5 class="card-title">Questão 10</h5>
                  <p class="card-text">
                    A pergunta que Cebolinha faz para a sua mãe, no último quadrinho, pode indicar que
                  </p>
                  <ol type="A">
                    <li>Cebolinha gosta de atrapalhar a sua mãe.</li>
                    <li>Cebolinha não entende de hortas.</li>
                    <li>Cebolinha precisa melhorar o seu vocabulário.</li>
                      <li>Cebolinha é um menino muito esperto e gosta de falar sobre hortaliças.</li>
                  </ol>
              </div>
          </div>
          </div>               
        </div>      
    </div>
    <div class="container">
      <h3 class="h3 text-lg-center text-white">Gabarito</h3>
      <form method="POST" action="/confirmacao-lpd4">
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">@</span>
          <input type="text" class="form-control" placeholder="Digite seu nome aqui" aria-label="Digite seu nome aqui" aria-describedby="basic-addon1" name="name" id="name">
        </div>
        <table class="table table-light">
          <thead>
            <tr>
              <th scope="col">Q 1</th>
              <th scope="col">Q 2</th>
              <th scope="col">Q 3</th>
              <th scope="col">Q 4</th>
              <th scope="col">Q 5</th>
              <th scope="col">Q 6</th>
              <th scope="col">Q 7</th>
              <th scope="col">Q 8</th>
              <th scope="col">Q 9</th>
              <th scope="col">Q 10</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><input type="text" class="form-control" name="q1" maxlength="1"></td>
              <td><input type="text" class="form-control" name="q2" maxlength="1"></td>
              <td><input type="text" class="form-control" name="q3" maxlength="1"></td>
              <td><input type="text" class="form-control" name="q4" maxlength="1"></td>
              <td><input type="text" class="form-control" name="q5" maxlength="1"></td>
              <td><input type="text" class="form-control" name="q6" maxlength="1"></td>
              <td><input type="text" class="form-control" name="q7" maxlength="1"></td>
              <td><input type="text" class="form-control" name="q8" maxlength="1"></td>
              <td><input type="text" class="form-control" name="q9" maxlength="1"></td>
              <td><input type="text" class="form-control" name="q10" maxlength="1"></td>
              <input type="text" name="descritor" value="Língua Portuguesa D4" hidden>
            </tr>
          </tbody>
        </table>
        
        <div class="d-grid gap-2 m-xl-3">        
          <button type="reset" class="btn btn-danger">LIMPAR</button>
          <button type="submit" class="btn btn-success">RESPONDER</button>
        </div>
      </form>
    </div>
</body>
<script src="./js/bootstrap.min.js"></script>
<script src="./js/popper.min.js"></script>
</html>