<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Descritor 5</title>
</head>
<body class="bg-primary">
  <header class=""><h4>D5 – Interpretar texto com auxílio de material gráfico diverso (propagandas, quadrinhos, foto, etc.);</h4></header>
  <hr>  
<% //container questão 1 %>
<div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="card">
          <div class="card-body" name="texto">
                <p class="card-text">
                 <p>Observe a tirinha abaixo:</p>
                 <p><img class="img-fluid" src="/img/lpd5_1.png" alt=""></p>   
<small>Disponível em: http://www.monica.com.br/index.html Acesso em: 22 maio 2011. </small>
                </p>
          </div>
         </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
              <h5 class="card-title">Questão 1</h5>
              <p class="card-text">
                De acordo com a tirinha ao lado, a intenção do cachorro Bidu era
              </p>
              <ol type="A">
                  <li>cavar um buraco fundo.</li>
                  <li>despistar o outro cão.</li>
                  <li>fugir de alguém.</li>
                  <li>procurar ossos.</li>
              </ol>
          </div>
      </div>
      </div>
    </div>
    <div class="row m-xl-2">
            
    </div>      
</div>
<% //container questão 2 %>
<div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body" name="texto">
              <p class="card-text">
                <p>Leia o texto abaixo:</p>
                <img class="img-fluid" src="/img/lpd5_2.png" alt="">
              </p>
          </div>
         </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
              <h5 class="card-title">Questão 2</h5>
              <p class="card-text">
                O menino queria que seus amigos corressem para
              </p>
              <ol type="A">
                  <li>apostar quem chegaria em primeiro lugar.</li>
                  <li>fazer uma atividade física para manter a forma.</li>
                  <li>seguir o carro que atropelou uma pessoa.</li>
                  <li>ver quem sabia obedecer à ordem que ele deu.</li>
              </ol>
          </div>
      </div>
      </div> 
    </div>
    <div class="row m-xl-2">
     
    </div>      
</div>

<% //container questão 3 %>
<div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body" name="texto">
              <p class="card-text">
                <p>Observe a figura abaixo:</p>
                <img class="img-fluid" src="/img/lpd5_3.png" alt="">
              </p>
          </div>
         </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
              <h5 class="card-title">Questão 3</h5>
              <p class="card-text">
                Na figura ao lado, as crianças e o cachorro
              </p>
              <ol type="A">
                  <li>não gostam da atitude do homem.</li>
                  <li>não querem brincar perto do homem.</li>
                  <li>pegam as folhas que caíram da árvore.</li>
                  <li>querem descansar debaixo da árvore.</li>
              </ol>
          </div>
      </div>
      </div> 
    </div>
    <div class="row m-xl-2">
     
    </div>      
</div>

<% //container questão 4 %>
<div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body" name="texto">
              <p class="card-text">
                <p>Observe a figura abaixo:</p>
                <img class="img-fluid" src="/img/lpd5_4.jpg" alt="">
              </p>
          </div>
         </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
              <h5 class="card-title">Questão 4</h5>
              <p class="card-text">
                A partir da leitura do Texto , conclui-se que
              </p>
              <ol type="A">
                  <li>existem cadeiras de rodas que passam por portas estreitas.</li>
                  <li>existem locais que não são adaptados para cadeirantes.</li>
                  <li>os bebedouros devem ser colocados próximos aos banheiros.</li>
                  <li>os cadeirantes não podem usar banheiros públicos.</li>
              </ol>
          </div>
      </div>
      </div> 
    </div>

    <div class="row">
      <p></p>
    </div>
      
</div>

<% //container questão 5 %>
<div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body" name="texto">
              <p class="card-text">
                <p>Observe o texto abaixo:</p>
                <img class="img-fluid" src="/img/lpd5_5.jpg" alt="">
              </p>
          </div>
         </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
              <h5 class="card-title">Questão 5</h5>
              <p class="card-text">
                De acordo com esse texto, as pessoas estão
              </p>
              <ol type="A">
                  <li>brigando.</li>
                  <li>conversando.</li>
                  <li>pensando.</li>
                  <li> gritando.</li>
              </ol>
          </div>
      </div>
      </div> 
    </div>

    <div class="row">
      <p></p>
    </div>
      
</div>

<% //container questão 6 %>
<div class="container">
    <div class="row">
      <div class="col-md-7">
        <div class="card">
          <div class="card-body" name="texto">
              <p class="card-text">
                <p>Observe o texto abaixo:</p>
                <img class="img-fluid" src="/img/lpd5_6.png" alt="">
              </p>
          </div>
         </div>
      </div>
      <div class="col-md-5">
        <div class="card">
          <div class="card-body">
              <h5 class="card-title">Questão 6</h5>
              <p class="card-text">
                Pela resposta do Garfield, as coisas que acontecem no mundo são
              </p>
              <ol type="A">
                  <li>assustadoras.</li>
                  <li>corriqueiras.</li>
                  <li>curiosas.</li>
                  <li>naturais.</li>
              </ol>
          </div>
      </div>
      </div> 
    </div>

    <div class="row">
      <p></p>
    </div>
      
</div>

<% //container questão 7 e 8 %>
<div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body" name="texto">
              <p class="card-text">
                <p>Observe o texto abaixo:</p>
                <img class="img-fluid" src="/img/lpd5_7.png" alt="">
              </p>
          </div>
         </div>
      </div>
     </div>

     <div class="row">
      <p></p>
     </div>

    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
              <h5 class="card-title">Questão 7</h5>
              <p class="card-text">
                O texto acima tem a finalidade de
              </p>
              <ol type="A">
                  <li>informar sobre um acontecimento de caráter jornalístico.</li>
                  <li>informar sobre a dificuldade de vagas de emprego para pessoas com deficiência.</li>
                  <li>despertar a sensibilidade artística e a criatividade.</li>
                  <li>chamar a atenção para um problema social.</li>
              </ol>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
              <h5 class="card-title">Questão 8</h5>
              <p class="card-text">
                Qual a contradição apresentada no texto acima, exceto?
              </p>
              <ol type="A">
                  <li>A pessoa com deficiência não poder chegar ao local de trabalho.</li>
                  <li>O fato da vaga de emprego ser para pessoas com deficiência mas não existir acessibilidade.</li>
                  <li>A falta de respeito dos patrões com o público alvo do anúncio de emprego.</li>
                  <li>A pessoa com deficiência não poder levantar da cadeira de rodas para subir as escadas.</li>
              </ol>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <p></p>
    </div>
      
</div>

<% //container questão 9 %>
<div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body" name="texto">
              <p class="card-text">
                <p> Veja a propaganda que vende copos plásticos a preços promocionais:</p>
                <img class="img-fluid" src="/img/lpd5_9.png" alt="">
              </p>
          </div>
         </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
              <h5 class="card-title">Questão 9</h5>
              <p class="card-text">
                De acordo com o anúncio ao lado, é mais econômico comprar
              </p>
              <ol type="A">
                  <li>copos de tamanhos iguais.</li>
                  <li>dois copos de uma só vez.</li>
                  <li>somente um copo.</li>
                  <li>copos de cores diferentes.</li>
              </ol>
          </div>
      </div>
      </div> 
    </div>

    <div class="row">
      <p></p>
    </div>
      
</div>

<% //container questão 10 %>
<div class="container">
    <div class="row justify-content-md-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-body" name="texto">
              <p class="card-text">
                <p> Observe o gráfico abaixo:</p>
                <img class="img-fluid" src="/img/lpd5_10.jpg" alt="">
              </p>
          </div>
         </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
              <h5 class="card-title">Questão 10</h5>
              <p class="card-text">
                Observando o gráfico podemos concluir, exceto.
              </p>
              <ol type="A">
                  <li>A disciplina preferida dos alunos é Educação Física.</li>
                  <li>A disciplina que os alunos menos gostam é Inglês.</li>
                  <li>História é a diciplina preferida por mais de 10 pessoas.</li>
                  <li>Dezoito alunos gostam mais de Matemática.</li>
              </ol>
          </div>
      </div>
      </div> 
    </div>

    <div class="row">
      <p></p>
    </div>
      
</div>

<% //Gabarito %>
<div class="container">
    <h3 class="h3 text-lg-center text-white">Gabarito</h3>
    <form method="POST" action="/confirmacao-lpd5">
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">@</span>
        <input type="text" class="form-control" placeholder="Digite seu nome aqui" aria-label="Digite seu nome aqui" aria-describedby="basic-addon1" name="name" id="name">
      </div>
      <table class="table table-light">
        <thead>
          <tr>
            <th scope="col">Q 1</th>
            <th scope="col">Q 2</th>
            <th scope="col">Q 3</th>
            <th scope="col">Q 4</th>
            <th scope="col">Q 5</th>
            <th scope="col">Q 6</th>
            <th scope="col">Q 7</th>
            <th scope="col">Q 8</th>
            <th scope="col">Q 9</th>
            <th scope="col">Q 10</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><input type="text" class="form-control" name="q1" maxlength="1"></td>
            <td><input type="text" class="form-control" name="q2" maxlength="1"></td>
            <td><input type="text" class="form-control" name="q3" maxlength="1"></td>
            <td><input type="text" class="form-control" name="q4" maxlength="1"></td>
            <td><input type="text" class="form-control" name="q5" maxlength="1"></td>
            <td><input type="text" class="form-control" name="q6" maxlength="1"></td>
            <td><input type="text" class="form-control" name="q7" maxlength="1"></td>
            <td><input type="text" class="form-control" name="q8" maxlength="1"></td>
            <td><input type="text" class="form-control" name="q9" maxlength="1"></td>
            <td><input type="text" class="form-control" name="q10" maxlength="1"></td>
            <input type="text" name="descritor" value="Língua Portuguesa D5" hidden>

          </tr>
        </tbody>
      </table>
      
      <div class="d-grid gap-2 m-xl-3">        
        <button type="reset" class="btn btn-danger">LIMPAR</button>
        <button type="submit" class="btn btn-success">RESPONDER</button>
      </div>
    </form>
</div>

</body>
<script src="./js/bootstrap.min.js"></script>
<script src="./js/popper.min.js"></script>
</html>