<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Descritor 6</title>
</head>
<body class="bg-primary">
  <header class=""><h4>D6 – Identificar um tema de um texto.</h4></header>
    <div class="container">
        <div class="row m-xl-2">
          <div class="col">
            <div class="card">
              <div class="card-body" name="texto">
                    <h5 class="card-title">Brasil</h5>
                    <p class="card-text">
                        <p>Brasil, oficialmente República Federativa do Brasil, é o maior país da América do Sul e o quinto maior do mundo em área territorial (equivalente a 47% do território sul-americano) e população, com mais de 192 milhões de habitantes. É o único país falante da língua portuguesa na América, além de ser uma das nações mais multiculturais e etnicamente diversas do planeta, resultado da forte imigração vinda de muitos países.</p>
<p>Delimitado pelo oceano Atlântico a leste, o Brasil é limitado a norte pela Venezuela, Guiana, Suriname e pelo departamento ultramarino francês da Guiana Francesa; a noroeste pela Colômbia; a oeste pela Bolívia e Peru; a sudoeste pela Argentina e Paraguai e ao sul pelo Uruguai.</p>
<p>O Brasil foi descoberto pelos europeus em 1500, por uma expedição portuguesa liderada por Pedro Álvares Cabral. O território brasileiro, até então habitado por indígenas, a partir daí torna-se uma colônia do império ultramarino português. A independência do Brasil se deu em 1822. O Brasil também é o lar de uma diversidade de animais selvagens, ambientes naturais e de vastos recursos naturais em uma grande variedade de habitats protegidos.</p>
<small>Disponível em: http://migre.me/9Xml3. Acesso em: 19 jul. 2012. Fragmento.  </small>
                    </p>
              </div>
             </div>
          </div>
        </div>
        <div class="row m-xl-2">
          <div class="col">
            <div class="card">
              <div class="card-body">
                  <h5 class="card-title">Questão 1</h5>
                  <p class="card-text">
                    Qual é o assunto desse texto?
                  </p>
                  <ol type="A">
                      <li>A imigração no Brasil.</li>
                      <li>As características do Brasil.</li>
                      <li>O descobrimento do Brasil.</li>
                      <li>Os povos indígenas do Brasil.</li>
                  </ol>
              </div>
          </div>
          </div>      
        </div>      
    </div>

    <div class="container">
        <div class="row m-xl-2">
          <div class="col">
            <div class="card">
              <div class="card-body" name="texto">
                    <h5 class="card-title">A Boneca Guilhermina</h5>
                    <p class="card-text">
<p>Esta é a minha boneca, a Guilhermina. Ela é uma boneca muito bonita, que faz xixi e cocô. Ela é muito boazinha também. Faz tudo o que eu mando. Na hora de dormir, reclama um pouco. Mas depois que pega no sono, dorme a noite inteira! Às vezes ela acorda no meio da noite e diz que está com sede. Daí eu dou água para ela. Daí ela faz xixi e eu troco a fralda dela. Então eu ponho a Guilhermina dentro do armário, de castigo. Mas quando ela chora, eu não agüento. Eu vou até lá e pego a minha boneca no colo. A Guilhermina é a boneca mais bonita da rua.</p>
<small>MUILAERT, A. A boneca Guilhermina. In: __ As reportagensde Penélope. São Paulo: Companhia das  Letrinhas, 1997. p. 17. Coleção Castelo Rá-Tim-Bum – vol. 8.</small> 
                    </p>
              </div>
             </div>
          </div>
        </div>
        <div class="row m-xl-2">
          <div class="col">
            <div class="card">
              <div class="card-body">
                  <h5 class="card-title">Questão 2</h5>
                  <p class="card-text">
                    O texto trata, PRINCIPALMENTE,
                  </p>
                  <ol type="A">
                      <li>das aventuras de uma menina.</li>
                      <li>das brincadeiras de uma boneca.</li>
                      <li>de uma boneca muito especial.</li>
                      <li>do dia-a-dia de uma menina.</li>
                  </ol>
              </div>
          </div>
          </div>      
        </div>      
    </div>

    <div class="container">
      <div class="row m-xl-2">
        <div class="col">
          <div class="card">
            <div class="card-body" name="texto">
                  <h5 class="card-title">O Galo e a Pedra Preciosa</h5>
                  <p class="card-text">
                    <small>Esopo</small>
<p>Um Galo, que procurava no terreiro, alimento para ele e suas galinhas, acaba por encontrar uma pedra preciosa de grande beleza e valor. Mas, depois de observá-la por um instante, comenta desolado:</p>
<p>— Se ao invés de mim, teu dono tivesse te encontrado, ele decerto não iria se conter diante de tamanha alegria, e é quase certo que iria te colocar em lugar digno de adoração. No entanto, eu te achei e de nada me serves. Antes disso, preferia ter encontrado um simples grão de milho, a que todas as jóias do Mundo!</p>
<small>Moral da História: A necessidade de cada um é o que determina o real valor das coisas. www.sitededicas.com.br</small> 
                  </p>
            </div>
           </div>
        </div>
      </div>
      <div class="row m-xl-2">
        <div class="col">
          <div class="card">
            <div class="card-body">
                <h5 class="card-title">Questão 3</h5>
                <p class="card-text">
                  O tema desse texto é:
                </p>
                <ol type="A">
                    <li>a beleza e o valor da pedra preciosa.</li>
                    <li>a relação entre valor e necessidade.</li>
                    <li>o alimento preferido de galos e galinhas.</li>
                    <li>o encontro do galo com a pedra.</li>
                </ol>
            </div>
        </div>
        </div>      
      </div>      
     </div>

    <div class="container">
    
    <div class="row m-xl-2">
      <div class="col">
        <img class="img-fluid" src="/img/cartaz.jpg" alt="">
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
              <h5 class="card-title">Questão 4</h5>
              <p class="card-text">
                O tema do cartaz ao lado alerta para os cuidados que as pessoas devem ter com os animais quanto a sua
              </p>
              <ol type="A">
                  <li>identificação.</li>
                  <li>alimentação.</li>
                  <li>reprodução.</li>
                  <li>vacinação.</li>
              </ol>
          </div>
      </div>
      </div>      
    </div>      
    </div>

    <div class="container">
    
    <div class="row m-xl-2">
      <div class="col">
        <div class="card">
          <div class="card-body">
              <h5 class="card-title">Questão 5</h5>
              <p class="card-text">
                O assunto da propaganda acima é
              </p>
              <ol type="A">
                  <li>a venda de bicicleta.</li>
                  <li>a corrida de bicicleta.</li>
                  <li>a informação da preservação do ambiente.</li>
                  <li>o anúncio do dia mundial sem carro.</li>
              </ol>
          </div>
      </div>
      </div>      
      <div class="col">
        <img class="img-fluid" src="/img/cartaz2.jpg" alt="">
      </div>
    </div>      
    </div>

    <div class="container">
    <div class="row m-xl-2">
      <div class="col">
        <div class="card">
          <div class="card-body" name="texto">
                <h5 class="card-title">Você conhece alguma festa popular?</h5>
                <p class="card-text">
<p>O Carnaval, é claro!</p>
<p>Mas você sabe há quanto tempo existem festas como o carnaval?</p>
<p>Os povos das antigas civilizações faziam festas para homenagear seus deuses e agradeciam à natureza pelo alimento que colhiam da terra.</p>
<p>Essas festas foram transmitidas de pais para filhos até os dias de hoje.</p>
<p>Elas mostram o jeito de ser de cada povo, suas tradições e sua cultura.</p>
<p>No Brasil, as tradições portuguesas uniram-se à dança indígena e ao batuque africano.</p>
<p>O Maracatu tem trajes e danças que lembram os antigos guerreiros e a festa do divino de origem portuguesa, tem danças folclóricas de origem africana.</p>
<p>Danças como a Congada e o Moçambique vieram da cultura africana.</p>
<p>O Cateretê e os Caboclinhos são danças de origem indígena.</p>
<p>Festas como Bumba-meu-Boi narram lendas por meio de dança.</p>
<p>E a Cavalhada narra a história de antigas lutas. Parece um teatro ao ar livre, sempre com roupas muito coloridas e máscaras curiosas.</p>
<p>Em dezembro, a folia de reis celebra o nascimento do menino Jesus.</p>
<p>E na virada do ano a rainha do mar, Iemanjá, é homenageada nas águas do oceano. São muitas as festas populares. Com elas aprendemos uma porção de coisas... histórias, lendas, comidas típicas, músicas e artesanatos.</p>
<p>Conhecer as festas populares é conhecer o seu próprio povo.</p>
<p>Abre alas que eu quero passar</p>
<small>Newton Foot</small> 
                </p>
          </div>
         </div>
      </div>
    </div>
    <div class="row m-xl-2">
      <div class="col">
        <div class="card">
          <div class="card-body">
              <h5 class="card-title">Questão 6</h5>
              <p class="card-text">
                O tema principal abordado no texto ao lado refere-se às              </p>
              <ol type="A">
                  <li>festas de homenagem aos deuses.</li>
                  <li>festas populares brasileiras.</li>
                  <li>antigas civilizações.</li>
                  <li>danças dos antigos guerreiros.</li>
              </ol>
          </div>
      </div>
      </div>      
    </div>      
    </div>

    <div class="container">
    <div class="row m-xl-2">
      <div class="col">
        <div class="card">
          <div class="card-body" name="texto">
                <h5 class="card-title">Mata Atlântica</h5>
                <p class="card-text">
<p>A floresta densa e úmida que você vê, quando vai a muitas de suas praias preferidas é a Mata Atlântica.Quando o Brasil foi descoberto, ela margeava todo o litoral, desde o Nordeste até o Sul do país.Hoje, restam apenas 7% da vegetação, abrigo de mais de 20 mil espécies de plantas, 261 espécies de mamíferos, 340 de anfíbios, 192 de répteis e 1 020 de pássaros. Boa parte dessas espécies só existe na Mata Atlântica. </p>

<small>Nova Escola. mar. 2009.</small> 
                </p>
          </div>
         </div>
      </div>
    </div>
    <div class="row m-xl-2">
      <div class="col">
        <div class="card">
          <div class="card-body">
              <h5 class="card-title">Questão 7</h5>
              <p class="card-text">
                Qual é o assunto desse texto?            </p>
              <ol type="A">
                  <li>A constituição da Mata Atlântica.</li>
                  <li>A extensão do litoral brasileiro.</li>
                  <li>O desaparecimento da floresta.</li>
                  <li>O descobrimento do Brasil.</li>
              </ol>
          </div>
      </div>
      </div>      
    </div>      
    </div>

    <div class="container">
      <div class="row m-xl-2">
        <div class="col">
          <div class="card">
            <div class="card-body" name="texto">
                  <h5 class="card-title">Viagem à lua No mundo da lua...</h5>
                  <p class="card-text">
  <p>O século XX entrou para história como “o século em que o homem saiu da Terra e alcançou o espaço”. Antes disso o homem nunca tinha pensado em ir tão longe! No dia 16 de julho de 1969, a primeira espaçonave tripulada saiu da Terra a caminho da Lua. Depois desse evento, a forma de o homem entender o mundo e tudo que o cerca nunca mais foi a mesma. O nome da espaçonave era Apolo 11 e alcançou a órbita terrestre após 11 minutos de seu lançamento. A chegada ao destino aconteceu quatro dias depois e Neil Armstrong foi o primeiro ser humano a ter essa experiência. Deve ter sido incrível!</p>
  
  <small>Disponível em: http://www.smartkids.com.br/especiais/viagem-lua.html. Acesso em: 13 fev. 2015. </small> 
                  </p>
            </div>
           </div>
        </div>
      </div>
      <div class="row m-xl-2">
        <div class="col">
          <div class="card">
            <div class="card-body">
                <h5 class="card-title">Questão 8</h5>
                <p class="card-text">
                  O assunto desse texto é             </p>
                <ol type="A">
                    <li>a chegada do homem à Lua.</li>
                    <li>a importância do século XX.</li>
                    <li>a velocidade atingida pela Apolo 11.</li>
                    <li>a vida do astronauta Neil Armstrong.</li>
                </ol>
            </div>
        </div>
        </div>      
      </div>      
      </div>

      <div class="container">
        <div class="row m-xl-2">
          <div class="col">
            <div class="card">
              <div class="card-body" name="texto">
                    <h5 class="card-title">Cachorros</h5>
                    <p class="card-text">
                      <p>O cachorro é um animal muito querido por muitas pessoas. Eles são animais de estimação que podem nos fazer companhia e nos divertir. Existem várias raças de cachorro, como o poodle, o labrador, o buldogue e o pastor alemão. Cada raça tem suas características próprias.</p>
                      <p>Os cachorros precisam de cuidados, como vacinação, alimentação adequada e exercícios físicos. É importante dar carinho e atenção a eles, pois assim eles ficam mais felizes e saudáveis. Os cachorros também precisam de um lugar confortável para dormir e descansar.</p>
                      <p>Os cachorros são animais muito inteligentes e podem aprender muitas coisas. É possível ensinar truques simples, como sentar e dar a pata, ou truques mais avançados, como buscar objetos ou fazer agility. Com paciência e treinamento, os cachorros podem se tornar verdadeiros artistas!</p>
                      <p>Porém, é importante lembrar que os cachorros não são brinquedos. Eles são seres vivos que precisam de respeito e cuidado. Não devemos maltratá-los ou abandoná-los. Se você quer ter um cachorro, é preciso ter responsabilidade e cuidar bem dele. Assim, você terá um grande amigo fiel para toda a vida!</p>
    
    <small> </small> 
                    </p>
              </div>
             </div>
          </div>
        </div>
        <div class="row m-xl-2">
          <div class="col">
            <div class="card">
              <div class="card-body">
                  <h5 class="card-title">Questão 9</h5>
                  <p class="card-text">
                    Qual o tema principal abordado no texto?
                  </p>
                  <ol type="A">
                      <li>Cuidados com os gatos.</li>
                      <li>Os animais de estimação mais populares.</li>
                      <li>A importância dos animais na nossa vida.</li>
                      <li>O cachorro como um animal de estimação.</li>
                  </ol>
              </div>
          </div>
          </div>      
        </div>      
        </div>      
        <div class="container">
          <div class="row m-xl-2">
            <div class="col">
              <div class="card">
                <div class="card-body" name="texto">
                      <img class="img-fluid" src="/img/jequetiba.png" alt="">
                </div>
               </div>
            </div>
          </div>
          <div class="row m-xl-2">
            <div class="col">
              <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Questão 10</h5>
                    <p class="card-text">
                      Qual o tema principal da tirinha acima?
                    </p>
                    <ol type="A">
                        <li>O voo das sementes de jequitibá.</li>
                        <li>A Mata Atlântica.</li>
                        <li>A grandeza do jequitibá</li>
                        <li>As sementes de jequitibá.</li>
                    </ol>
                </div>
            </div>
            </div>      
          </div>      
          </div>      
   
    <div class="container">
      <h3 class="h3 text-lg-center text-white">Gabarito</h3>
      <form method="POST" action="/confirmacao-lpd6">
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">@</span>
          <input type="text" class="form-control" placeholder="Digite seu nome aqui" aria-label="Digite seu nome aqui" aria-describedby="basic-addon1" name="name" id="name">
        </div>
        <table class="table table-light">
          <thead>
            <tr>
              <th scope="col">Q 1</th>
              <th scope="col">Q 2</th>
              <th scope="col">Q 3</th>
              <th scope="col">Q 4</th>
              <th scope="col">Q 5</th>
              <th scope="col">Q 6</th>
              <th scope="col">Q 7</th>
              <th scope="col">Q 8</th>
              <th scope="col">Q 9</th>
              <th scope="col">Q 10</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><input type="text" class="form-control" name="q1" maxlength="1"></td>
              <td><input type="text" class="form-control" name="q2" maxlength="1"></td>
              <td><input type="text" class="form-control" name="q3" maxlength="1"></td>
              <td><input type="text" class="form-control" name="q4" maxlength="1"></td>
              <td><input type="text" class="form-control" name="q5" maxlength="1"></td>
              <td><input type="text" class="form-control" name="q6" maxlength="1"></td>
              <td><input type="text" class="form-control" name="q7" maxlength="1"></td>
              <td><input type="text" class="form-control" name="q8" maxlength="1"></td>
              <td><input type="text" class="form-control" name="q9" maxlength="1"></td>
              <td><input type="text" class="form-control" name="q10" maxlength="1"></td>
              <input type="text" name="descritor" value="Língua Portuguesa D6" hidden>

            </tr>
          </tbody>
        </table>
        
        <div class="d-grid gap-2 m-xl-3">        
          <button type="reset" class="btn btn-danger">LIMPAR</button>
          <button type="submit" class="btn btn-success">RESPONDER</button>
        </div>
      </form>
    </div>
      
</body>
<script src="./js/bootstrap.min.js"></script>
<script src="./js/popper.min.js"></script>
</html>