<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Descritor 7</title>
</head>
<body class="bg-primary">
  <header class=""><h6>D7 – Identificar o conflito gerador do enredo e os elementos que constroem a narrativa; 
    </h6></header>

<% //Questão 1 e 2 %>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">O MACACO E A VELHA</h5>
                    <p class="card-text">Havia uma velha, muito velha, chamada Marocas. Ela possuía um lindo bananal. Mas a coitadinha da velha comia poucas bananas, pois havia um macaco que lhe roubava todas. Um dia, Marocas, cansada de ser roubada, teve uma ideia. Comprou no armazém vários quilos de alcatrão e com ele fez um boneco. Colocou-o num grande tabuleiro e o levou para o meio do bananal, pensando em dar uma lição no macaco. Logo que Marocas voltou para casa, lá veio o macaco Simão de mansinho. Quando avistou o boneco, zangou-se pensando que ele lhe roubava as bananas.  O macaco, muito zangado, deu-lhe uns sopapos, ficando com a mão grudada no alcatrão. Deu-lhe um pontapé. Ficou preso no boneco também o seu pé. O macaco deu, então, uma cabeçada e ficou todinho grudado.  Marocas, saindo do barraco, pegou o chicote e surrou o macaco e só parou, quando Simão, dando três pulos, desgrudou-se do alcatrão e fugiu. Certa manhã, Simão teve uma ideia para se vingar da velha Marocas. Ele entrou numa pele de leão que encontrou na floresta. Pulou o muro da casa da velha e escondeu-se no bananal.  Quando a velha apareceu, Simão soltou um urro terrível e deu-lhe um bote. A velha gritou e tentou fugir, mas, naquele alvoroço, caiu bem no fundo do poço que havia no quintal. O macaco, vendo o perigo que ela corria, ficou muito triste, pois queria assustá-la, mas não matá-la. Saiu bem rápido de dentro da pele e, olhando em volta, subiu num pé de jamelão, pegou num galho bem grosso e espichou bem o rabo até o fundo do poço.  Os gritos chamaram a atenção dos vizinhos que, chegando ao bananal, surpreenderam-se com a cena.  O macaco fazendo força, trazendo Marocas dependurada no seu rabo. Depois desse dia, as coisas mudaram. Marocas e o macaco ficaram amigos. Era uma beleza! Ela, em vez de pancadas, dava-lhe bananas e doces.</p>
                    <small>CAPPELLI, Alba; DIAS, Dora. O macaco e a velha. Coleção Lua de papel. FTD. *Adaptado: Reforma Ortográfica. </small>
                </div>
            </div>
        </div>
     </div>
    <br>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Questão 1</h5>
                    <p class="card-text">O que deu início à briga entre Marocas e o macaco?</p>
                    <ol type="A">
                    <li>A lição que Marocas deu no macaco.</li> 
                    <li>A surra de chicote que o macaco levou.</li>
                    <li>O boneco roubar as bananas do macaco.</li>
                    <li>O macaco comer as bananas da Marocas.</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Questão 2</h5>
                    <p class="card-text">O que Simão fez para se vingar de Marocas?</p>
                    <ol type="A">
                        <li>Entrou numa pele de Leão para assustar Marocas.</li>
                        <li>Se escondeu no bananal.</li>
                        <li>Jogou Marocas no fundo do poço.</li>
                        <li>Subiu num pé de jamelão.</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>
<% //Questão 3 e 4 %>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">O patinho bonito</h5>
                    <p class="card-text">
                        <p>[...] Milton era o patinho mais bonito da escola. Todos olhavam para ele e diziam: “Como ele é bonito!”. Ele se olhava no espelho e dizia: “Como eu sou bonito!”. E ficava pensando: “Sou tão bonito que talvez eu nem seja um pato de verdade. Tenho até nome diferente. [...] Quem sabe eu sou gente?”.</p>
                        <p>E Milton começou a ficar meio besta. Diziam: “Milton, vem nadar!”. Ele respondia: “Eu não. [...]”. Todos os outros patos começaram a achar o Milton meio chato. Ele foi ficando sozinho. E dizia: “Não faz mal. Sou mais bonito. Vou terminar na televisão. Vou ser o maior galã”. </p>
                        <p>Uma noite Milton resolveu fugir de casa. Foi até a cidade para tentar entrar na televisão. Quando chegou na porta da estação de TV, foi logo dizendo: “Eu me chamo Milton. Além de bonito, acho que eu tenho muito talento artístico”. [...] “Ih, não enche”, disse alguém. “Todo dia alguém arranja uma fantasia de bicho e vem aqui procurar lugar na televisão”.</p>
                        <p>– Mas você não vê que eu não estou fantasiado? Perguntou Milton. [...]</p>
                        <p>– Então como é que você sabe falar?</p>
                        <p>– Mas os patos falam!! disse Milton, quase chorando.</p>
                        <p>– Não vem com essa, [...] disse um guarda que estava ali perto. Para mim você é um pato mecânico. Deve ser uma espécie de robô com um computador na cabeça! [...]</p>
                        <p>De repente Milton teve um estremeção. Abriu os olhos e viu que estava em casa. Ele tinha sonhado. Olhou para seus pais, ainda meio assustado, e disse:</p>
                        <p>– Eu sou um pato... eu sou um pato... </p>
                        <p>E seus pais disseram:</p>
                        <p>– Puxa, ainda bem que você se convenceu! [...]</p>
                        <p>E daí por diante não havia pato mais contente, que tivesse mais vontade de nadar na lagoa, do que o Milton. De vez em quando ele ainda dizia: “Sou um pato! Um pato mesmo!”. E dava um suspiro de alívio.</p>
                        <p></p>
                        <small>COELHO, Marcelo. O patinho bonito. In: Banco de Dados Folha. 1989. Disponível em: http://almanaque.folha.uol.com.br/folhinha_texto_marcelo_patinho.htm. Acesso em: 8 mar. 2016. Fragmento.  </small>
                    </p>
                </div>
            </div>
            
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Questão 3</h5>
                    <p class="card-text">Essa história termina quando</p>
                    <ol type="A">
                        <li>Milton é confundido com um pato mecânico.</li>
                        <li>Milton é elogiado por todos da escola.</li>
                        <li>Milton fica contente por ser um pato.</li>
                        <li>Milton percebe que tinha sonhado.</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Questão 4</h5>
                    <p class="card-text">Qual dos fatos abaixo nunca aconteceram de verdade?</p>
                    <ol type="A">
                        <li>Milton ser considerado bonito por todos da escola.</li>
                        <li>Milton chegar à porta da TV.</li>
                        <li>Milton pensar que podia ser um galã de TV.</li>
                        <li>Milton ficar contente por ser um pato.</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>

<% //Questão 5 e 6 %>
<div class="container">
    <div class="row">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">O rato do mato e o rato da cidade</h5>
                <p class="card-text">
                    <p>Um ratinho da cidade foi uma vez convidado para ir à casa de um rato do campo. Vendo que seu companheiro vivia pobremente de raízes e ervas, o rato da cidade convidou-o a ir morar com ele:</p>
                    <p>— Tenho muita pena da pobreza em que você vive, disse.</p>
                    <p>— Venha morar comigo na cidade e você verá como lá a vida é mais fácil.</p>
                    <p>Lá se foram os dois para a cidade, onde se acomodaram numa casa rica e bonita.</p>
                    <p>Foram logo à despensa e estavam muito bem, se empanturrando de comidas fartas e gostosas, quando entrou uma pessoa com dois gatos, que pareceram enormes ao ratinho do campo.</p>
                    <p>Os dois ratos correram espavoridos para se esconder.</p>
                    <p>— Eu vou para o meu campo, disse o rato do campo quando o perigo passou.</p>
                    <p>— Prefiro minhas raízes e ervas na calma, às suas comidas gostosas com todo esse susto.</p>
                    <p>Mais vale magro no mato que gordo na boca do gato.</p>
                    <p></p>
                    <small>Alfabetização: livro do aluno 2ª ed. rev. e atual. / Ana Rosa Abreu... [et al.]Brasília: FUNDESCOLA/SEF-MEC, 2001. 4v. : p. 60 v. 3</small>
                </p>
            </div>
        </div>
        
    </div>
    <br>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Questão 5</h5>
                    <p class="card-text">O problema do rato do mato terminou quando ele:</p>
                    <ol type="A">
                        <li>descobriu a despensa da casa.</li>
                        <li>se empanturrou de comida.</li>
                        <li>se escondeu dos ratos.</li>
                        <li>decidiu voltar para o mato.</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Questão 6</h5>
                    <p class="card-text">O que levou o rato da cidade a convidar o rato do mato para morar com ele?</p>
                    <ol type="A">
                        <li>A situação de pobreza vivida pelo rato do mato.</li>
                        <li>A facilidade da vida na cidade.</li>
                        <li>A riqueza e beleza da cidade.</li>
                        <li>A beleza dos dois gatos da casa onde estavam.</li>
                    </ol>

                </div>
            </div>
        </div>
        
    </div>
    <br>
</div>

<% // Questão 7 %>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Princesa Linda Laço-de-ﬁta</h5>
                    <p class="card-text">
                        <p>Sempre foi linda, vestiu roupas lindas e morou num quarto lindo, de um castelo lindíssimo, no reino de Flax. Passou a vida na janela desse quarto, recebendo visitas de príncipes que vinham
                            de muito longe e de bem perto para também pedi-la em casamento. Mas, sendo linda como era, e muito vaidosa da própria lindeza, não aceitava nenhum pedido, pois nenhum príncipe era forte, rico ou... lindo o suﬁciente para casar com ela. Com o passar dos anos, os príncipes cansaram desse papo furado e desistiram de pedi-la em casamento. Hoje em dia, ela já está bem velhinha, ainda linda, uma linda velhinha. Sozinha, na janela, espera algum príncipe passar e parar para conversar.
                        </p>
                        <small>SOUZA, Flávio de. Príncipes e princesas, sapos e lagartos: histórias modernas de tempos antigos. São Paulo: FTD, 1996.</small>
                    </p>
                </div>
            </div>
            
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Questão 7</h5>
                    <p class="card-text">O que fez com que essa história acontecesse?</p>
                    <ol type="A">
                        <li>A princesa ﬁcar sempre na janela conversando.</li>
                        <li>A princesa recusar os pedidos de casamento.</li>
                        <li>As lindas roupas usadas pela princesa no castelo.</li>
                        <li>As visitas feitas pelos príncipes à princesa no castelo.</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>

<% //Questão 8 %>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <p class="card-text">
                        <p>Leia a tirinha abaixo:</p>
                        <img class="img-fluid" src="/img/lpd7_8.png" alt="">
                    </p>
                </div>
            </div>
        </div>
        
    </div>
    <br>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Questão 8</h5>
                    <p class="card-text">Na história do Menino Maluquinho, o problema surgido entre as crianças foi</p>
                    <ol type="A">
                        <li>decidir se eles iam brincar.</li>
                        <li>escolher de que iam brincar.</li>
                        <li>esperar para poder brincar.</li>
                        <li>ter de parar de brincar.</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>

<% //Questão 9 %>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">A Costureira das Fadas</h5>
                    <p class="card-text">
                        <p>Depois do jantar, o príncipe levou Narizinho à casa da melhor costureira do reino. Era uma aranha de Paris, que sabia fazer vestidos lindos, lindos até não poder mais! Ela mesma tecia a fazenda, ela mesma inventava as modas.</p>
                        <p>— Dona Aranha, quero que faça para esta ilustre dama o vestido mais bonito do mundo. Vou dar uma grande festa em sua honra e quero vê-la deslumbrar a corte, disse o príncipe.</p>
                        <p>Disse e retirou-se. Dona Aranha tomou da fita métrica e ajudada por seis aranhinhas muito espertas, principiou a tomar as medidas. Depois teceu depressa, depressa, uma fazenda cor-de-rosa com estrelinhas douradas, a coisa mais linda que se possa imaginar. Teceu também peças de fita e peças de renda e de entremeio, até carretéis de linha de seda fabricou.</p>
                        <p>— Que beleza! Ia exclamando a menina, cada vez mais admirada dos prodígios da costureira. Conheço muitas aranhas em casa de vovó, mas todas só sabem fazer teias de pegar moscas, nenhuma é capaz de fazer nem um paninho de avental...</p>
                        <p>— É que tenho mil anos de idade e sou a costureira mais velha do mundo. Aprendi a fazer todas as coisas. Já trabalhei durante muito tempo no reino das fadas; fui quem fez o vestido de baile de Cinderela e quase todos os vestidos de casamento de quase todas as meninas que se casaram com príncipes encantados.</p>
                        <p></p>
                        <small>MONTEIRO LOBATO, José Bento. Reinações de Narizinho. São Paulo: Brasiliense, 1973</small>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Questão 9</h5>
                    <p class="card-text">A personagem que se destaca no texto "A costureira das fadas" é</p>
                    <ol type="A">
                        <li>o príncipe.</li>
                        <li>Narizinho.</li>
                        <li>Cinderela.</li>
                        <li>Dona Aranha.</li>
                    </ol>
                </div>
            </div>
            
        </div>
    </div>
    <br>
</div>

<% //Questão 10 %>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Mais vale a voz do burro que a do dono</h5>
                    <p class="card-text">
                        <p>Um fazendeiro, muito inteligente e engraçado, recebeu a visita de um compadre, que vinha tomar emprestado um burro para fazer uma viagem. </p>
                        <p>— O burro soltou-se do cercado e não houve quem o pegasse, compadre. Por isso não empresto o animal. </p>
                        <p>Nesse momento, o burro, que estava comendo atrás da casa, abriu o par de queixos, zurrando como um desesperado. </p>
                        <p>— Mas, meu compadre! Como é que você diz que o bicho anda solto e ele está ali perto zurrando, para todo o mundo ouvir? </p>
                        <p>— Meu compadre! Que homem é você que acredita mais na voz de um burro do que na de seu compadre? </p>
                        <p></p>
                        <small>(Luís da Câmara Cascudo.)</small>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Questão 10</h5>
                    <p class="card-text">
                        <p>Na história, o relinchar do burro gerou </p>
                        <ol type="A">
                            <li>a apresentação.</li> 
                            <li>a compreensão.</li> 
                            <li>o conflito.</li> 
                            <li>o desfecho.</li>
                        </ol>
                    </p>
                </div>
            </div>
        </div>
        
    </div>
    <br>
</div>
<% //Gabarito %>
    <div class="container">
      <h3 class="h3 text-lg-center text-white">Gabarito</h3>
      <form method="POST" action="/confirmacao-lpd7">
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">@</span>
          <input type="text" class="form-control" placeholder="Digite seu nome aqui" aria-label="Digite seu nome aqui" aria-describedby="basic-addon1" name="name" id="name">
        </div>
        <table class="table table-light">
          <thead>
            <tr>
              <th scope="col">Q 1</th>
              <th scope="col">Q 2</th>
              <th scope="col">Q 3</th>
              <th scope="col">Q 4</th>
              <th scope="col">Q 5</th>
              <th scope="col">Q 6</th>
              <th scope="col">Q 7</th>
              <th scope="col">Q 8</th>
              <th scope="col">Q 9</th>
              <th scope="col">Q 10</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><input type="text" class="form-control" name="q1" maxlength="1"></td>
              <td><input type="text" class="form-control" name="q2" maxlength="1"></td>
              <td><input type="text" class="form-control" name="q3" maxlength="1"></td>
              <td><input type="text" class="form-control" name="q4" maxlength="1"></td>
              <td><input type="text" class="form-control" name="q5" maxlength="1"></td>
              <td><input type="text" class="form-control" name="q6" maxlength="1"></td>
              <td><input type="text" class="form-control" name="q7" maxlength="1"></td>
              <td><input type="text" class="form-control" name="q8" maxlength="1"></td>
              <td><input type="text" class="form-control" name="q9" maxlength="1"></td>
              <td><input type="text" class="form-control" name="q10" maxlength="1"></td>
              <input type="text" name="descritor" value="Língua Portuguesa D7" hidden>

            </tr>
          </tbody>
        </table>
        
        <div class="d-grid gap-2 m-xl-3">        
          <button type="reset" class="btn btn-danger">LIMPAR</button>
          <button type="submit" class="btn btn-success">RESPONDER</button>
        </div>
      </form>
    </div>
    <script>
        window.addEventListener('DOMContentLoaded', function() {
          var inputs = document.querySelectorAll('input[type="text"]');
          for (var i = 0; i < inputs.length; i++) {
            inputs[i].setAttribute('autocomplete', 'off');
          }
        });     
    </script>     
</body>
<script src="./js/bootstrap.min.js"></script>
<script src="./js/popper.min.js"></script>
</html>