<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Língua Portuguesa D8</title>
</head>
<body class="bg-primary">
  <div class="h3 text-lg-center text-white">ESCOLA MUNICIPAL JUSLANY DE SOUZA FLORES</div>
      <div class="h3 text-lg-center text-white">5º ANO TURMA A</div>  
  <hr>
  <header class="container">
    <h4>D8 -  Estabelecer relação  causa/consequência entre partes e elementos do texto.</h4>
  </header>
  <br>
  <br>
    <div class="container">
      
      <form method="POST" action="/confirmacao-lpd8" onsubmit="return validarFormulario()">
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">@</span>
          <input type="text" class="form-control" placeholder="Digite seu nome aqui" aria-label="Digite seu nome aqui" aria-describedby="basic-addon1" name="name" id="name">
        </div>
        <div class="container">

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <p class="card-text">Leia o texto e responda. </p>
                  <div class="h5">Prejuízo em estacionamento</div>
                  <p class="texto_paragrafo">Sou freqüentador quase que diário do estacionamento de um shopping explorado por uma empresa. No último dia 21 estacionei à tarde e à noite. Quando saí à noite, notei que o rádio do meu carro estava funcionando mal, motivado pelo roubo da antena. No dia seguinte, preenchi um formulário anexando os dois comprovantes do pagamento, solicitando a reposição da antena, pleito que me foi negado dois dias após, por telefone. Fiz outro requerimento solicitando uma justificativa da negação e não fui atendido. Qual o direito que temos ao estacionar em um shopping pagando R$ 2,50?</p>
                  <small>Texto adaptado. O GLOBO: 21 de jan. de 2001, pág. ,32.</small>
                  <br>
                  <br>
    
                  <h5 class="card-title">QUESTÃO 1</h5>
                  <p class="card-text">A palavra “pleito”, no texto, refere-se</p>
                    <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio"  name="q1" value="A" maxlength="1">-ao roubo da antena.</li>
                          <li><input type="radio" name="q1" value="B" maxlength="1">-à reposição da antena.</li>
                          <li><input type="radio" name="q1" value="C" maxlength="1">-à justificativa da negação.</li>
                          <li><input type="radio" name="q1" value="D" maxlength="1">-ao comprovante do pagamento.</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>
          
          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <p class="card-text">Leia o texto e responda.</p>
                  <div class="card-title h5">A função da arte</div>
                  <p class="texto_paragrafo">Diego não conhecia o mar. O pai, Santiago Kovadloff, levou-o para que descobrisse o mar. Viajaram para o Sul. Ele, o mar, estava do outro lado das dunas altas, esperando. Quando o menino e o pai enfim alcançaram aquelas alturas de areia, depois de muito caminhar, o mar estava na frente de seus olhos. E foi tanta a imensidão do mar, e tanto fulgor, que o menino ficou mudo de beleza. E quando finalmente conseguiu falar, tremendo, gaguejando, pediu ao pai:</p>
                  <p class="texto_paragrafo">— Me ajuda a olhar!</p>
                  <small>ROXO, Maria do Rosário e Vitória Wilson. Entre textos. V. 4, Editora Moderna</small>
                  <br>
                  <br>
                  
                  <h5 class="card-title">QUESTÃO 2</h5>                

                      <p class="card-text">O menino ficou tremendo, gaguejando porque</p>
                    <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio"  name="q2" value="A" maxlength="1">-a viagem foi longa.</li>
                          <li><input type="radio" name="q2" value="B" maxlength="1">-as dunas eram muito altas. </li>
                          <li><input type="radio" name="q2" value="C" maxlength="1">-o mar era imenso e belo. </li>
                          <li><input type="radio" name="q2" value="D" maxlength="1">-o pai não o ajudou a ver o mar.</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">O sono do jacaré</h5>
                  <p class="texto_paragrafo">Dizem por aí que o jacaré tem aquela boca grande porque come demais. Tanto que o bicho foi capaz até de comer a noite, é mole? Agora, todos os bichos terão que ficar acordados. Revoltados, os animais da floresta tiveram que tomar algumas providências para resgatar a noite da barriga do jacaré e garantir a soneca. Ficaram de tocaia e, na hora certa, eles... Bom, acompanhe este livro e descubra!</p>
                  <small>Disponível em: http://cienciahoje.uol.com.br. Acesso em: 18 abr. 2011. </small>
                </div>
                    <br>
                  <h5 class="card-title">QUESTÃO 3</h5>
                  <br>
                  <p class="card-text">De acordo com esse texto, todos os bichos terão que ficar acordados porque</p>
                    <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio"  name="q3" value="A" maxlength="1">-o jacaré comeu a noite.</li>
                          <li><input type="radio" name="q3" value="B" maxlength="1">-o jacaré tem a boca grande.</li>
                          <li><input type="radio" name="q3" value="C" maxlength="1">-os animais estão revoltados.</li>
                          <li><input type="radio" name="q3" value="D" maxlength="1">-os animais ficaram de tocaia.</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Além do espelho, lembranças</h5>
                  <p class="texto_paragrafo">Um dia, quando encerrava meu trabalho, fixei a atenção em um simples objeto da minha sala. Caminhei, paulatinamente, ao seu encontro e, à medida que me aproximava, sentia meu ego explodir em sensações indescritíveis.</p>
                  <p class="texto_paragrafo">Ali, diante dele, parei. Meu reflexo testemunhava as marcas do passado e trazia, à tona, as lembranças da infância e da adolescência. As imagens, agora, misturavam-se, comprometendo minha lucidez. Senti meu corpo flutuar e minha visão apagar-se, de forma que eu me concentrava em recordações, apenas. </p>
                  <p class="texto_paragrafo">Assim, momentos depois, revia meus irmãos e vizinhos correndo em volta da mesa, mamãe fazendo o jantar, papai lendo o jornal, os cães brincando no jardim e, também, meus amigos de colégio, antigos casos amorosos. </p>
                  <p class="texto_paragrafo">Recuperei o bom senso, por um instante, mas não durou mais que isso, pois, novamente, brotam outros pensamentos: o nascimento dos filhos e a ascensão profissional. </p>
                  <p class="texto_paragrafo">Minutos depois, tudo acabara. Diante de mim havia só um espelho, cujo reflexo já não era de um cenário fantasioso de minha mente.</p>
                  <small>Disponível em: http://www.brasilescola.com/redação/untertextualidade.htm. Acesso em: 12 mar. 2010. </small>
                  <br>
                  <br>
                  <h5 class="card-title">QUESTÃO 4</h5>
                  
                  <p class="card-text">Nesse texto, a personagem lembrou-se de sua infância porque</p>
                  <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio"  name="q4" value="A" maxlength="1">-perdeu a lucidez.</li>
                          <li><input type="radio" name="q4" value="B" maxlength="1">-recuperou o bom senso.</li>
                          <li><input type="radio" name="q4" value="C" maxlength="1">-sentiu seu ego explodir.</li>
                          <li><input type="radio" name="q4" value="D" maxlength="1">-viu seu reflexo.</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">O piquenique das tartarugas</h5>
                  <p class="texto_paragrafo">Uma família de tartarugas decidiu fazer um piquenique. Levaram um dia para preparar o lanche, um dia para chegar ao local escolhido e um dia para ajeitar o local. Quando iam começar a comer, descobriram que não haviam trazido o sal. Após longa discussão, a tartaruga mais nova foi escolhida para voltar em casa e pegar o sal, pois era a mais rápida de todas. Ela lamentou, chorou, e esperneou, mas não teve jeito; finalmente concordou em ir, mas com uma condição: que ninguém comeria até que ela retornasse. Todos concordaram com sua condição e a pequena tartaruga saiu.</p>
                  <p class="texto_paragrafo">Cinco dias se passaram e a pequena tartaruga não tinha retornado. Ninguém mais aguentava de fome e resolveram comer. Nesta hora a pequena tartaruga saiu de trás de uma árvore e gritou: </p>
                  <p class="texto_paragrafo">– Viu! Eu sabia que vocês não iam me esperar. Agora que eu não vou mesmo buscar o sal.</p>
                  <small>Disponível em: http://pensador.uol.com.br/poemas_sobre_a_familia. Acesso em: 17 jan. 2011. </small>
                  <br>
                  <br>
                  <h5 class="card-title">QUESTÃO 5</h5>
                 
                  <p class="card-text">A tartaruga menor foi escolhida para buscar o sal, porque ela</p>
                    <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio" name="q5" value="A" maxlength="1">-era a mais esperta.</li>
                          <li><input type="radio" name="q5" value="B" maxlength="1">-era a mais rápida.</li>
                          <li><input type="radio"  name="q5" value="C" maxlength="1">-tinha deixado a família toda com fome.</li>
                          <li><input type="radio" name="q5" value="D" maxlength="1">-tinha feito uma condição às tartarugas.</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Meus lápis de cor são só meus</h5>
                  <br>
                  <p class="texto_paragrafo">A Lulu estava muito contente naquele dia. É que era o dia do aniversário dela. Quando ela chegou da escola já encontrou a mamãe preparando a festa. [...]</p>
                  <p class="texto_paragrafo">O papai estava enchendo as bolas e a tia Mari estava botando a mesa na sala. [...] </p>
                  <p class="texto_paragrafo">O primeiro convidado que chegou foi o priminho da Lulu, o Miguel.  Depois chegou a Taís, o Arthur e o Caiã e todos os colegas do colégio.</p>
                  <p class="texto_paragrafo">E ficaram todos brincando no jardim.</p>
                  <p class="texto_paragrafo">Aí todos entraram para abrir os presentes. [...]</p>
                  <p class="texto_paragrafo">Lulu gostou de todos os presentes, mas o que ela mais gostou foi da caixa grande de lápis de cor que se abria feito uma sanfona e que tinha todas, mas todas as cores, mesmo. [...]</p>
                  <p class="texto_paragrafo">Então, logo de manhã, a Lulu já se sentou na mesa da sala, pegou o bloco grande de desenho e começou a fazer um desenho bem bonito, com seus novos lápis. Aí chegou o Miguel, que veio passar o dia com ela.</p>
                  <p class="texto_paragrafo">Ele se sentou junto da Lulu e disse que também queria desenhar. Mas Lulu não quis nem por nada emprestar os lápis a ele.</p>
                  <p class="texto_paragrafo">– Os meus lápis de cor são só meus! – ela disse. </p>
                  <p class="texto_paragrafo">A mãe de Lulu ficou zangada:</p>
                  <p class="texto_paragrafo">– Que é isso, minha filha? Os dois podem desenhar muito bem. Empreste os lápis para o seu primo! </p>
                  <p class="texto_paragrafo">Mas o Miguel já estava enjoado dessa conversa, e foi [...] andar de bicicleta. [...]</p>
                  <p class="texto_paragrafo">A Lulu juntou todos os lápis, [...] em cima do bloco e foi para o quarto, equilibrando tudo.</p>
                  <p class="texto_paragrafo">Ela foi subindo as escadas, subindo as escadas, até que já estava chegando lá em cima, quando ela perdeu o equilíbrio e deixou os lápis caírem todos escada abaixo. [...]</p>
                  <p class="texto_paragrafo">A Lulu desceu as escadas e viu que todas as pontas dos lápis estavam quebradas. [...] O Miguel, que estava brincando lá fora, veio correndo para ver o que tinha acontecido.</p>
                  <p class="texto_paragrafo">Então ele disse à Lulu:</p>
                  <p class="texto_paragrafo">– Não chore não, Lulu, eu vou buscar meu apontador lá em casa e eu aponto todos os seus lápis.</p>
                  <p class="texto_paragrafo">E ele foi e logo chegou com o apontador.</p>
                  <p class="texto_paragrafo">O Miguel apontou todos os lápis da Lulu.</p>
                  <p class="texto_paragrafo">Então a Lulu convidou:</p>
                  <p class="texto_paragrafo">– Miguel, você não quer desenhar comigo?</p>
                  <p class="texto_paragrafo">E o Miguel veio e eles fizeram uma porção de desenhos [...].</p>
                  <p class="texto_paragrafo">E a Lulu se divertiu muito mais do que quando ela ficava desenhando sozinha...</p>

                  <small>ROCHA, Ruth. Disponível em: http://www2.uol.com.br/ruthrocha/historias_01.htm. Acesso em: 24 jul. 2012. Fragmento. </small>
                  <br>
                  <br>
                  <h5 class="card-title">QUESTÃO 6</h5>
                  <p class="card-text">Segundo esse texto, Lulu acordou muito alegre porque</p>
           
                    <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio"  name="q6" value="A" maxlength="1">-brincaria no jardim com seus colegas.</li>
                          <li><input type="radio" name="q6" value="B" maxlength="1">-era o dia do seu aniversário.</li>
                          <li><input type="radio" name="q6" value="C" maxlength="1">-ganharia uma caixa com lápis de cor.</li>
                          <li><input type="radio" name="q6" value="D" maxlength="1">-receberia a visita do primo.</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Entenda o terremoto e o tsunami que atingiram o Japão</h5>
                  <p class="texto_paragrafo">Parecia um dia normal na escola quando o japonês Mokimasa Mitsui, 13, de Tóquio, sentiu a terra tremer. “Achei que o mundo fosse acabar”, conta. Apesar de já estar acostumado com tremores, o menino sentiu medo.</p>
                  <p class="texto_paragrafo">Não era para menos: o terremoto que aconteceu em 11 de março pegou todo o mundo de surpresa. Ele causou ondas enormes e foi o maior da história do Japão.</p>
                  <p class="texto_paragrafo">O desastre foi grande, mas cientistas dizem que seria pior se os japoneses não estivessem tão preparados. Ali, por exemplo, os prédios resistem aos chacoalhões. </p>
                  <p class="texto_paragrafo">A Terra é como um ovo cozido com a casca quebrada. Ela tem um centro líquido que vive se mexendo. Seus movimentos fazem os pedaços de casca, as placas tectônicas, se empurrarem. Tanta pressão gera o terremoto.</p>
                    <small>Disponível em: http://www1.folha.uol.com.br/folhinha/890776-entenda-o-terremoto-e-o-tsunami-que-atingiram-o-japao.shtml.
                      Acesso em: 20 mar. 2011. 
                      </small>
                 <br>
                  <br>

                  <h5 class="card-title">QUESTÃO 7</h5>

                  <p class="card-text">De acordo com esse texto, as consequências do terremoto foram menores porque</p>
                    <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio" name="q7" value="A" maxlength="1">-a Terra é como um ovo cozido com a casca quebrada.</li>
                          <li><input type="radio" name="q7" value="B" maxlength="1">-as placas tectônicas foram empurradas gerando muita pressão.</li>
                          <li><input type="radio" name="q7" value="C" maxlength="1">-o centro da Terra tem consistência líquida e vive se mexendo.</li>
                          <li><input type="radio" name="q7" value="D" maxlength="1">-os japoneses estavam preparados para esse tipo de acontecimento.</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <div class="text-center"><img class="img-fluid" src="/img/lpd8_texto_8.png" alt=""></div>
                  
                  <br>
                  <br>
                  <h5 class="card-title">QUESTÃO 8</h5>
                  <p class="card-text">Nesse texto, houve um ﬁnal aparentemente feliz para um casal, porque eles</p>
                    <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio"  name="q8" value="A" maxlength="1">-amaram as outras personagens.</li>
                          <li><input type="radio" name="q8" value="B" maxlength="1">-assistiram sempre às aulas.</li>
                          <li><input type="radio" name="q8" value="C" maxlength="1">-conseguiram entrar no alfabeto.</li>
                          <li><input type="radio" name="q8" value="D" maxlength="1">-foram tomar sorvete juntos.</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
          
                  <h5 class="card-title">Cuidado</h5>
                  <p class="texto_paragrafo">Depois da chuva, o menino vestiu uma roupa azul muito bonita e saiu todo alegre para brincar. A mãe avisou: </p>
                  <p class="texto_paragrafo">— Cuidado! A roupa é nova, não vá se sujar. Pouco depois o menino voltou com a roupa suja de lama. A mãe, zangada, falou: </p>
                  <p class="texto_paragrafo">— Mas você não sabia que a roupa estava limpinha? Que roupa custa dinheiro? Será que você não sabe que menino educado não fica deste jeito? </p>
                  <p class="texto_paragrafo">— Tudo isso eu sei. O que eu não sabia é que o carro ia passar bem na poça d’água e jogar lama em mim. </p>
                  <br>
                  <br> 
      
                  <h5 class="card-title">QUESTÃO 9</h5>
        
                  <p class="card-text">O menino ficou sujo de lama porque</p>
                    <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio"  name="q9" value="A" maxlength="1">-a mãe ficou zangada.</li>
                          <li><input type="radio" name="q9" value="B" maxlength="1">-era desobediente.</li>
                          <li><input type="radio" name="q9" value="C" maxlength="1">-era mal educado.</li>
                          <li><input type="radio" name="q9" value="D" maxlength="1">-o carro jogou lama nele.</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                    <h5 class="card-title">O corvo e o jarro</h5>
                  <p class="texto_paragrafo">Um corvo morria de sede e se aproximou de um jarro, que uma vez o vira cheio d’água. Mas, desapontado, verificou que a água estava tão baixa que ele não podia alcançá-la com o bico. Tentou derramar o jarro, mas era impossível: o jarro era pesado demais.</p>
                  <p class="texto_paragrafo">De repente, viu ali perto um monte de bolas de gude. Apanhou com o bico uma das bolas e jogou dentro do jarro. Depois outra. E outra mais. E outra. E a cada bola que jogava, a água subia. Jogou tantas bolas dentro do jarro que a água subiu-lhe até o gargalo. E o corvo pôde beber.Onde a força falha, a inteligência vence.</p>

                  <small>BAÚ DAS HISTÓRIAS E POEMAS. O corvo e o jarro. 2013.Disponível em: https://goo.gl/VdjHpJ. Acesso em: 18 abr. 2016. </small>
                  <br>
                  <br>
                  <h5 class="card-title">QUESTÃO 10</h5>
                  <br>
                  <p class="card-text">Em qual trecho desse texto há uma relação de causa e consequência?</p>
                    <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio"  name="q10" value="A" maxlength="1">-“De repente, viu ali perto um monte de bolas de gude.”.</li>
                          <li><input type="radio" name="q10" value="B" maxlength="1">-“Apanhou com o bico uma das bolas e jogou dentro do jarro.”.</li>
                          <li><input type="radio" name="q10" value="C" maxlength="1">-“Jogou tantas bolas dentro do jarro que a água subiu-lhe até o gargalo.”.</li>
                          <li><input type="radio" name="q10" value="D" maxlength="1">-“Onde a força falha, a inteligência vence.”.</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>
          
          <br>           
          <br>

        </div>

                
        <div class="d-grid gap-2 m-xl-3">        
          <button type="reset" class="btn btn-danger">LIMPAR</button>
          <button type="submit" class="btn btn-success">RESPONDER</button>
        </div>
      </form>
    </div>
   
     
</body>
<script src="./js/bootstrap.min.js"></script>
<script src="./js/popper.min.js"></script>
<script src="/js/script.js"></script>
</html>