<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Descritor 9</title>
</head>
<body class="bg-primary">
<header class=""><h4>D9 – Identificar a finalidade de textos de diferentes gêneros</h4></header>
<hr>  
<% //container questão 1 %>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <p class="card-text">Leia o texto abaixo:</p>
                    <p>Rui Barbosa</p>
                    <p>Rui Barbosa foi um importante estadista, político, diplomata e jurista brasileiro. Nasceu na cidade de Salvador (Bahia) em 5 de novembro de 1.849.</p>
                    <p>Rui Barbosa apoiou o movimento republicano e teve uma grande participação no processo de Proclamação da República, que ocorreu em 15 de novembro de 1.889. Tornou-se o primeiro Ministro da Fazenda da história do Brasil República. </p>
                    <p>Foi também um brilhante escritor. Entre suas obras mais importantes, podemos citar: O Papa e o Concílio, Habeas Corpus, Cartas de Inglaterra, entre outras.</p>
                    <small>Disponível em: http://www.suapesquisa.com/biografias/rui_barbosa.htm. Acesso em: 23 maio 2011. </small>
                    <p></p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <h5 class="card-title">Questão 1</h5>
                <p class="card-text">
                  O texto ao lado é:
                </p>
                <ol type="A">
                    <li>um conto.</li>
                    <li>um relato.</li>
                    <li>uma biografia.</li>
                    <li>uma notícia.</li>
                </ol>
            </div>
        </div>
    </div>

    <div class="row m-xl-2">
    <p></p>        
    </div>      
</div>
<% //container questão 2 %>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <p class="card-text">Leia o texto abaixo:</p>
                    <p class="h5">Bolo da vovó</p>
                    <p><b>Ingredientes:</b></p>
                    <p>6 ovos (claras e gemas separadas);</p>
                    <p>1 xícara de açúcar;</p> 
                    <p>1 xícara de farinha de trigo;</p> 
                    <p>1 colher pequena de fermento em pó;</p> 
                    <p>Margarina e farinha de trigo para untar a forma.</p>
                    <p><b>Recheio:</b> 2 xícaras de goiabada cremosa. </p>
                    <p><b>Modo de fazer:</b> Bata as claras em neve, adicione as gemas, o açúcar e bata. Acrescente a farinha, o fermento e misture com uma colher. Coloque em uma forma grande e redonda, untada e enfarinhada. Leve ao forno médio, preaquecido, por 30 minutos. Deixe esfriar, desenforme num prato grande e corte ao meio. Recheie com a goiabada. Leve à geladeira por 1 hora. </p>
                    <small>Fácil de fazer: bolos cremosos. Editora Alto Astral, s/d, p. 5.</small>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
    <% //Linha de espaçamento %>
    <div class="row m-xl-2">
        <p></p>        
    </div>      
    <div class="row">
        <div class="col">
            <div class="card">
                <h5 class="card-title">Questão 2</h5>
                <p class="card-text">
                  O texto acima serve para
                </p>
                <ol type="A">
                    <li>contar uma história.</li>
                    <li>convidar para uma festa. </li>
                    <li>vender um produto.</li>
                    <li>ensinar a fazer um bolo. </li>
                </ol>
            </div>
        </div>
        
    </div>
    <% //Linha de espaçamento %>
    <div class="row m-xl-2">
        <p></p>        
    </div> 
</div>
<% //container questão 3 %>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <p class="card-text">Leia o texto abaixo e responda.</p>
                    <p class="h5">Arca de Noé</p>
                    <p>Três homens estavam discutindo qual era a profissão mais antiga do mundo.</p>
                    <p>O marceneiro disse:</p>
                    <p>— Quem vocês acham que fez a Arca de Noé? </p> 
                    <p>O jardineiro rebateu:</p> 
                    <p>— E quem vocês acham que regou o Jardim do Éden?</p> 
                    <p>Finalmente, o eletricista falou:</p>
                    <p>— Quando Deus disse "Faça-se a luz!", quem vocês acham que passou a fiação?</p>
                    <small>Fonte: http://criancas.uol.com.br/ Acessado em 19 de mar/2013.</small>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
    <% //Linha de espaçamento %>
    <div class="row m-xl-2">
        <p></p>        
    </div>      
    <div class="row">
        <div class="col">
            <div class="card">
                <h5 class="card-title">Questão 3</h5>
                <p class="card-text">
                    Ao escrever este texto o autor teve como objetivo
                </p>
                <ol type="A">
                    <li>dar um estudo bíblico.</li>
                    <li>trazer diversão ao leitor. </li>
                    <li>ensinar sobre profissões.</li>
                    <li>dar uma notícia de um fato.</li>
                </ol>
            </div>
        </div>
        
    </div>
    <% //Linha de espaçamento %>
    <div class="row m-xl-2">
        <p></p>        
    </div> 
</div>
<% //container questão 4 %>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                <p class="card-text">Observe os quadrinhos abaixo e veja a mensagem que ele transmite.</p>
                <img class="img-fluid" src="/img/lpd9_1.png" alt="">
                </div>
                
            </div>
        </div>

        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Questão 4</h5>
                    <p class="card-text">A finalidade do texto é</p>

                    <ol type="A">
                        <li>informar sobre os problemas do trânsito nas grandes cidades.</li>
                        <li>divulgar uma campanha para não jogar lixo na rua.</li>
                        <li>instruir como sair de um carro durante um alagamento.</li>
                        <li>alertar sobre os alagamentos provocados pelo lixo que é jogado nas ruas.</li>
                    </ol>
                    
                </div>
            </div>
        </div>
        
    </div>

    <div class="row">
      <p></p>
    </div>    
</div>
<% //container questão 5 %>
<div class="container">
    <div class="row">
        <div class="col-md-7">
            <div class="card">
                <div class="card-body">
                <p class="card-text"><h5>Carrinho de papelão</h5></p>
                <img class="img-fluid" src="/img/lpd9_2.png" alt="">
                </div>
                
            </div>
        </div>

        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Questão 5</h5>
                    <p class="card-text">Todo texto é escrito para um determinado fim, isto é, ele tem um objetivo específico. O texto ao lado foi produzido com  a finalidade de</p>

                    <ol type="A">
                        <li>instruir</li>
                        <li>aconselhar</li>
                        <li>corrigir</li>
                        <li>avisar</li>
                    </ol>
                    
                </div>
            </div>
        </div>
        
    </div>

    <div class="row">
      <p></p>
    </div>    
</div>
<% //container questão 6 %>
<div class="container">
    <div class="row">
        <div class="col-md-7">
            <div class="card">
                <div class="card-body">
                <p class="card-text"><h5>O menino que mentia</h5></p>
                <p>Um pastor costumava levar seu rebanho para fora da aldeia. Um dia resolveu pregar uma peça nos vizinhos.</p>
                <p>— Um lobo! Um lobo! Socorro! Ele vai comer minhas ovelhas! Os vizinhos largaram o trabalho e saíram correndo para o campo para socorrer o menino. Mas encontraram-no às gargalhadas. Não havia lobo nenhum.</p>
                <p>Ainda outra vez ele fez a mesma brincadeira e todos vieram ajudar; e ele caçoou de todos.</p>    
                <p>Mas um dia o lobo apareceu de fato e começou a atacar as ovelhas. Morrendo de medo, o menino saiu correndo.</p>    
                <p>– Um lobo! Um lobo! Socorro!</p>
                <p>Os vizinhos ouviram, mas acharam que era caçoada. Ninguém socorreu e o pastor perdeu todo o rebanho.</p>
                <p><b>Moral da história:</b> Ninguém acredita em mentirosos! Fale a verdade!</p>    
                <small>BENNETT, William J. O livro das virtudes para crianças. Rio de Janeiro: Nova Fronteira, 1997.</small>    
            </div>
                
            </div>
        </div>

        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Questão 6</h5>
                    <p class="card-text">O texto ao lado tem a finalidade de:</p>

                    <ol type="A">
                        <li>dar uma informação.</li>
                        <li>fazer uma propaganda.</li>
                        <li>registrar um acontecimento.</li>
                        <li>transmitir um ensinamento.</li>
                    </ol>
                    
                </div>
            </div>
        </div>
        
    </div>

    <div class="row">
      <p></p>
    </div>    
</div>
<% //container questão 7 %>
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                <p>Leia o texto abaixo e responda à questão. </p>
                <img class="img-fluid" src="/img/lpd9_3.png" alt="">
                </div>
                
            </div>
        </div>

        <div class="col-md-7">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Questão 7</h5>
                    <p class="card-text">Esse texto serve para</p>

                    <ol type="A">
                        <li>dar uma notícia.</li>
                        <li>deixar um recado.</li>
                        <li>fazer um convite.</li>
                        <li>vender um produto.</li>
                    </ol>
                    
                </div>
            </div>
        </div>
        
    </div>

    <div class="row">
      <p></p>
    </div>    
</div>
<% //container questão 8 %>
<div class="container">
    <div class="row">
        <div class="col-md-7">
            <div class="card">
                <div class="card-body">
                <p class="card-text"><h5>Feijoada</h5></p>
                <p>Nasceu nas senzalas que abrigavam os escravos no Rio de Janeiro no final do século XIX. Quando os nobres matavam um porco, os restos indesejados – pés, orelhas, rabo e tripas – eram dados aos escravos. Eles misturavam tudo isso ao feijão durante o cozimento e colocavam farinha assada por cima antes de comer.</p>
                    
                <small>DUARTE, Marcelo. O guia dos curiosos. Companhia das Letras.</small>    
            </div>
                
            </div>
        </div>

        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Questão 8</h5>
                    <p class="card-text">A finalidade do texto ao lado é:</p>

                    <ol type="A">
                        <li>ensinar a fazer uma feijoada.</li>
                        <li>divulgar uma feijoada.</li>
                        <li>informar sobre a origem da feijoada.</li>
                        <li>convidar para uma feijoada.</li>
                    </ol>
                    
                </div>
            </div>
        </div>
        
    </div>

    <div class="row">
      <p></p>
    </div>    
</div>
<% //container questão 9 %>
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="card">
                <div class="card-body">
                <img class="img-fluid" src="/img/lpd9_4.png" alt="">
                </div>
                
            </div>
        </div>

        <div class="col-md-7">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Questão 9</h5>
                    <p class="card-text">A finalidade do quadro ao ladoc é orientar as pessoas a</p>

                    <ol type="A">
                        <li>escovarem os dentes diariamente.</li>
                        <li>lavarem as frutas e legumes.</li>
                        <li>manterem a calçada limpa.</li>
                        <li>economizarem água.</li>
                    </ol>
                    
                </div>
            </div>
        </div>
        
    </div>

    <div class="row">
      <p></p>
    </div>    
</div>
<% //container questão 10 %>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                <p>Leia o texto abaixo. </p>
                <img class="img-fluid" src="/img/lpd9_5.png" alt="">
                <p><small>Disponível em: http://thicy.zip.net/images/convite.JPG Acesso em: 04 fev. 2010.</small></p>
                </div>
                
            </div>
        </div>

        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Questão 10</h5>
                    <p class="card-text">Esse texto ao lado é</p>

                    <ol type="A">
                        <li>uma propaganda.</li>
                        <li>uma receita.</li>
                        <li>um poema.</li>
                        <li>um convite.</li>
                    </ol>
                    
                </div>
            </div>
        </div>
        
    </div>

    <div class="row">
      <p></p>
    </div>    
</div>

<% //Gabarito %>
<div class="container">
    <h3 class="h3 text-lg-center text-white">Gabarito</h3>
    <form method="POST" action="/confirmacao-lpd9">
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">@</span>
        <input type="text" class="form-control" placeholder="Digite seu nome aqui" aria-label="Digite seu nome aqui" aria-describedby="basic-addon1" name="name" id="name">
      </div>
      <table class="table table-light">
        <thead>
          <tr>
            <th scope="col">Q 1</th>
            <th scope="col">Q 2</th>
            <th scope="col">Q 3</th>
            <th scope="col">Q 4</th>
            <th scope="col">Q 5</th>
            <th scope="col">Q 6</th>
            <th scope="col">Q 7</th>
            <th scope="col">Q 8</th>
            <th scope="col">Q 9</th>
            <th scope="col">Q 10</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><input type="text" class="form-control" name="q1" maxlength="1"></td>
            <td><input type="text" class="form-control" name="q2" maxlength="1"></td>
            <td><input type="text" class="form-control" name="q3" maxlength="1"></td>
            <td><input type="text" class="form-control" name="q4" maxlength="1"></td>
            <td><input type="text" class="form-control" name="q5" maxlength="1"></td>
            <td><input type="text" class="form-control" name="q6" maxlength="1"></td>
            <td><input type="text" class="form-control" name="q7" maxlength="1"></td>
            <td><input type="text" class="form-control" name="q8" maxlength="1"></td>
            <td><input type="text" class="form-control" name="q9" maxlength="1"></td>
            <td><input type="text" class="form-control" name="q10" maxlength="1"></td>
            <input type="text" name="descritor" value="Língua Portuguesa D9" hidden>

          </tr>
        </tbody>
      </table>
      
      <div class="d-grid gap-2 m-xl-3">        
        <button type="reset" class="btn btn-danger">LIMPAR</button>
        <button type="submit" class="btn btn-success">RESPONDER</button>
      </div>
    </form>
</div>

</body>
<script src="./js/bootstrap.min.js"></script>
<script src="./js/popper.min.js"></script>
</html>