<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Descritor 1</title>
</head>
<body class="bg-primary">
  <header class=""><h6>D1-Identificar a localização/movimentação de objeto em mapas, croquis e 
    outras representações gráficas. 
    </h6></header>
    <div class="container">
      <div class="row mx-xl-3">
        <div class="col">
          <img class="img-fluid" src="/img/md1_1.png" alt="">   
        </div>
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">QUESTÃO 1</h5>
              <p class="card-text">O desenho que está localizado na posição (5, P) é</p>
              <img class="img-fluid" src="/img/md1_1_respostas.png" alt="">
            </div>
            <div class="card-body">
              <h5 class="card-title">QUESTÃO 2</h5>
              <p class="card-text">O desenho que está localizado na posição (6, Q) é</p>
              <img class="img-fluid" src="/img/md1_1_respostas.png" alt="">
            </div>
          </div>
        </div>
        
      </div>
    </div>
    <div class="container">
      <div class="row mx-xl-3">
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">QUESTÃO 3</h5>
              <p class="card-text">Ivo está interessado em descobrir quais dos amigos mora mais próximo dele. Localizou sua casa e marcou com seu nome. Localizou também a casa dos seus quatro amigos e marcou com o nome de cada um. 
                <p>Observa a figura abaixo.</p>
                <img class="rounded" src="/img/md1_2.png" alt="">
                <p>Quem mora mais perto de Ivo?</p>
              </p>
              <ol type="A">
                <li>Lara</li>
                <li>Ana</li>
                <li>Jonas</li>
                <li>João</li>
              </ol>
            </div>
            
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">QUESTÃO 4</h5>
              <p class="card-text"> 
                <p>Observando a tabela podemos constatar que as figuras: nuvem, raio, coração e seta, estão respectivamente nas seguintes localizações: </p>
                <img class="rounded" src="/img/md1_5.png" alt="">
              </p>
              <ol type="A">
                <li>B2, E3, C6 e F5.</li>
                <li>B3, E2, C5 e F6. </li>
                <li>F5, C6, E3 e B2. </li>
                <li>F6, C5, E2 e B3.</li>
              </ol>
            </div>
            
          </div>
        </div>

      </div>
    </div>

    <div class="container">
      <div class="row mx-xl-3">
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">QUESTÃO 5</h5>
              <p class="card-text text-center"> 
                <p>Na barraca de tiro ao alvo do parque havia alguns brinquedos conforme a figura abaixo. Lúcia derrubou o brinquedo que estava na segunda linha e terceira coluna. </p>
                <img src="/img/md1_3.png" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">
                <p>Qual brinquedo Lúcia derrubou?</p>
              </p>
              <ol type="A">
                <li>Urso</li>
                <li>Robô</li>
                <li>Boneca</li>
                <li>Avião</li>
              </ol>
            </div>         
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">QUESTÃO 6</h5>
              <p class="card-text text-center"> 
                <p>Observe as posições dos livros na estante abaixo. </p>
                <img src="/img/md1_4.png" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">
                <p>Considerando que você está em frente desta estante, o livro de Ciências é o terceiro à sua</p>
              </p>
              <ol type="A">
                <li>esquerda na prateleira de baixo.</li>
                <li>direita na prateleira de baixo.</li>
                <li>direita na prateleira de cima.</li>
                <li>esquerda na prateleira de cima.</li>
              </ol>
            </div>         
          </div>
        </div>       
      </div>
    </div>

    <div class="container">
      <div class="row mx-xl-3">
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">QUESTÃO 7</h5>
              <p class="card-text text-center"> 
                <p>A figura abaixo é um fragmento do mapa do Brasil. Nela, a localização do estado de Goiás é indicada por B2. Desta forma, a identificação do estado de Ceará é:</p>
                <img src="/img/md1_6.png" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">
                
              </p>
              <ol type="A">
                <li>A3</li>
                <li>C1</li>
                <li>C3</li>
                <li>B2</li>
              </ol>
            </div>         
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">QUESTÃO 8</h5>
              <p class="card-text text-center"> 
                <p>Observe o parque de diversões representado abaixo: Assinale a alternativa que mostra a localização do carrossel. </p>
                <img src="/img/md1_7.png" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">
              </p>
              <ol type="A">
                <li>N3</li>
                <li>P3</li>
                <li>N2</li>
                <li>P2</li>
              </ol>
            </div>         
          </div>
        </div>       
      </div>
    </div>

    <div class="container">
      <div class="row mx-xl-3">
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">QUESTÃO 9</h5>
              <p class="card-text text-center"> 
                <p>Observe na figura abaixo, o caminho percorrido por Tiago. Ele saiu do ponto A e  chegou ao ponto B.</p>
                <img src="/img/md1_8.png" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">
                <p>Como ele fez para chegar ao ponto B?</p>
              </p>
              <ol type="A">
                <li>Avançou 6, girou para a esquerda, avançou 4.</li>
                <li>Avançou 5, girou para a direita, avançou 3.</li>
                <li>Avançou 5, girou para a esquerda, avançou 3.</li>
                <li>Avançou 4, girou para a direita, avançou 2.</li>
              </ol>
            </div>         
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">QUESTÃO 10</h5>
              <p class="card-text text-center"> 
                <p>A figura a seguir representa um trecho do mapa de um bairro.</p>
                <img src="/img/md1_9.png" class="img-fluid ${3|rounded-top,rounded-right,rounded-bottom,rounded-left,rounded-circle,|}" alt="">
              <p>Se a praça central tem a forma de um retângulo, então a rua T é paralela à rua</p>
              </p>
              <ol type="A">
                <li>P</li>
                <li>Q</li>
                <li>R</li>
                <li>S</li>
              </ol>
            </div>         
          </div>
        </div>       
      </div>
    </div>

<% //Gabarito %>
    <div class="container">
      <h3 class="h3 text-lg-center text-white">Gabarito</h3>
      <form method="POST" action="/confirmacao-md1">
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">@</span>
          <input type="text" class="form-control" placeholder="Digite seu nome aqui" aria-label="Digite seu nome aqui" aria-describedby="basic-addon1" name="name" id="name">
        </div>
        <table class="table table-light">
          <thead>
            <tr>
              <th scope="col">Q 1</th>
              <th scope="col">Q 2</th>
              <th scope="col">Q 3</th>
              <th scope="col">Q 4</th>
              <th scope="col">Q 5</th>
              <th scope="col">Q 6</th>
              <th scope="col">Q 7</th>
              <th scope="col">Q 8</th>
              <th scope="col">Q 9</th>
              <th scope="col">Q 10</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><input type="text" class="form-control" name="q1" maxlength="1"></td>
              <td><input type="text" class="form-control" name="q2" maxlength="1"></td>
              <td><input type="text" class="form-control" name="q3" maxlength="1"></td>
              <td><input type="text" class="form-control" name="q4" maxlength="1"></td>
              <td><input type="text" class="form-control" name="q5" maxlength="1"></td>
              <td><input type="text" class="form-control" name="q6" maxlength="1"></td>
              <td><input type="text" class="form-control" name="q7" maxlength="1"></td>
              <td><input type="text" class="form-control" name="q8" maxlength="1"></td>
              <td><input type="text" class="form-control" name="q9" maxlength="1"></td>
              <td><input type="text" class="form-control" name="q10" maxlength="1"></td>
              <input type="text" name="descritor" value="Matemática D1" hidden>

            </tr>
          </tbody>
        </table>
        
        <div class="d-grid gap-2 m-xl-3">        
          <button type="reset" class="btn btn-danger">LIMPAR</button>
          <button type="submit" class="btn btn-success">RESPONDER</button>
        </div>
      </form>
    </div>
    
     
</body>
<script src="./js/bootstrap.min.js"></script>
<script src="./js/popper.min.js"></script>
</html>