<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Matemática D28</title>
</head>
<body class="bg-primary">
  <div class="h3 text-lg-center text-white">ESCOLA MUNICIPAL JUSLANY DE SOUZA FLORES</div>
      <div class="h3 text-lg-center text-white">5º ANO TURMA A</div>  
  <hr>
  <header class="container">
    <h4>D28 - Ler informações e dados apresentados em gráficos (particularmente em gráficos de colunas).</h4>
  </header>
  <br>
  <br>
  <br>
    <div class="container">
      
      <form method="POST" action="/confirmacao-md10" onsubmit="return validarFormulario()">
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">@</span>
          <input type="text" class="form-control" placeholder="Digite seu nome aqui" aria-label="Digite seu nome aqui" aria-describedby="basic-addon1" name="name" id="name">
        </div>
        <div class="container">

          <!-- QUESTÃO 1 -->
          <div class="row">
              <div class="col">
                  <div class="card">
                      <div class="card-body">
                          <h5 class="card-title">QUESTÃO 1</h5>
                          <p class="card-text">Maria, limpando a sua bolsa, encontrou as seguintes notas e moedas:</p>
                          <div class="text-center"><img class="img-fluid" src="/img/matd10_1.png" alt=""></div>
                          <p>Quanto Maria tinha na sua bolsa?</p>
                          <div class="form-group">
                              <div class="btn-group" data-toggle="buttons">
                                  <ol type="A">
                                      <li><input type="radio" name="q1" value="A"> R$ 9,00</li>
                                      <li><input type="radio" name="q1" value="B"> R$ 9,90</li>
                                      <li><input type="radio" name="q1" value="C"> R$ 10,10</li>
                                      <li><input type="radio" name="q1" value="D"> R$ 10,15</li>
                                  </ol>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <br>
      
          <!-- QUESTÃO 2 -->
          <div class="row">
              <div class="col">
                  <div class="card">
                      <div class="card-body">
                          <h5 class="card-title">QUESTÃO 2</h5>
                          <p class="card-text">Fernando tem, no seu cofrinho, cinco moedas de R$ 0,05, oito moedas de R$ 0,10 e três moedas de R$ 0,25. Que quantia Fernando tem no cofrinho?</p>
                          <div class="form-group">
                              <div class="btn-group" data-toggle="buttons">
                                  <ol type="A">
                                      <li><input type="radio" name="q2" value="A"> R$ 1,55</li>
                                      <li><input type="radio" name="q2" value="B"> R$ 1,80</li>
                                      <li><input type="radio" name="q2" value="C"> R$ 2,05</li>
                                      <li><input type="radio" name="q2" value="D"> R$ 4,05</li>
                                  </ol>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <br>
      
          <!-- QUESTÃO 3 -->
          <div class="row">
              <div class="col">
                  <div class="card">
                      <div class="card-body">
                          <h5 class="card-title">QUESTÃO 3</h5>
                          <p class="card-text">Júlia está juntando dinheiro para comprar uma geladeira e um forno elétrico. Ela já possui R$ 658,00. Resolveu comprar o forno que custou R$ 280,00. Quanto ainda precisa juntar para comprar uma geladeira que custa R$ 750,00?</p>
                          <div class="form-group">
                              <div class="btn-group" data-toggle="buttons">
                                  <ol type="A">
                                      <li><input type="radio" name="q3" value="A"> R$ 102,00</li>
                                      <li><input type="radio" name="q3" value="B"> R$ 372,00</li>
                                      <li><input type="radio" name="q3" value="C"> R$ 382,00</li>
                                      <li><input type="radio" name="q3" value="D"> R$ 470,00</li>
                                  </ol>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <br>
      
          <!-- QUESTÃO 4 -->
          <div class="row">
              <div class="col">
                  <div class="card">
                      <div class="card-body">
                          <h5 class="card-title">QUESTÃO 4</h5>
                          <p class="card-text">O dono da padaria trocou R$ 7,00 por moedas de R$ 0,25. Quantas moedas ele recebeu?</p>
                          <div class="form-group">
                              <div class="btn-group" data-toggle="buttons">
                                  <ol type="A">
                                      <li><input type="radio" name="q4" value="A"> 14</li>
                                      <li><input type="radio" name="q4" value="B"> 21</li>
                                      <li><input type="radio" name="q4" value="C"> 28</li>
                                      <li><input type="radio" name="q4" value="D"> 35</li>
                                  </ol>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <br>
      
          <!-- QUESTÃO 5 -->
          <div class="row">
              <div class="col">
                  <div class="card">
                      <div class="card-body">
                          <h5 class="card-title">QUESTÃO 5</h5>
                          <p class="card-text">Para pagar sua compra na farmácia Pedro utilizou uma cédula de R$ 10,00, três de R$ 5,00 e duas moedas de R$ 0,50. Quanto Pedro pagou pela compra?</p>
                          <div class="form-group">
                              <div class="btn-group" data-toggle="buttons">
                                  <ol type="A">
                                      <li><input type="radio" name="q5" value="A"> R$ 15,00</li>
                                      <li><input type="radio" name="q5" value="B"> R$ 15,50</li>
                                      <li><input type="radio" name="q5" value="C"> R$ 26,00</li>
                                      <li><input type="radio" name="q5" value="D"> R$ 26,50</li>
                                  </ol>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <br>
      
          <!-- QUESTÃO 6 -->
          <div class="row">
              <div class="col">
                  <div class="card">
                      <div class="card-body">
                          <h5 class="card-title">QUESTÃO 6</h5>
                          <p class="card-text">Gilson trocou uma nota de 50 reais por 10 notas iguais. Qual é o valor dessas notas que Gilson recebeu nessa troca?</p>
                          <div class="form-group">
                              <div class="btn-group" data-toggle="buttons">
                                  <ol type="A">
                                      <li><input type="radio" name="q6" value="A"> 2 reais</li>
                                      <li><input type="radio" name="q6" value="B"> 5 reais</li>
                                      <li><input type="radio" name="q6" value="C"> 10 reais</li>
                                      <li><input type="radio" name="q6" value="D"> 20 reais</li>
                                  </ol>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <br>
      
          <!-- QUESTÃO 7 -->
          <div class="row">
              <div class="col">
                  <div class="card">
                      <div class="card-body">
                          <h5 class="card-title">QUESTÃO 7</h5>
                          <p class="card-text">Flávia recebeu de troco as moedas abaixo. Ela trocou essas moedas por notas de 5 reais. Quantas notas Flávia recebeu nessa troca?</p>
                          <div class="text-center"><img class="img-fluid" src="/img/matd10_7.png" alt=""></div>
                          <div class="form-group">
                              <div class="btn-group" data-toggle="buttons">
                                  <ol type="A">
                                      <li><input type="radio" name="q7" value="A"> 3</li>
                                      <li><input type="radio" name="q7" value="B"> 5</li>
                                      <li><input type="radio" name="q7" value="C"> 10</li>
                                      <li><input type="radio" name="q7" value="D"> 20</li>
                                  </ol>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <br>
      
          <!-- QUESTÃO 8 -->
          <div class="row">
              <div class="col">
                  <div class="card">
                      <div class="card-body">
                          <h5 class="card-title">QUESTÃO 8</h5>
                          <p class="card-text">Para poder comprar um doce, Leila trocou uma nota de 2 reais por moedas de 50 centavos. Quantas moedas ela recebeu?</p>
                          <div class="form-group">
                              <div class="btn-group" data-toggle="buttons">
                                  <ol type="A">
                                      <li><input type="radio" name="q8" value="A"> 4 moedas</li>
                                      <li><input type="radio" name="q8" value="B"> 5 moedas</li>
                                      <li><input type="radio" name="q8" value="C"> 10 moedas</li>
                                      <li><input type="radio" name="q8" value="D"> 20 moedas</li>
                                  </ol>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <br>
      
          <!-- QUESTÃO 9 -->
          <div class="row">
              <div class="col">
                  <div class="card">
                      <div class="card-body">
                          <h5 class="card-title">QUESTÃO 9</h5>
                          <p class="card-text">Silvia é uma atleta do vôlei. Conseguiu juntar o dinheiro necessário para a compra de uma bola oficial de vôlei. Ela falou para seu time que tem 8500 centavos. O valor que Silvia tem pode ser representado por</p>
                          <div class="form-group">
                              <div class="btn-group" data-toggle="buttons">
                                  <ol type="A">
                                      <li><input type="radio" name="q9" value="A"> 3 notas de 10 reais e 7 notas de 5 reais.</li>
                                      <li><input type="radio" name="q9" value="B"> 5 notas de 10 reais e 8 notas de 5 reais.</li>
                                      <li><input type="radio" name="q9" value="C"> 7 notas de 10 reais e 3 notas de 5 reais.</li>
                                      <li><input type="radio" name="q9" value="D"> 8 notas de 10 reais e 5 notas de 5 reais.</li>
                                  </ol>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <br>
      
          <!-- QUESTÃO 10 -->
          <div class="row">
              <div class="col">
                  <div class="card">
                      <div class="card-body">
                          <h5 class="card-title">QUESTÃO 10</h5>
                          <p class="card-text">Observe abaixo as moedas que Leonardo juntou em seu cofrinho. Ele trocou essas moedas por notas de R$ 2,00. Quantas notas Leonardo recebeu nessa troca?</p>
                          <div class="text-center"><img src="/img/matd10_10.png" alt="Imagem das moedas" class="img-fluid"></div>
                          <div class="form-group">
                              <div class="btn-group" data-toggle="buttons">
                                  <ol type="A">
                                      <li><input type="radio" name="q10" value="A"> 2</li>
                                      <li><input type="radio" name="q10" value="B"> 4</li>
                                      <li><input type="radio" name="q10" value="C"> 8</li>
                                      <li><input type="radio" name="q10" value="D"> 16</li>
                                  </ol>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <br>
      
      </div>

         

        

                
        <div class="d-grid gap-2 m-xl-3">        
          <button type="reset" class="btn btn-danger">LIMPAR</button>
          <button type="submit" class="btn btn-success">RESPONDER</button>
        </div>
      </form>
    </div>
   
     
</body>
<script src="./js/bootstrap.min.js"></script>
<script src="./js/popper.min.js"></script>
<script src="/js/script.js"></script>
</html>