<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Matemática D11</title>
</head>
<body class="bg-primary">
  <div class="h3 text-lg-center text-white">ESCOLA MUNICIPAL JUSLANY DE SOUZA FLORES</div>
      <div class="h3 text-lg-center text-white">5º ANO TURMA A</div>  
  <hr>
  <header class="container-sm">
    <h4>D11 – Resolver problema envolvendo o cálculo do perímetro de figuras planas, desenhadas em malhas quadriculadas.</h4>
  </header>
  <br>
  <br>
  <br>
    <div class="container-sm">
      
      <form method="POST" action="/gabarito_matd11" onsubmit="return validarFormulario()">
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">@</span>
          <input type="text" class="form-control" placeholder="Digite seu nome aqui" aria-label="Digite seu nome aqui" aria-describedby="basic-addon1" name="name" id="name">
        </div>

        <div class="container">

          <!-- Questão 1 -->
          <div class="row">
              <div class="col">
                  <div class="card">
                      <div class="card-body">
                          <h5 class="card-title">QUESTÃO 1</h5>
                          <p class="card-text">Luiz desenhou o polígono em cinza na malha quadriculada abaixo, na qual o lado de cada quadradinho mede 1 cm.</p>
                          <div class="text-center">
                              <img class="img-fluid" src="/img/matd11_1.png" alt="Desenho do Polígono">
                          </div>
                          <p>Quanto mede o perímetro desse polígono?</p>
                          <div class="form-group">
                              <div class="btn-group" data-toggle="buttons">
                                  <ol type="A">
                                      <li><input type="radio" name="q1" value="A">22 centímetros.</li>
                                      <li><input type="radio" name="q1" value="B">24 centímetros.</li>
                                      <li><input type="radio" name="q1" value="C">28 centímetros.</li>
                                      <li><input type="radio" name="q1" value="D">30 centímetros.</li>
                                  </ol>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <br>
      
          <!-- Questão 2 -->
          <div class="row">
              <div class="col">
                  <div class="card">
                      <div class="card-body">
                          <h5 class="card-title">QUESTÃO 2</h5>
                          <p class="card-text">Luciana utilizou uma fita adesiva para marcar no chão do pátio da escola a região que será utilizada para a apresentação de final de ano dos seus alunos. O desenho em cinza na malha quadriculada abaixo representa a região demarcada por Luciana.</p>
                          <div class="text-center">
                              <img class="img-fluid" src="/img/matd11_2.png" alt="Desenho da Região Demarcada">
                          </div>
                          <p>Quantos metros de fita adesiva, no mínimo, Luciana utilizou para fazer essa marcação?</p>
                          <div class="form-group">
                              <div class="btn-group" data-toggle="buttons">
                                  <ol type="A">
                                      <li><input type="radio" name="q2" value="A">38 m.</li>
                                      <li><input type="radio" name="q2" value="B">44 m.</li>
                                      <li><input type="radio" name="q2" value="C">73 m.</li>
                                      <li><input type="radio" name="q2" value="D">88 m.</li>
                                  </ol>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <br>
      
          <!-- Questão 3 -->
          <div class="row">
              <div class="col">
                  <div class="card">
                      <div class="card-body">
                          <h5 class="card-title">QUESTÃO 3</h5>
                          <p class="card-text">Observe o desenho em cinza na malha quadriculada abaixo.</p>
                          <div class="text-center">
                              <img class="img-fluid" src="/img/matd11_3.png" alt="Desenho em Cinza">
                          </div>
                          <p>Maria calculou o perímetro desse desenho de maneira correta. Qual resultado encontrado por Maria?</p>
                          <div class="form-group">
                              <div class="btn-group" data-toggle="buttons">
                                  <ol type="A">
                                      <li><input type="radio" name="q3" value="A">13 cm</li>
                                      <li><input type="radio" name="q3" value="B">20 cm</li>
                                      <li><input type="radio" name="q3" value="C">28 cm</li>
                                      <li><input type="radio" name="q3" value="D">42 cm</li>
                                  </ol>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <br>
      
          <!-- Questão 4 -->
          <div class="row">
              <div class="col">
                  <div class="card">
                      <div class="card-body">
                          <h5 class="card-title">QUESTÃO 4</h5>
                          <p class="card-text">Juliana e Ester estão fazendo um cartaz para apresentar um trabalho de Matemática. Elas colaram fita adesiva colorida ao redor desse cartaz. Observe abaixo a representação desse cartaz na malha quadriculada, onde o lado de cada quadradinho equivale a 5 cm.</p>
                          <div class="text-center">
                              <img class="img-fluid" src="/img/matd11_4.png" alt="Cartaz">
                          </div>
                          <p>Quantos centímetros de fita, no mínimo, elas utilizaram para contornar todo esse cartaz?</p>
                          <div class="form-group">
                              <div class="btn-group" data-toggle="buttons">
                                  <ol type="A">
                                      <li><input type="radio" name="q4" value="A">28 centímetros.</li>
                                      <li><input type="radio" name="q4" value="B">40 centímetros.</li>
                                      <li><input type="radio" name="q4" value="C">140 centímetros.</li>
                                      <li><input type="radio" name="q4" value="D">280 centímetros.</li>
                                  </ol>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <br>
      
          <!-- Questão 5 -->
          <div class="row">
              <div class="col">
                  <div class="card">
                      <div class="card-body">
                          <h5 class="card-title">QUESTÃO 5</h5>
                          <p class="card-text">Uma empresa encomendou de um fornecedor uma placa de acrílico cujas dimensões equivalem às da figura colorida de cinza na malha quadriculada abaixo, onde o lado de cada quadradinho equivale a 10 cm.</p>
                          <div class="text-center">
                              <img class="img-fluid" src="/img/matd11_5.png" alt="Placa de Acrílico">
                          </div>
                          <p>Para a proteção dessa placa durante o transporte, foi utilizada uma fita autocolante e emborrachada em todo seu contorno. Quantos centímetros dessa fita, no mínimo, o fornecedor utilizou para proteger essa placa de acrílico?</p>
                          <div class="form-group">
                              <div class="btn-group" data-toggle="buttons">
                                  <ol type="A">
                                      <li><input type="radio" name="q5" value="A">24</li>
                                      <li><input type="radio" name="q5" value="B">45</li>
                                      <li><input type="radio" name="q5" value="C">200</li>
                                      <li><input type="radio" name="q5" value="D">210</li>
                                  </ol>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <br>
      
          <!-- Questão 6 -->
          <div class="row">
              <div class="col">
                  <div class="card">
                      <div class="card-body">
                          <h5 class="card-title">QUESTÃO 6</h5>
                          <p class="card-text">Para o acabamento da decoração de uma caixa de madeira, será colada uma fita de cetim em volta de sua tampa. O formato dessa tampa está representado, em cinza, na malha quadriculada abaixo, em que o lado de cada quadradinho equivale a 5 centímetros.</p>
                          <div class="text-center">
                              <img class="img-fluid" src="/img/matd11_6.png" alt="Tampa da Caixa">
                          </div>
                          <p>Qual deve ser o comprimento mínimo, em centímetros, dessa fita de cetim?</p>
                          <div class="form-group">
                              <div class="btn-group" data-toggle="buttons">
                                  <ol type="A">
                                      <li><input type="radio" name="q6" value="A">28</li>
                                      <li><input type="radio" name="q6" value="B">35</li>
                                      <li><input type="radio" name="q6" value="C">120</li>
                                      <li><input type="radio" name="q6" value="D">175</li>
                                  </ol>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <br>
      
          <!-- Questão 7 -->
          <div class="row">
              <div class="col">
                  <div class="card">
                      <div class="card-body">
                          <h5 class="card-title">QUESTÃO 7</h5>
                          <p class="card-text">Marcos anda de bicicleta na praça perto de sua casa. Representada pela figura abaixo.</p>
                          <div class="text-center">
                              <img class="img-fluid" src="/img/matd11_7.png" alt="Praça">
                          </div>
                          <p>Se ele der a volta completa na praça, andará:</p>
                          <div class="form-group">
                              <div class="btn-group" data-toggle="buttons">
                                  <ol type="A">
                                      <li><input type="radio" name="q7" value="A">160 m.</li>
                                      <li><input type="radio" name="q7" value="B">100 m.</li>
                                      <li><input type="radio" name="q7" value="C">80 m.</li>
                                      <li><input type="radio" name="q7" value="D">60 m.</li>
                                  </ol>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <br>
      
          <!-- Questão 8 -->
          <div class="row">
              <div class="col">
                  <div class="card">
                      <div class="card-body">
                          <h5 class="card-title">QUESTÃO 8</h5>
                          <p class="card-text">Marina usou um elástico para representar uma figura no quadro de preguinhos que a professora levou para a sala de aula. Veja o que ela fez</p>
                          <div class="text-center">
                              <img class="img-fluid" src="/img/matd11_8.png" alt="Quadro de Preguinhos">
                          </div>
                          <p>Observando que a medida entre dois preguinhos é de 1 cm, qual é o perímetro da figura que Marina representou?</p>
                          <div class="form-group">
                              <div class="btn-group" data-toggle="buttons">
                                  <ol type="A">
                                      <li><input type="radio" name="q8" value="A">16 cm</li>
                                      <li><input type="radio" name="q8" value="B">18 cm</li>
                                      <li><input type="radio" name="q8" value="C">20 cm</li>
                                      <li><input type="radio" name="q8" value="D">22 cm</li>
                                  </ol>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <br>
      
          <!-- Questão 9 -->
          <div class="row">
              <div class="col">
                  <div class="card">
                      <div class="card-body">
                          <h5 class="card-title">QUESTÃO 9</h5>
                          <p class="card-text">Marcos precisou comprar fitas para marcar o contorno de uma quadra de vôlei de praia. Essa quadra e suas dimensões estão representadas no desenho abaixo, no qual a medida do lado de cada quadradinho equivale a 2 metros.  </p>
                          <div class="text-center">
                              <img class="img-fluid" src="/img/matd11_9.png" alt="Praça">
                          </div>
                          <p>Quantos metros de fita, no mínimo, Marcos precisou para contornar essa quadra? </p>
                          <div class="form-group">
                              <div class="btn-group" data-toggle="buttons">
                                  <ol type="A">
                                      <li><input type="radio" name="q9" value="A">48</li>
                                      <li><input type="radio" name="q9" value="B">24</li>
                                      <li><input type="radio" name="q9" value="C">52</li>
                                      <li><input type="radio" name="q9" value="D">64</li>
                                  </ol>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <br>
      
          <!-- Questão 10 -->
          <div class="row">
              <div class="col">
                  <div class="card">
                      <div class="card-body">
                          <h5 class="card-title">QUESTÃO 10</h5>
                          <p class="card-text">Uma praça de uma cidade será construída. A malha quadriculada representa o desenho da praça. Cada lado do quadradinho indica 1 metro de construção. A parte destacada em cinza está destinada ao coreto que será construído.</p>
                          <div class="text-center">
                              <img class="img-fluid" src="/img/matd11_10.png" alt="Desenho da Praça">
                          </div>
                          <p>Quantos metros de construção serão necessários para o contorno do coreto?</p>
                          <div class="form-group">
                              <div class="btn-group" data-toggle="buttons">
                                  <ol type="A">
                                      <li><input type="radio" name="q10" value="A">4</li>
                                      <li><input type="radio" name="q10" value="B">6</li>
                                      <li><input type="radio" name="q10" value="C">8</li>
                                      <li><input type="radio" name="q10" value="D">10</li>
                                  </ol>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <br>
      
      </div>

          

                
        <div class="d-grid gap-2 m-xl-3">        
          <button type="reset" class="btn btn-danger">LIMPAR</button>
          <button type="submit" class="btn btn-success">RESPONDER</button>
        </div>
      </form>
    </div>
   
     
</body>
<script src="./js/bootstrap.min.js"></script>
<script src="./js/popper.min.js"></script>
<script src="/js/script.js"></script>
</html>