<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Matemática D12</title>
</head>
<body class="bg-primary">
  <div class="h3 text-lg-center text-white">ESCOLA MUNICIPAL JUSLANY DE SOUZA FLORES</div>
      <div class="h3 text-lg-center text-white">5º ANO TURMA A</div>  
  <hr>
  <header class="container">
    <h4>D12 – Resolver problema envolvendo o cálculo ou estimativa de áreas de figuras planas, desenhadas em malhas quadriculadas.</h4>
  </header>
  <br>
  <br>
  <div class="container mt-5">
    <form method="POST" action="/confirmacao-md12" onsubmit="return validarFormulario()">
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">@</span>
        <input type="text" class="form-control" placeholder="Digite seu nome aqui" aria-label="Digite seu nome aqui" aria-describedby="basic-addon1" name="name" id="name">
      </div>

    <!-- QUESTÃO 1 -->
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">QUESTÃO 1</h5>
                    <p class="card-text">Alice montou, com retalhos de tecido, um tapete como o representado a seguir. Cada quadradinho é um retalho com 10 cm de lado.</p>
                    <div class="text-center">
                        <img class="img-fluid" src="/img/matd12_1.png" alt="Imagem da Questão 1">
                    </div>
                    <p>A área ocupada pelo tapete é de:</p>
                    <div class="form-group">
                        <div class="btn-group" data-toggle="buttons">
                            <ol type="A">
                                <li><input type="radio" name="q1" value="A"> 2 200 cm²</li>
                                <li><input type="radio" name="q1" value="B"> 4 400 cm²</li>
                                <li><input type="radio" name="q1" value="C"> 8 800 cm²</li>
                                <li><input type="radio" name="q1" value="D"> 11 700 cm²</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>

    <!-- QUESTÃO 2 -->
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">QUESTÃO 2</h5>
                    <p class="card-text">(SAERO). Marcela fez um desenho da sua horta na malha quadriculada abaixo e pintou de cinza. Nessa malha, o lado de cada quadradinho corresponde a 1 m.</p>
                    <div class="text-center">
                        <img class="img-fluid" src="/img/matd12_2.png" alt="Imagem da Questão 2">
                    </div>
                    <p>Qual é a medida da área dessa horta?</p>
                    <div class="form-group">
                        <div class="btn-group" data-toggle="buttons">
                            <ol type="A">
                                <li><input type="radio" name="q2" value="A"> 15 m²</li>
                                <li><input type="radio" name="q2" value="B"> 16 m²</li>
                                <li><input type="radio" name="q2" value="C"> 20 m²</li>
                                <li><input type="radio" name="q2" value="D"> 28 m²</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>

    <!-- QUESTÃO 3 -->
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">QUESTÃO 3</h5>
                    <p class="card-text">(SEMEC - E. M. Profª Efantina de Quadros). Se a área do losango L, de cor mais escura na figura abaixo, é de 1 cm2, qual é a área do polígono P?</p>
                    <div class="text-center">
                        <img class="img-fluid" src="/img/matd12_3.png" alt="Imagem da Questão 3">
                    </div>
                    <div class="form-group">
                        <div class="btn-group" data-toggle="buttons">
                            <ol type="A">
                                <li><input type="radio" name="q3" value="A"> 4 cm²</li>
                                <li><input type="radio" name="q3" value="B"> 6 cm²</li>
                                <li><input type="radio" name="q3" value="C"> 8 cm²</li>
                                <li><input type="radio" name="q3" value="D"> 12 cm²</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>

    <!-- QUESTÃO 4 -->
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">QUESTÃO 4</h5>
                    <p class="card-text">Utilizando como unidade de medida, o quadrinho do papel quadriculado, a área da palavra “FÉ” representada abaixo é igual a:</p>
                    <div class="text-center">
                        <img class="img-fluid" src="/img/matd12_4.png" alt="Imagem da Questão 4">
                    </div>
                    <div class="form-group">
                        <div class="btn-group" data-toggle="buttons">
                            <ol type="A">
                                <li><input type="radio" name="q4" value="A"> 18 quadrinhos</li>
                                <li><input type="radio" name="q4" value="B"> 31 quadrinhos</li>
                                <li><input type="radio" name="q4" value="C"> 45 quadrinhos</li>
                                <li><input type="radio" name="q4" value="D"> 50 quadrinhos</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>

    <!-- QUESTÃO 5 -->
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">QUESTÃO 5</h5>
                    <p class="card-text">(Sobral-CE). Observe as figuras representadas na malha quadriculada abaixo.</p>
                    <div class="text-center">
                        <img class="img-fluid" src="/img/matd12_5.png" alt="Imagem da Questão 5">
                    </div>
                    <p>Qual das figuras tem a mesma área da figura representada pela letra W?</p>
                    <div class="form-group">
                        <div class="btn-group" data-toggle="buttons">
                            <ol type="A">
                                <li><input type="radio" name="q5" value="A"> X</li>
                                <li><input type="radio" name="q5" value="B"> K</li>
                                <li><input type="radio" name="q5" value="C"> Y</li>
                                <li><input type="radio" name="q5" value="D"> Z</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>

    <!-- QUESTÃO 6 -->
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">QUESTÃO 6</h5>
                    <p class="card-text">(SADEAM – AM). Veja as figuras desenhadas na malha quadriculada abaixo.</p>
                    <div class="text-center">
                        <img class="img-fluid" src="/img/matd12_6.png" alt="Imagem da Questão 6">
                    </div>
                    <p>As figuras que possuem medidas de áreas iguais são</p>
                    <div class="form-group">
                        <div class="btn-group" data-toggle="buttons">
                            <ol type="A">
                                <li><input type="radio" name="q6" value="A"> I e II</li>
                                <li><input type="radio" name="q6" value="B"> II e III</li>
                                <li><input type="radio" name="q6" value="C"> III e IV</li>
                                <li><input type="radio" name="q6" value="D"> IV e I</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>

    <!-- QUESTÃO 7 -->
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">QUESTÃO 7</h5>
                    <p class="card-text">(AREAL). Observe os desenhos na malha quadriculada abaixo.</p>
                    <div class="text-center">
                        <img class="img-fluid" src="/img/matd12_7.png" alt="Imagem da Questão 7">
                    </div>
                    <p>Qual desses desenhos tem a maior medida de área?</p>
                    <div class="form-group">
                        <div class="btn-group" data-toggle="buttons">
                            <ol type="A">
                                <li><input type="radio" name="q7" value="A"> 1</li>
                                <li><input type="radio" name="q7" value="B"> 2</li>
                                <li><input type="radio" name="q7" value="C"> 3</li>
                                <li><input type="radio" name="q7" value="D"> 4</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>

    <!-- QUESTÃO 8 -->
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">QUESTÃO 8</h5>
                    <p class="card-text">(SADEAM). Observe os polígonos em cinza na malha quadriculada abaixo.</p>
                    <div class="text-center">
                        <img class="img-fluid" src="/img/matd12_8.png" alt="Imagem da Questão 8">
                    </div>
                    <p>Qual desses polígonos tem a maior medida de área?</p>
                    <div class="form-group">
                        <div class="btn-group" data-toggle="buttons">
                            <ol type="A">
                                <li><input type="radio" name="q8" value="A"> 1</li>
                                <li><input type="radio" name="q8" value="B"> 2</li>
                                <li><input type="radio" name="q8" value="C"> 3</li>
                                <li><input type="radio" name="q8" value="D"> 4</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>

    <!-- QUESTÃO 9 -->
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">QUESTÃO 9</h5>
                    <p class="card-text">(SADEAM). Observe abaixo a ﬁgura que a professora Sandra fez em uma malha quadriculada. A medida da área de cada quadradinho dessa malha é igual a 1 cm².</p>
                    <div class="text-center">
                        <img class="img-fluid" src="/img/matd12_9.png" alt="Imagem da Questão 9">
                    </div>
                    <p>A medida da área dessa figura, em cm², é igual a</p>
                    <div class="form-group">
                        <div class="btn-group" data-toggle="buttons">
                            <ol type="A">
                                <li><input type="radio" name="q9" value="A"> 10</li>
                                <li><input type="radio" name="q9" value="B"> 11</li>
                                <li><input type="radio" name="q9" value="C"> 12</li>
                                <li><input type="radio" name="q9" value="D"> 13</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>

    <!-- QUESTÃO 10 -->
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">QUESTÃO 10</h5>
                    <p class="card-text">(AVALIE). Joana está tecendo um tapete de crochê que está representado na malha quadriculada abaixo.</p>
                    <div class="text-center">
                        <img class="img-fluid" src="/img/matd12_10.png" alt="Imagem da Questão 10">
                    </div>
                    <p>A parte colorida de cinza representa a parte do tapete que ela já fez. O lado do quadradinho da malha corresponde a 1 metro. Quantos metros quadrados faltam para Joana tecer e terminar esse tapete?</p>
                    <div class="form-group">
                        <div class="btn-group" data-toggle="buttons">
                            <ol type="A">
                                <li><input type="radio" name="q10" value="A"> 5</li>
                                <li><input type="radio" name="q10" value="B"> 6</li>
                                <li><input type="radio" name="q10" value="C"> 10</li>
                                <li><input type="radio" name="q10" value="D"> 15</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>

</div>
 

                
        <div class="d-grid gap-2 m-xl-3">        
          <button type="reset" class="btn btn-danger">LIMPAR</button>
          <button type="submit" class="btn btn-success">RESPONDER</button>
        </div>
      </form>
    </div>
   
     
</body>
<script src="./js/bootstrap.min.js"></script>
<script src="./js/popper.min.js"></script>
<script src="/js/script.js"></script>
</html>