<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Descritor 13</title>
</head>
<body class="bg-primary">
  <header class=""><h6>D13 – Reconhecer e utilizar características do sistema de numeração decimal, tais como agrupamentos e trocas na base 10 e princípio do valor posicional; 
    </h6></header>
    <% //Questões 1 e 2 %>
    <div class="container">
        <div class="row mx-xl-3">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Questão 1</h5>
                        <p class="card-text">Com os algarismos 4, 7 e 5, Carlos escreveu um número em que o 7 vale 700 unidades e o 4 vale 40 unidades. O número escrito por Carlos.</p>
                        <ol type="A">
                            <li>547</li>
                            <li>574</li>
                            <li>745</li>
                            <li>754</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Questão 2</h5>
                        <p class="card-text">Luísa está concorrendo a um sorteio com o número 5 798.
                            O algarismo que ocupa a ordem das dezenas nesse número é 
                            </p>
                        <ol type="A">
                            <li>9</li>
                            <li>8</li>
                            <li>7</li>
                            <li>5</li>
                        </ol>
                    </div>
                </div>
            </div>
         </div>    
     <div class="row mx-xl-3">
         <p></p>
      </div>
    </div>
    <% //Questões 3 e 4 %>
    <div class="container">
        <div class="row mx-xl-3">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Questão 3</h5>
                        <p class="card-text">A professora de Geografia escreveu no quadro abaixo o número de habitantes da cidade onde ela nasceu.</p>
                        <p class="text-center"><b>24.560</b></p>
                        <p>Qual é o valor posicional do algarismo 4 nesse número?</p>
                        <ol type="A">
                            <li>4</li>
                            <li>400</li>
                            <li>4.000</li>
                            <li>40.000</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Questão 4</h5>
                        <p class="card-text">Observe os algarismos no quadro abaixo:</p>
                        <p class="text-center"><b>6, 4, 3, 1, 8</b></p>
                        <p>Qual é o maior número, de cinco algarismos diferentes, que pode ser formado usando os algarismos desse quadro? </p>
                        <ol type="A">
                            <li>86 431</li>
                            <li>84 316</li>
                            <li>64 318</li>
                            <li>13 468</li>
                        </ol>
                    </div>
                </div>
            </div>
         </div>    
     <div class="row mx-xl-3">
         <p></p>
      </div>
    </div>
    <% //Questões 5 e 6 %>
    <div class="container">
        <div class="row mx-xl-3">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Questão 5</h5>
                        <p class="card-text">Lia mora na casa de número <b>8 732</b>.
                            Uma das decomposições desse número é.</p>
                        <ol type="A">
                            <li>8 000 + 700 + 30 + 2</li>
                            <li>800 + 700 + 30 + 2</li>
                            <li>80 + 70 + 30 + 2</li>
                            <li>8 + 7 + 3 + 2</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Questão 6</h5>
                        <p class="card-text">O número 24.513 está representado no ábaco abaixo.</p>
                        <p class="text-center"><img class="img-fluid" src="/img/md13_1.png" alt=""></p>
                        <p>O algarismo que se encontra na ordem das unidades de milhar nesse ábaco é </p>
                        <ol type="A">
                            <li>5</li>
                            <li>4</li>
                            <li>3</li>
                            <li>2</li>
                        </ol>
                    </div>
                </div>
            </div>
         </div>    
     <div class="row mx-xl-3">
         <p></p>
      </div>
    </div>
    <% //Questões 7 e 8 %>
    <div class="container">
        <div class="row mx-xl-3">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Questão 7</h5>
                        <p class="card-text">Observe os cartões a seguir:</p>
                        <img class="img-fluid" src="/img/md13_2.png" alt="">
                        <p>Em quais cartões o número 3 representa o valor 300?</p>
                        <ol type="A">
                            <li>R e X.</li>
                            <li>S e V.</li>
                            <li>T e U.</li>
                            <li>V e X.</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Questão 8</h5>
                        <p class="card-text">Observe abaixo a decomposição do número 789 que quatro estudantes fizeram.</p>
                        <p class="text-center"> 
                            <p>Mariana: 7 000 + 80 + 9</p> 
                            <p>Joaquim: 700 + 80 + 9</p>
                            <p>Rosa: 70 + 80 + 9</p>
                            <p>Pedro: 7 + 8 + 9</p>
                            </p>
                        <p>Qual desses estudantes fez a decomposição do número 789 corretamente?</p>
                        <ol type="A">
                            <li>Joaquim</li>
                            <li>Mariana</li>
                            <li>Pedro</li>
                            <li>Rosa</li>
                        </ol>
                    </div>
                </div>
            </div>
         </div>    
     <div class="row mx-xl-3">
         <p></p>
      </div>
    </div>
    <% //Questões 9 e 10 %>
    <div class="container">
        <div class="row mx-xl-3">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Questão 9</h5>
                        <p class="card-text">Numa farmácia, um medicamento foi embalado em caixas onde cabem 1000, 100, 10 e 1 unidades. O total de caixas utilizadas aparece na figura abaixo:  </p>
                        <img class="img-fluid" src="/img/md13_3.png" alt="">
                        <p>Quantas unidades desse medicamento foram embaladas?</p>
                        <ol type="A">
                            <li>1234</li>
                            <li>2346</li>
                            <li>2364</li>
                            <li>2436</li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Questão 10</h5>
                        <p class="card-text">Sâmia organizou o ábaco abaixo:</p>
                        <img class="img-fluid" src="/img/md13_4.png" alt="">
                        <p>Qual o número que ela quis representar?</p>
                        <ol type="A">
                            <li>564.987</li>
                            <li>456.897</li>
                            <li>456.789</li>
                            <li>564.789</li>
                        </ol>
                    </div>
                </div>
            </div>
         </div>    
     <div class="row mx-xl-3">
         <p></p>
      </div>
    </div>

<% //Gabarito %>
    <div class="container">
      <h3 class="h3 text-lg-center text-white">Gabarito</h3>
      <form method="POST" action="/confirmacao-md13">
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">@</span>
          <input type="text" class="form-control" placeholder="Digite seu nome aqui" aria-label="Digite seu nome aqui" aria-describedby="basic-addon1" name="name" id="name">
        </div>
        <table class="table table-light">
          <thead>
            <tr>
              <th scope="col">Q 1</th>
              <th scope="col">Q 2</th>
              <th scope="col">Q 3</th>
              <th scope="col">Q 4</th>
              <th scope="col">Q 5</th>
              <th scope="col">Q 6</th>
              <th scope="col">Q 7</th>
              <th scope="col">Q 8</th>
              <th scope="col">Q 9</th>
              <th scope="col">Q 10</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><input type="text" class="form-control" name="q1" maxlength="1"></td>
              <td><input type="text" class="form-control" name="q2" maxlength="1"></td>
              <td><input type="text" class="form-control" name="q3" maxlength="1"></td>
              <td><input type="text" class="form-control" name="q4" maxlength="1"></td>
              <td><input type="text" class="form-control" name="q5" maxlength="1"></td>
              <td><input type="text" class="form-control" name="q6" maxlength="1"></td>
              <td><input type="text" class="form-control" name="q7" maxlength="1"></td>
              <td><input type="text" class="form-control" name="q8" maxlength="1"></td>
              <td><input type="text" class="form-control" name="q9" maxlength="1"></td>
              <td><input type="text" class="form-control" name="q10" maxlength="1"></td>
              <input type="text" name="descritor" value="Matemática D13" hidden>

            </tr>
          </tbody>
        </table>
        
        <div class="d-grid gap-2 m-xl-3">        
          <button type="reset" class="btn btn-danger">LIMPAR</button>
          <button type="submit" class="btn btn-success">RESPONDER</button>
        </div>
      </form>
    </div>
    
     
</body>
<script src="./js/bootstrap.min.js"></script>
<script src="./js/popper.min.js"></script>
</html>