<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Descritor 14</title>
</head>
<body class="bg-primary">
  <header class=""><h6>D14 – Identificar a localização de números naturais na reta numérica; 
    </h6></header>
<% //Container Questão 1 e 2 %>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Questão 1</h5>
          <p class="card-text">Observe a reta numérica abaixo. Essa reta está dividida em segmentos de mesma medida.</p>
          <p><img class="img-fluid" src="/img/md14_1.png" alt=""></p>
          <p>O número correspondente ao ponto T nessa reta é</p>
          <ol type="A">
            <li>1 131</li>
            <li>1 140</li>
            <li>1 149</li>
            <li>1 149</li>
          </ol>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Questão 2</h5>
          <p class="card-text">Construíram uma estrada que liga as cidades de "Felicidades" e "Alegria". Existe um marco a cada 6 metros.</p>
          <p><img class="img-fluid" src="/img/md14_2.png" alt=""></p>
          <p>O valor do marco que está em branco é</p>
          <ol type="A">
            <li>1 283</li>
            <li>1 293</li>
            <li>1 299</li>
            <li>1 311</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <p></p>
  </div>
</div>

<% //Container Questão 3 %>
<div class="container">
  <div class="row">
   <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Quastão 3</h5>
        <p class="card-text">Veja a seguinte sequência de números:</p>
        <p><img class="img-fluid" src="/img/md14_3.png" alt=""></p>
        <p>A alternativa que completa corretamente os valores que faltam da esquerda para a direita é:</p>
        <ol type="A">
          <li>900 ...910 ... 960.</li>
          <li>990 ...900 ... 960.</li>
          <li>960 ...900 ... 880.</li>
          <li>960 ...910 ... 890.</li>
        </ol>
      </div>
    </div>
   </div>
  </div>
  <div class="row">
    <p></p>
  </div>
</div>

<% //Container Questão 4 e 5 %>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Questão 4</h5>
          <p class="card-text">Observe a reta numérica abaixo:</p>
          <p><img class="img-fluid" src="/img/md14_4.png" alt=""></p>
          <p>Quais são os números representados pelos pontos M e N nessa reta?</p>
          <ol type="A">
            <li>2 e 5.</li>
            <li>2 e 8.</li>
            <li>3 e 5.</li>
            <li>3 e 7.</li>
          </ol>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Questão 5</h5>
          <p class="card-text">Observe com atenção a reta numérica abaixo.</p>
          <p><img class="img-fluid" src="/img/md14_5.png" alt=""></p>
          <p>As letras A, C e T correspondem nessa ordem aos números naturais</p>
          <ol type="A">
            <li>43, 20 e 6.</li>
            <li>20, 43 e 6.</li>
            <li>6, 20 e 43.</li>
            <li>6, 43 e 20.</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <p></p>
  </div>
</div>

<% //Container Questão 6 %>
<div class="container">
  <div class="row">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Questão 6</h5>
        <p class="card-text">Na reta numérica abaixo, as letras indicam a localização de alguns números.</p>
        <p><img class="img-fluid" src="/img/md14_6.png" alt=""></p>
        <p>A letra que indica a localização do número 2 110 nessa reta numérica é</p>
        <ol type="A">
          <li>A</li>
          <li>B</li>
          <li>C</li>
          <li>D</li>

        </ol>
      </div>
    </div>
  </div>
  <div class="row">
    <p></p>
  </div>
</div>

<% //Container Questão 7 e 8 %>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Questão 7</h5>
          <p class="card-text">A professora Silma do 5º ano pediu a aluna Lídia que marcasse numa linha do tempo o ano de 1960.  </p>
          <p><img class="img-fluid" src="/img/md14_7.png" alt=""></p>
          <p>Que ponto Lídia deve marcar para acertar a tarefa pedida? </p>
          <ol type="A">
            <li>D</li>
            <li>B</li>
            <li>A</li>
            <li>C</li>
          </ol>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Questão 8</h5>
          <p class="card-text">Uma professora da 4ª série pediu que uma aluna marcasse numa linha do tempo o ano de 1940.</p>
          <p><img class="img-fluid" src="/img/md14_8.png" alt=""></p>
          <p>Que ponto a aluna deve marcar para acertar a tarefa pedida? </p>
          <ol type="A">
            <li>A</li>
            <li>B</li>
            <li>C</li>
            <li>D</li>
          </ol>
        </div>
      </div>
    </div>
    
  </div>
  <div class="row">
    <p></p>
  </div>
</div>

<% //Container Questão 9 e 10 %>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Questão 9</h5>
          <p class="card-text">As paradas de ônibus de uma cidade são localizadas por números em uma reta numérica.
            A figura a seguir representa as paradas, o ponto P indica o número 960 e o ponto U o número 1010.
            </p>
            <p><img class="img-fluid" src="/img/md14_9.png" alt=""></p>
            <p>Em qual ponto está localizada a parada 990, sabendo que a diferença entre o valor de um ponto e o valor de outro ponto consecutivo é de 10 unidades?</p>
            <ol type="A">
              <li>Q</li>
              <li>R</li>
              <li>S</li>
              <li>T</li>
            </ol>
        </div>
      </div>
      
    </div>

    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Questão 10</h5>
          <p class="card-text">Uma pista de corrida tem 1200 m. Ela é toda sinalizada. A cada metro existe uma marcação. Alice, Carlos, Luis e Mônica correm, diariamente. Uma revista resolveu fotografá-los. Carlos foi fotografado quando havia corrido 1.196 m.</p>
          <p><img class="img-fluid" src="/img/md14_10.png" alt=""></p>
          <p>A posição que Carlos ocupava no momento em que foi fotografado está representada pela letra</p>
          <ol type="A">
            <li>C</li>
            <li>G</li>
            <li>H</li>
            <li>J</li>
          </ol>
        </div>
      </div>
    </div>
    
  </div>
  <div class="row">
    <p></p>
  </div>
  
</div>
<% //Gabarito %>
    <div class="container">
      <h3 class="h3 text-lg-center text-white">Gabarito</h3>
      <form method="POST" action="/confirmacao-md14">
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">@</span>
          <input type="text" class="form-control" placeholder="Digite seu nome aqui" aria-label="Digite seu nome aqui" aria-describedby="basic-addon1" name="name" id="name">
        </div>
        <table class="table table-light">
          <thead>
            <tr>
              <th scope="col">Q 1</th>
              <th scope="col">Q 2</th>
              <th scope="col">Q 3</th>
              <th scope="col">Q 4</th>
              <th scope="col">Q 5</th>
              <th scope="col">Q 6</th>
              <th scope="col">Q 7</th>
              <th scope="col">Q 8</th>
              <th scope="col">Q 9</th>
              <th scope="col">Q 10</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><input type="text" class="form-control" name="q1" maxlength="1"></td>
              <td><input type="text" class="form-control" name="q2" maxlength="1"></td>
              <td><input type="text" class="form-control" name="q3" maxlength="1"></td>
              <td><input type="text" class="form-control" name="q4" maxlength="1"></td>
              <td><input type="text" class="form-control" name="q5" maxlength="1"></td>
              <td><input type="text" class="form-control" name="q6" maxlength="1"></td>
              <td><input type="text" class="form-control" name="q7" maxlength="1"></td>
              <td><input type="text" class="form-control" name="q8" maxlength="1"></td>
              <td><input type="text" class="form-control" name="q9" maxlength="1"></td>
              <td><input type="text" class="form-control" name="q10" maxlength="1"></td>
              <input type="text" name="descritor" value="Matemática D14" hidden>

            </tr>
          </tbody>
        </table>
        
        <div class="d-grid gap-2 m-xl-3">        
          <button type="reset" class="btn btn-danger">LIMPAR</button>
          <button type="submit" class="btn btn-success">RESPONDER</button>
        </div>
      </form>
    </div>
   
     
</body>
<script src="./js/bootstrap.min.js"></script>
<script src="./js/popper.min.js"></script>
</html>