<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Descritor 15</title>
</head>
<body class="bg-primary">
  <header class=""><h6>D15 – Reconhecer a decomposição de números naturais nas suas diversas ordens; 
    </h6></header>

<% //Questão 1 e 2 %>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Questão 1</h5>
                    <p class="card-text">Qual é o número formado pela adição abaixo?</p>
                    <p>4000 + 300 + 20 + 1</p>
                    <ol type="A">
                        <li>1 234</li>
                        <li>4 230</li>
                        <li>3 421</li>
                        <li>4 321</li>
                    </ol>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Questão 2</h5>
                    <p class="card-text">O número 30 456 é igual a</p>
                    <ol type="A">
                        <li>30 000 + 4 000 + 50 + 6</li>
                        <li>30 000 + 400 + 50 + 6</li>
                        <li>3 000 + 40 + 50 + 6</li>
                        <li>3 000 + 400 + 50 + 6</li>
                    </ol>
                </div>
            </div>
        </div>
       </div>
       <br>
</div>  
<% //Questões 3 e 4 %>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Questão 3</h5>
                    <p class="card-text">A professora de João pediu para ele decompor um número e ele fez da seguinte forma:</p>
                    <p><b>4 x 1000 + 3 x 10 + 5 x 1</b></p>
                    <p>Qual foi o número pedido?</p>
                    <ol type="A">
                        <li>4035</li>
                        <li>4305</li>
                        <li>5034</li>
                        <li>5304</li>
                    </ol>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Questão 4</h5>
                    <p class="card-text">Um garoto completou 1960 bolinhas de gude em sua coleção. Esse número é composto por</p>
                    <ol type="A">
                        <li>1 unidade de milhar, 9 dezenas e 6 unidades.</li>
                        <li>1 unidade de milhar, 9 centenas e 6 dezenas.</li>
                        <li>1 unidade de milhar, 60 unidades.</li>
                        <li>1 unidade de milhar, 90 unidades.</li>
                    </ol>
                </div>
            </div>
        </div>
        
    </div>
    <br>
</div>
<% //Questões 5 e 6 %>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Questão 5</h5>
                    <p class="card-text">O número total de ônibus que circulam em uma cidade é formado por 2 unidades de milhar, 84 dezenas e 6 unidades simples.
                        Quantos ônibus circulam, ao todo, nessa cidade?</p>
                        <ol type="A">
                            <li>2 846</li>
                            <li>2 086</li>
                            <li>20 846</li>
                            <li>28 406</li>
                        </ol>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Questão 6</h5>
                    <p class="card-text">A população de Vila Isabel, bairro da zona norte da cidade do Rio de Janeiro, onde nasceu o poeta Noel Rosa, é, aproximadamente, de 82 000 pessoas. O número <b>82 000</b>, decomposto em diferentes ordens, fica </p>
                    <ol type="A">
                        <li>8 centenas de milhar + 2 unidades de milhar.</li>
                        <li>8 centenas de milhar + 2 unidades.</li>
                        <li>8 dezenas de milhar + 2centenas.</li>
                        <li>8 dezenas de milhar + 2 unidades de milhar.</li>
                    </ol>
                </div>
            </div>
        </div>
        
    </div>
    <br>
</div>

<% //Questão 7 e 8 %>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Questão 7</h5>
                    <p class="card-text">Tem-se o número <b>8.567</b>. O valor relativo do algarismo 5 é</p>
                    <ol type="A">
                        <li>5</li>
                        <li>50</li>
                        <li>567</li>
                        <li>500</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Questão 8</h5>
                    <p class="card-text">Fazendo a decomposição do número 572, temos: </p>
                    <ol type="A">
                        <li>5 x 100 + 7 x 10 + 2</li>
                        <li>7 x 100 + 5 x 10 + 2</li>
                        <li>5 x 10 + 7 + 2</li>
                        <li>5 x 1000 + 7 x 100 + 2</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>

<% //Questões 9 %>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Questão 9</h5>
                    <p class="card-text">Na aula de matemática Ender escreveu no quadro a sentença <b>300 + X + 7 = 387</b></p>
                    <p>Ao observar com atenção, os seus colegas disseram:</p>
                    <p>- O número que deveria ficar no lugar do <b>X</b> é o 70, disse Julliany. </p>
                    <p>- Nada disso, o número tem que ser o 80, rebateu Diego.</p>
                    <p>- Que nada! Tem que ser 90, falou João.</p>
                    <p>- Ha ha ha! Não é nada disso, o número tem que ser o 87. Disse Mayara.</p>
                    <p>Qual dos alunos acertou a resposta?</p>
                    <ol type="A">
                        <li>Julliany</li>
                        <li>Diego</li>
                        <li>João</li>
                        <li>Mayara</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>

<% //Questão 10 %>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Questão 10</h5>
                    <p class="card-text">O homem antigo inventou um instrumento para contar e fazer cálculos chamado
                        ábaco. Dentre vários tipos de ábaco, um deles é composto de hastes verticais em que são encaixados pequenos anéis. O valor de cada anel muda de acordo com a posição da haste na qual será colocado. A haste na 1ª posição à direita representa a casa das unidades; na 2ª, a das dezenas; na 3ª, a das centenas, e assim por diante. 
                        </p>
                        <img class="img-fluid" src="/img/md15_10.png" alt="">
                        <p>O número representado no ábaco da figura anterior é:</p>
                        <ol type="A">
                            <li>42648.</li>
                            <li>46482.</li>
                            <li>84624.</li>
                            <li>86424.</li>
                        </ol>
                </div>
            </div>
        </div>
        
    </div>
    <br>
</div>

<% //Gabarito %>
    <div class="container">
      <h3 class="h3 text-lg-center text-white">Gabarito</h3>
      <form method="POST" action="/confirmacao-md15">
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">@</span>
          <input type="text" class="form-control" placeholder="Digite seu nome aqui" aria-label="Digite seu nome aqui" aria-describedby="basic-addon1" name="name" id="name">
        </div>
        <table class="table table-light">
          <thead>
            <tr>
              <th scope="col">Q 1</th>
              <th scope="col">Q 2</th>
              <th scope="col">Q 3</th>
              <th scope="col">Q 4</th>
              <th scope="col">Q 5</th>
              <th scope="col">Q 6</th>
              <th scope="col">Q 7</th>
              <th scope="col">Q 8</th>
              <th scope="col">Q 9</th>
              <th scope="col">Q 10</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><input type="text" class="form-control" name="q1" maxlength="1"></td>
              <td><input type="text" class="form-control" name="q2" maxlength="1"></td>
              <td><input type="text" class="form-control" name="q3" maxlength="1"></td>
              <td><input type="text" class="form-control" name="q4" maxlength="1"></td>
              <td><input type="text" class="form-control" name="q5" maxlength="1"></td>
              <td><input type="text" class="form-control" name="q6" maxlength="1"></td>
              <td><input type="text" class="form-control" name="q7" maxlength="1"></td>
              <td><input type="text" class="form-control" name="q8" maxlength="1"></td>
              <td><input type="text" class="form-control" name="q9" maxlength="1"></td>
              <td><input type="text" class="form-control" name="q10" maxlength="1"></td>
              <input type="text" name="descritor" value="Matemática D15" hidden>

            </tr>
          </tbody>
        </table>
        
        <div class="d-grid gap-2 m-xl-3">        
          <button type="reset" class="btn btn-danger">LIMPAR</button>
          <button type="submit" class="btn btn-success">RESPONDER</button>
        </div>
      </form>
    </div>
   
     
</body>
<script src="./js/bootstrap.min.js"></script>
<script src="./js/popper.min.js"></script>
</html>