<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Descritor 16</title>
</head>
<body class="bg-primary">
  <header class=""><h6>D16 – Reconhecer a composição e a decomposição de números naturais em sua forma polinomial;</h6></header>
<% //Questões 1 e 2 %>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Questão 1</h5>
                    <p class="card-text">A professora pediu a Júlia para decompor um número e ela fez da seguinte forma:</p>
                    <p><b>3 x 1000 + 5 x 100 + 7</b></p>
                    <p>Qual foi o número pedido pela professora?</p>
                    <ol type="A">
                        <li>357</li> 
                        <li>3057</li> 
                        <li>3507</li> 
                        <li>3570</li>
                    </ol>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Questão 2</h5>
                    <p class="card-text">A professora de João pediu para ele decompor um número e ele fez da seguinte forma:</p>
                    <p><b>4 x 1000 + 3 x 10 + 5 x 1</b></p>
                    <p>Qual foi o número pedido? </p>
                    <ol type="A">
                        <li>4035</li> 
                        <li>4305</li> 
                        <li>5034</li> 
                        <li>5304</li>
                    </ol>
                </div>
            </div>
        </div>
        
    </div>
    <br>
</div>

<% //Questões 3 e 4 %>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Questão 3</h5>
                    <p class="card-text">Para a final dos jogos da Copa do Mundo de Futebol, um grupo de 6 meninos e 7 meninas organizou um encontro para assistirem à última partida. A contribuição de todos os meninos será de 72 sanduíches. A contribuição de cada uma das meninas será de 10 docinhos.
                        A sentença matemática que representa o número total de docinhos e sanduíches é
                        </p>
                        <ol type="A">
                            <li>6 x (10 + 72)</li>
                            <li>7 x (10 + 72)</li>
                            <li>6 x 10 + 72</li>
                            <li>7 x 10 + 72</li>
                        </ol>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Questão 4</h5>
                    <p class="card-text">O álbum da Copa do Mundo completo tem 180 figurinhas. Em cada página do álbum, cabem 9 figurinhas.
                        Raul já completou 5 páginas inteiras e, em outras duas, já colou 7 figurinhas.
                        Na última página, colou apenas 3 figurinhas. As outras páginas estão vazias.
                        A expressão numérica que representa o número de figurinhas de que Raul precisa para completar o álbum é:
                        </p>
                        <ol type="A">
                            <li>180 – (5 x 9) + 2 x 7 + 3</li>
                            <li>180 – (5 x 9 + 2 x 7) + 3</li>
                            <li>180 – (5 x 9 + 2 x 7 + 3)</li>
                            <li>180 – 5 x (8+ 2 x 7) + 3</li>
                        </ol>
                </div>
            </div>
        </div>
        
    </div>
    <br>
</div>

<% //Questões 5 e 6 %>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Questão 5</h5>
                    <p class="card-text">Em um jogo de dardos a pontuação de Sandro foi:</p>
                    <img class="img-fluid" src="/img/md16_5.png" alt="">
                    <p>Quantos pontos Sandro fez?</p>
                    <ol type="A">
                        <li>231</li>
                        <li>2031</li>
                        <li>2301</li>
                        <li>2310</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Questão 6</h5>
                    <p class="card-text">De acordo com os dados do IBGE, em 2009 a população da cidade do Rio de Janeiro era de, aproximadamente, 11.400.000 habitantes.
                        Esse número decomposto em diferentes ordens é
                    </p>
                    <ol type="A">
                        <li>1 dezena de milhão + 1 unidade de milhão + 4 centenas de milhar.</li>
                        <li>1 dezena de milhão + 1unidade de milhão + 4 centenas.</li>
                        <li>1 centena de milhar + 1 dezena de milhar + 4 unidades de milhar.</li>
                        <li>1 dezena de milhar + 1 unidade de milhar + 4 centenas.</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>

<% //Questões 7 e 8 %>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Questão 7</h5>
                    <p class="card-text">Próximo à escola de Flávio existe um manguezal. Junto com os professores de geografia e de ciências, os alunos dessa escola percorrem o manguezal plantando mudas para conservação desse ecossistema.
                        A cada mês eles fazem um replantio de 300 mudas. As mudas são embaladas em caixotinhos com o mesmo número de mudas em cada um.
                        O produto que pode representar o número de caixotes com as respectivas mudas é
                        </p>
                        <ol type="A">
                            <li>15 x 10.</li>
                            <li>15 x 15.</li>
                            <li>20 x 10.</li>
                            <li>20 x 15.</li>
                        </ol>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Questão 8</h5>
                    <p class="card-text">A calculadora de Suely registrava o seguinte número:</p>
                    <p class="h2">28 364</p>
                    <p>Um possível cálculo para chegar a esse número pode ter sido</p>
                    <ol type="A">
                        <li>2×10.000 + 8×10.000 + 3×100 + 6×10 + 4×1</li>
                        <li>2×10.000 + 8×1.000 + 3×100 + 6×10 + 4×1.</li>
                        <li>2×10.000 + 8×100 + 3×10 + 6×10 + 4×1.</li>
                        <li>2×100.000 + 8×10 + 3×10 + 6×10 + 4×1.</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>

<% //Questões 9 e 10 %>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Questão 9</h5>
                    <p class="card-text">A cidade de Belo Horizonte foi fundada em 12 de dezembro e seu ano de fundação está
                        representado pela decomposição abaixo. 
                    </p>
                    <p class="h2">1 × 1 000 + 8 × 100 + 9 × 10 + 7</p>
                    <p>Qual foi o ano de fundação da cidade de Belo Horizonte? </p>
                    <ol type="A">
                        <li>1 100 081 009 107</li>
                        <li>1000 800 907</li>
                        <li>1 000 897</li>
                        <li>1 897</li>
                    </ol>
                </div>
            </div>
        </div>
        
    </div>
    <br>
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Questão 10</h5>
                    <p class="card-text">Carlos tem um jogo com 5 fichas. Juntas elas formam um total de 2.325 pontos. 
                        Marque a alternativa que indica as fichas do jogo de Carlos. 
                    </p>
                    <img class="img-fluid" src="/img/md16_10.png" alt="">
                </div>
            </div>
        </div>
        
    </div>
    <br>
</div>

<% //Gabarito %>
    <div class="container">
      <h3 class="h3 text-lg-center text-white">Gabarito</h3>
      <form method="POST" action="/confirmacao-md16">
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">@</span>
          <input type="text" class="form-control" placeholder="Digite seu nome aqui" aria-label="Digite seu nome aqui" aria-describedby="basic-addon1" name="name" id="name">
        </div>
        <table class="table table-light">
          <thead>
            <tr>
              <th scope="col">Q 1</th>
              <th scope="col">Q 2</th>
              <th scope="col">Q 3</th>
              <th scope="col">Q 4</th>
              <th scope="col">Q 5</th>
              <th scope="col">Q 6</th>
              <th scope="col">Q 7</th>
              <th scope="col">Q 8</th>
              <th scope="col">Q 9</th>
              <th scope="col">Q 10</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><input type="text" class="form-control" name="q1" maxlength="1"></td>
              <td><input type="text" class="form-control" name="q2" maxlength="1"></td>
              <td><input type="text" class="form-control" name="q3" maxlength="1"></td>
              <td><input type="text" class="form-control" name="q4" maxlength="1"></td>
              <td><input type="text" class="form-control" name="q5" maxlength="1"></td>
              <td><input type="text" class="form-control" name="q6" maxlength="1"></td>
              <td><input type="text" class="form-control" name="q7" maxlength="1"></td>
              <td><input type="text" class="form-control" name="q8" maxlength="1"></td>
              <td><input type="text" class="form-control" name="q9" maxlength="1"></td>
              <td><input type="text" class="form-control" name="q10" maxlength="1"></td>
              <input type="text" name="descritor" value="Matemática D16" hidden>

            </tr>
          </tbody>
        </table>
        
        <div class="d-grid gap-2 m-xl-3">        
          <button type="reset" class="btn btn-danger">LIMPAR</button>
          <button type="submit" class="btn btn-success">RESPONDER</button>
        </div>
      </form>
    </div>
   
     
</body>
<script src="./js/bootstrap.min.js"></script>
<script src="./js/popper.min.js"></script>
</html>