<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Descritor 17</title>
</head>
<body class="bg-primary">
  <header class=""><h6>D17 – Calcular o resultado de uma adição ou subtração de números naturais.</h6></header>
  <% //Questões 1 e 2 %>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Questão 1</h5>
            <p class="card-text">Na adição abaixo alguns algarismos foram cobertos com símbolos.</p>
            <img class="img-fluid" src="/img/md17_1.png" alt="">
            <p>O valor de <img class="img-fluid" src="/img/md17_1.1.png" alt="">
                   é</p>
            <ol type="A">
              <li>15.</li>
              <li>16.</li>
              <li>17.</li>
              <li>18.</li>
            </ol>
          </div>
        </div>
        
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Questão 2</h5>
            <p class="card-text">Observe a conta abaixo.</p>
            <p><b>5 412 + 319</b></p>
            <p>O resultado dessa conta é</p>
            <ol type="A">
              <li>5 721</li>
              <li>5 731</li>
              <li>8 502</li>
              <li>8 602</li>
            </ol>
          </div>
        </div>
      </div>
      
    </div>
    <br>

  </div>

  <% //Questões 3 e 4 %>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Questão 3</h5>
            <p class="card-text">O avô de Bete completou 79 anos de idade em 2002. Para saber em que ano seu avô nasceu, Bete fez esta conta:</p>
            <img class="img-fluid" src="/img/md17_3.png" alt="">
            <p>O ano em que o avô de Bete nasceu foi</p>
            <ol type="A">
              <li>1977</li>
              <li>1937</li>
              <li>1933</li>
              <li>1923</li>
            </ol>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Questão 4</h5>
            <p class="card-text">João resolveu a operação matemática <b>3.546 – 1.247</b> e encontrou como resultado o número</p>
            <ol type="A">
              <li>4.793</li>
              <li>1.299</li>
              <li>2.299</li>
              <li>2.399</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <br>
  </div>

  <% //Questões 5 e 6 %>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Questão 5</h5>
            <p class="card-text">Pedrinho resolveu a operação</p>
            <p><b>26 + 146 + 1301 + 40 873</b></p>
            <p>e obteve o seguinte resultado:</p>
            <ol type="A">
              <li>40.873</li>
              <li>42.346</li>
              <li>43.346</li>
              <li>42.473</li>
            </ol>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Questão 6</h5>
            <p class="card-text">O resultado de 38.080 – 27.132 é</p>
            <ol type="A">
              <li>10.948</li>
              <li>11.152</li>
              <li>11.948</li>
              <li>11.958</li>
            </ol>
          </div>
        </div>
      </div>
      
    </div>
    <br>
  </div>

  <% //Questões 7 e 8 %>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Questão 7</h5>
            <p class="card-text">Subtraia 79 de 125. O resultado é: </p>
             <ol type="A">
              <li>46</li>
              <li>45</li>
              <li>36</li>
              <li>357</li>
            </ol>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Questão 8</h5>
            <p class="card-text">Subtraindo 907 de 3.153, obtemos: </p>
            <ol type="A">
              <li>2.156</li>
              <li>2.246</li>
              <li>3.246</li>
              <li>3.907</li>
            </ol>
          </div>
        </div>
      </div>
      
    </div>
    <br>
  </div>

  <% //Questões 9 e 10 %>
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Questão 9</h5>
            <p class="card-text">Realize o cálculo apresentado na questão abaixo e descubra o algarismo escondido:</p>
            <img class="img-fluid" src="/img/md17_9.png" alt="">
             <ol type="A">
              <li>7</li> 
              <li>3</li> 
              <li>0</li> 
              <li>11</li>
            </ol>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Questão 10</h5>
            <p class="card-text">Realize o cálculo apresentado na questão abaixo e descubra o algarismo escondido: </p>
            <img class="img-fluid" src="/img/md17_10.png" alt="">
            <ol type="A">
              <li>9</li> 
              <li>3</li>
              <li>11</li> 
              <li>6</li>
            </ol>
          </div>
        </div>
      </div>
      
    </div>
    <br>
  </div>

<% //Gabarito %>
    <div class="container">
      <h3 class="h3 text-lg-center text-white">Gabarito</h3>
      <form method="POST" action="/confirmacao-md17">
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">@</span>
          <input type="text" class="form-control" placeholder="Digite seu nome aqui" aria-label="Digite seu nome aqui" aria-describedby="basic-addon1" name="name" id="name">
        </div>
        <table class="table table-light">
          <thead>
            <tr>
              <th scope="col">Q 1</th>
              <th scope="col">Q 2</th>
              <th scope="col">Q 3</th>
              <th scope="col">Q 4</th>
              <th scope="col">Q 5</th>
              <th scope="col">Q 6</th>
              <th scope="col">Q 7</th>
              <th scope="col">Q 8</th>
              <th scope="col">Q 9</th>
              <th scope="col">Q 10</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><input type="text" class="form-control" name="q1" maxlength="1"></td>
              <td><input type="text" class="form-control" name="q2" maxlength="1"></td>
              <td><input type="text" class="form-control" name="q3" maxlength="1"></td>
              <td><input type="text" class="form-control" name="q4" maxlength="1"></td>
              <td><input type="text" class="form-control" name="q5" maxlength="1"></td>
              <td><input type="text" class="form-control" name="q6" maxlength="1"></td>
              <td><input type="text" class="form-control" name="q7" maxlength="1"></td>
              <td><input type="text" class="form-control" name="q8" maxlength="1"></td>
              <td><input type="text" class="form-control" name="q9" maxlength="1"></td>
              <td><input type="text" class="form-control" name="q10" maxlength="1"></td>
              <input type="text" name="descritor" value="Matemática D17" hidden>

            </tr>
          </tbody>
        </table>
        
        <div class="d-grid gap-2 m-xl-3">        
          <button type="reset" class="btn btn-danger">LIMPAR</button>
          <button type="submit" class="btn btn-success">RESPONDER</button>
        </div>
      </form>
    </div>
   
     
</body>
<script src="./js/bootstrap.min.js"></script>
<script src="./js/popper.min.js"></script>
</html>