<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Matemática D18</title>
</head>
<body class="bg-primary">
  <div class="h3 text-lg-center text-white">ESCOLA MUNICIPAL JUSLANY DE SOUZA FLORES</div>
      <div class="h3 text-lg-center text-white">5º ANO TURMA A</div>  
  <hr>
  <header class="container">
    <h4>D19 – Resolver problema com números naturais, envolvendo diferentes significados da adição ou subtração: juntar, alteração de um estado inicial...</h4>
  </header>
  <br>
  <br>
  <br>
    <div class="container">
      
      <form method="POST" action="/confirmacao-md19" onsubmit="return validarFormulario()">
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">@</span>
          <input type="text" class="form-control" placeholder="Digite seu nome aqui" aria-label="Digite seu nome aqui" aria-describedby="basic-addon1" name="name" id="name">
        </div>
        <div class="container">

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">QUESTÃO 1</h5>
                  <p class="card-text">Marcos percorreu 15 quilômetros de uma corrida cujo trajeto total é de 45 quilômetros.
                    Quantos quilômetros ele ainda precisaria percorrer para completar essa corrida?
                    </p>
                    <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio"  name="q1" value="A" maxlength="1">-15</li>
                          <li><input type="radio" name="q1" value="B" maxlength="1">-30</li>
                          <li><input type="radio" name="q1" value="C" maxlength="1">-31</li>
                          <li><input type="radio" name="q1" value="D" maxlength="1">-45</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>
          
          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
 
                  <h5 class="card-title">QUESTÃO 2</h5>                
                  <p class="card-text">Em um restaurante foram servidas 123 refeições na segunda-feira, 151 refeições na terça-feira e, na quarta-feira, 164. Considerando esses três dias, quantas refeições foram servidas, no total, nesse restaurante?</p>
                    <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio"  name="q2" value="A" maxlength="1">-274</li>
                          <li><input type="radio" name="q2" value="B" maxlength="1">-315</li>
                          <li><input type="radio" name="q2" value="C" maxlength="1">-338</li>
                          <li><input type="radio" name="q2" value="D" maxlength="1">-438</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">

                  <h5 class="card-title">QUESTÃO 3</h5>
                  <br>
                  <p class="card-text">Cláudio foi a uma loja de roupas e comprou 1 camisa, 1 blusa e 1 calça. Observe abaixo o preço dessas roupas compradas por ele.</p>
                  <div class="text-center"><img class="img-fluid" src="/img/matd19_3.png" alt=""></div>
                  <p class="card-text">Qual foi o valor total dessa compra de Cláudio?</p>

                    <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio"  name="q3" value="A" maxlength="1">-R$ 35,00</li>
                          <li><input type="radio" name="q3" value="B" maxlength="1">-R$ 70,00</li>
                          <li><input type="radio" name="q3" value="C" maxlength="1">-R$ 75,00</li>
                          <li><input type="radio" name="q3" value="D" maxlength="1">-R$ 90,00</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">

                  <h5 class="card-title">QUESTÃO 4</h5>
                  
                  <p class="card-text">Marcele tem 47 figurinhas da Copa do Mundo e Rodrigo 92.
                    Quantas figurinhas Marcele precisa comprar para ficar com a mesma quantidade de Rodrigo?
                    </p>
                  <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio"  name="q4" value="A" maxlength="1">-45</li>
                          <li><input type="radio" name="q4" value="B" maxlength="1">-55</li>
                          <li><input type="radio" name="q4" value="C" maxlength="1">-92</li>
                          <li><input type="radio" name="q4" value="D" maxlength="1">-139</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
          
                  <h5 class="card-title">QUESTÃO 5</h5>
                 
                  <p class="card-text">Frederico e Lara foram à farmácia que fica próxima a sua escola. Eles usaram a balança, mas Frederico se esqueceu de tirar a mochila das costas. Mesmo assim, é possível saber o seu peso e o de Lara. Observe o visor da balança em cada caso.</p>
                  <div class="text-center"><img class="img-fluid" src="/img/matd19_5.png" alt=""></div>
                  <p class="card-text">O peso de Lara é</p>
 
                  <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio" name="q5" value="A" maxlength="1">-28 kg</li>
                          <li><input type="radio" name="q5" value="B" maxlength="1">-35 kg</li>
                          <li><input type="radio"  name="q5" value="C" maxlength="1">-36 kg</li>
                          <li><input type="radio" name="q5" value="D" maxlength="1">-34 kg</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">

                  <h5 class="card-title">QUESTÃO 6</h5>
                  <p class="card-text">Um quadrado é mágico se a soma dos números de cada linha e colunas for igual. No quadrado abaixo, essa soma é igual a 21</p>
                  <div class="text-center"><img class="img-fluid" src="/img/matd19_6.png" alt=""></div>
                  <p class="card-text">Logo o valor de X, Y e Z, respectivamente, é igual a: </p>

                    <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio"  name="q6" value="A" maxlength="1">-4, 12, 8 </li>
                          <li><input type="radio" name="q6" value="B" maxlength="1">-9, 11, 5 </li>
                          <li><input type="radio" name="q6" value="C" maxlength="1">-5, 11, 9 </li>
                          <li><input type="radio" name="q6" value="D" maxlength="1">-8, 12, 4</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">

                  <h5 class="card-title">QUESTÃO 7</h5>

                  <p class="card-text">Alfredo, Luiz e Pedro trabalham numa fazenda no interior do Tocantins. Os três juntos retiram por dia 900 litros de leite. Ontem Alfredo retirou 275 litros, Luiz, 315 litros e Pedro retirou:</p>
                    <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio" name="q7" value="A" maxlength="1">-210 litros de leite</li>
                          <li><input type="radio" name="q7" value="B" maxlength="1">-310 litros de leite</li>
                          <li><input type="radio" name="q7" value="C" maxlength="1">-325 litros de leite</li>
                          <li><input type="radio" name="q7" value="D" maxlength="1">-255 litros de leite</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">

                  <h5 class="card-title">QUESTÃO 8</h5>
                  <p class="card-text">Raimunda estava levando 2 caixas de ovos com uma dúzia cada. Ela tropeçou e as caixas caíram. Em cada caixa 3 ovos quebraram. Com quantos ovos Raimunda ficou depois do incidente? </p>
                    <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio"  name="q8" value="A" maxlength="1">-6</li>
                          <li><input type="radio" name="q8" value="B" maxlength="1">-9</li>
                          <li><input type="radio" name="q8" value="C" maxlength="1">-18</li>
                          <li><input type="radio" name="q8" value="D" maxlength="1">-21</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
  
                  <h5 class="card-title">QUESTÃO 9</h5>
        
                  <p class="card-text">Em um dia, uma empresa de turismo vendeu 17 passagens de ônibus para uma excursão. No dia seguinte, conseguiu vender as 35 passagens restantes para essa mesma excursão. 
                    Quantas passagens de ônibus a mais foram vendidas no segundo dia em relação ao primeiro? 
                    </p>
                    <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio"  name="q9" value="A" maxlength="1">-18</li>
                          <li><input type="radio" name="q9" value="B" maxlength="1">-28</li>
                          <li><input type="radio" name="q9" value="C" maxlength="1">-35</li>
                          <li><input type="radio" name="q9" value="D" maxlength="1">-52</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
        
                  <h5 class="card-title">QUESTÃO 10</h5>
                  <br>
                  <p class="card-text">Fabiana tem R$ 300,00 em notas de cem reais, para comprar a calça e a blusa ilustrada na figura abaixo.</p>
                  <div class="text-center"><img class="img-fluid" src="/img/matd19_10.png" alt=""></div>
                  <p class="card-text">Fabiana receberá de troco</p>

                    <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio"  name="q10" value="A" maxlength="1">-duas notas de cinquenta reais.</li>
                          <li><input type="radio" name="q10" value="B" maxlength="1">-uma nota de cinquenta reais e duas de vinte.</li>
                          <li><input type="radio" name="q10" value="C" maxlength="1">-uma nota de dez reais e duas de vinte.</li>
                          <li><input type="radio" name="q10" value="D" maxlength="1">-uma nota de cinquenta reais e três de dez.</li>
                        </ol>
                      </div>
                    </div>                
                </div>
              </div>
            </div>
          </div>
          <br>
          
          <br>           
          <br>

        </div>

                
        <div class="d-grid gap-2 m-xl-3">        
          <button type="reset" class="btn btn-danger">LIMPAR</button>
          <button type="submit" class="btn btn-success">RESPONDER</button>
        </div>
      </form>
    </div>
   
     
</body>
<script src="./js/bootstrap.min.js"></script>
<script src="./js/popper.min.js"></script>
<script src="/js/script.js"></script>
</html>