<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Matemática D2</title>
</head>
<body class="bg-primary">
  <div class="h3 text-lg-center text-white">ESCOLA MUNICIPAL JUSLANY DE SOUZA FLORES</div>
      <div class="h3 text-lg-center text-white">5º ANO TURMA A</div>  
  <hr>
  <header class="container-sm">
    <h4>D2 - Identificar propriedades comuns e diferenças entre poliedros e corpos redondos, relacionando figuras tridimensionais com suas planificações.</h4>
  </header>
  <br>
  <br>
  <br>
    <div class="container-sm">
      
      <form method="POST" action="/gabarito_matd2" onsubmit="return validarFormulario()">
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">@</span>
          <input type="text" class="form-control" placeholder="Digite seu nome aqui" aria-label="Digite seu nome aqui" aria-describedby="basic-addon1" name="name" id="name">
        </div>
        <div class="container-sm">

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <div class="container">
                    <h5 class="card-title">QUESTÃO 1</h5>
                    <p class="card-text">Observe as placas de trânsito representadas abaixo.</p>
                
                    <div class="text-center">
                        <img class="img-fluid" src="/img/matd2_1.png" alt="Placas de Trânsito">
                    </div>
                
                    <p>Qual é a placa de trânsito que tem o formato que se assemelha ao círculo?</p>
                
                    <div class="form-group">
                        <div class="btn-group" data-toggle="buttons">
                            <ol type="A">
                                <li><input type="radio" name="q1" value="A" maxlength="1">I</li>
                                <li><input type="radio" name="q1" value="B" maxlength="1">II</li>
                                <li><input type="radio" name="q1" value="C" maxlength="1">III</li>
                                <li><input type="radio" name="q1" value="D" maxlength="1">IV</li>
                            </ol>
                        </div>
                    </div>
                </div>
                
                             
                </div>
              </div>
            </div>
          </div>
          <br>
          
          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">            
                  <div class="container">
                    <h5 class="card-title">QUESTÃO 2</h5>
                    <p class="card-text">Observe abaixo o descanso de panela que Marli comprou para sua casa.</p>
                
                    <div class="text-center">
                        <img class="img-fluid" src="/img/matd2_2.png" alt="Descanso de Panela">
                    </div>
                
                    <p>O descanso de panela que Marli comprou tem formato de qual figura geométrica?</p>
                
                    <div class="form-group">
                        <div class="btn-group" data-toggle="buttons">
                            <ol type="A">
                                <li><input type="radio" name="q2" value="A" maxlength="1">Círculo</li>
                                <li><input type="radio" name="q2" value="B" maxlength="1">Hexágono</li>
                                <li><input type="radio" name="q2" value="C" maxlength="1">Quadrado</li>
                                <li><input type="radio" name="q2" value="D" maxlength="1">Retângulo</li>
                            </ol>
                        </div>
                    </div>
                </div>
                       
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
        
                  <div class="container">
                    <h5 class="card-title">QUESTÃO 3</h5>
                    <p class="card-text">Os alunos de um curso de artes tinham como atividade desenhar uma planificação do cubo. Observe abaixo os desenhos feitos por quatro alunos desse curso.</p>
                
                    <div class="text-center">
                        <img class="img-fluid" src="/img/matd2_3.png" alt="Desenhos de Planificação do Cubo">
                    </div>
                
                    <p>Apenas um desses alunos acertou a atividade. Qual foi esse aluno?</p>
                
                    <div class="form-group">
                        <div class="btn-group" data-toggle="buttons">
                            <ol type="A">
                                <li><input type="radio" name="q3" value="A" maxlength="1">Camila</li>
                                <li><input type="radio" name="q3" value="B" maxlength="1">Flávio</li>
                                <li><input type="radio" name="q3" value="C" maxlength="1">Júlia</li>
                                <li><input type="radio" name="q3" value="D" maxlength="1">Marcelo</li>
                            </ol>
                        </div>
                    </div>
                </div>
                
                          
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">

                  <div class="container">
                    <h5 class="card-title">QUESTÃO 4</h5>
                    <p class="card-text">Luana guarda seus livros em caixas que possuem a forma de um cubo. Hoje, ela ganhou uma destas caixas desmontada, representada na figura abaixo, e reparou que todas as 6 faces da caixa são iguais.</p>
                
                    <div class="text-center">
                        <img class="img-fluid" src="/img/matd2_4.png" alt="Caixa de Cubo">
                    </div>
                
                    <p>Cada face da caixa de Luana tem a forma da figura geométrica plana denominada:</p>
                
                    <div class="form-group">
                        <div class="btn-group" data-toggle="buttons">
                            <ol type="A">
                                <li><input type="radio" name="q4" value="A" maxlength="1">Retângulo</li>
                                <li><input type="radio" name="q4" value="B" maxlength="1">Quadrado</li>
                                <li><input type="radio" name="q4" value="C" maxlength="1">Losango</li>
                                <li><input type="radio" name="q4" value="D" maxlength="1">Círculo</li>
                            </ol>
                        </div>
                    </div>
                </div>
                
                          
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">

                  <div class="container">
                    <h5 class="card-title">QUESTÃO 5</h5>
                    <p class="card-text">Observe os sólidos geométricos desenhados abaixo.</p>
                
                    <div class="text-center">
                        <img class="img-fluid" src="/img/matd2_5.png" alt="Sólidos Geométricos">
                    </div>
                
                    <p>Quais desses sólidos são corpos redondos?</p>
                
                    <div class="form-group">
                        <div class="btn-group" data-toggle="buttons">
                            <ol type="A">
                                <li><input type="radio" name="q5" value="A" maxlength="1">I e II</li>
                                <li><input type="radio" name="q5" value="B" maxlength="1">I e III</li>
                                <li><input type="radio" name="q5" value="C" maxlength="1">II e III</li>
                                <li><input type="radio" name="q5" value="D" maxlength="1">II e IV</li>
                            </ol>
                        </div>
                    </div>
                </div>
                
                
  
              
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">

                  <div class="container">
                    <h5 class="card-title">QUESTÃO 6</h5>
                    <p class="card-text">Observe os sólidos geométricos desenhados abaixo.</p>
                
                    <div class="text-center">
                        <img class="img-fluid" src="/img/matd2_6.png" alt="Sólidos Geométricos">
                    </div>
                
                    <p>Qual desses sólidos é o cilindro?</p>
                
                    <div class="form-group">
                        <div class="btn-group" data-toggle="buttons">
                            <ol type="A">
                                <li><input type="radio" name="q6" value="A" maxlength="1">I</li>
                                <li><input type="radio" name="q6" value="B" maxlength="1">II</li>
                                <li><input type="radio" name="q6" value="C" maxlength="1">III</li>
                                <li><input type="radio" name="q6" value="D" maxlength="1">IV</li>
                            </ol>
                        </div>
                    </div>
                </div>
                
                
               
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">

                  <div class="container">
                    <h5 class="card-title">QUESTÃO 7</h5>
                    <p class="card-text">Um cubo é formado por quantas faces?</p>
                
                    <div class="form-group">
                        <div class="btn-group" data-toggle="buttons">
                            <ol type="A">
                                <li><input type="radio" name="q7" value="A" maxlength="1">10</li>
                                <li><input type="radio" name="q7" value="B" maxlength="1">6</li>
                                <li><input type="radio" name="q7" value="C" maxlength="1">8</li>
                                <li><input type="radio" name="q7" value="D" maxlength="1">12</li>
                            </ol>
                        </div>
                    </div>
                </div>
                

                 
                  </div>
              
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">

                  <div class="container">
                    <h5 class="card-title">QUESTÃO 8</h5>
                    <p class="card-text">Quantos retângulos formam a caixa ao lado?</p>
                
                    <div class="text-center">
                        <img class="img-fluid" src="/img/matd2_8.png" alt="Caixa com Retângulos">
                    </div>
                
                    <div class="form-group">
                        <div class="btn-group" data-toggle="buttons">
                            <ol type="A">
                                <li><input type="radio" name="q8" value="A" maxlength="1">3</li>
                                <li><input type="radio" name="q8" value="B" maxlength="1">4</li>
                                <li><input type="radio" name="q8" value="C" maxlength="1">6</li>
                                <li><input type="radio" name="q8" value="D" maxlength="1">8</li>
                            </ol>
                        </div>
                    </div>
                </div>
                
                
                
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
        
                  <div class="container">
                    <h5 class="card-title">QUESTÃO 9</h5>
                    <p class="card-text">Observe o sólido abaixo.</p>
                
                    <div class="text-center">
                        <img class="img-fluid" src="/img/matd2_9.png" alt="Sólido Geométrico">
                    </div>
                
                    <p>Qual é o número de faces dessa figura?</p>
                
                    <div class="form-group">
                        <div class="btn-group" data-toggle="buttons">
                            <ol type="A">
                                <li><input type="radio" name="q9" value="A" maxlength="1">5</li>
                                <li><input type="radio" name="q9" value="B" maxlength="1">6</li>
                                <li><input type="radio" name="q9" value="C" maxlength="1">7</li>
                                <li><input type="radio" name="q9" value="D" maxlength="1">8</li>
                            </ol>
                        </div>
                    </div>
                </div>
                
                
              
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">

                  <div class="container">
                    <h5 class="card-title">QUESTÃO 10</h5>
                    <p class="card-text">Os poliedros de Platão são figuras espaciais que se destacam na geometria. Abaixo temos a ilustração desses cinco sólidos geométricos.</p>
                
                    <div class="text-center">
                        <img class="img-fluid" src="/img/matd2_10.png" alt="Poliedros de Platão">
                    </div>
                
                    <p>Determine quantas faces possui o tetraedro:</p>
                
                    <div class="form-group">
                        <div class="btn-group" data-toggle="buttons">
                            <ol type="A">
                                <li><input type="radio" name="q10" value="A" maxlength="1">12</li>
                                <li><input type="radio" name="q10" value="B" maxlength="1">4</li>
                                <li><input type="radio" name="q10" value="C" maxlength="1">8</li>
                                <li><input type="radio" name="q10" value="D" maxlength="1">6</li>
                            </ol>
                        </div>
                    </div>
                </div>
                
        

                             
                </div>
              </div>
            </div>
          </div>
          <br>
          
          <br>           
          <br>

        </div>

                
        <div class="d-grid gap-2 m-xl-3">        
          <button type="reset" class="btn btn-danger">LIMPAR</button>
          <button type="submit" class="btn btn-success">RESPONDER</button>
        </div>
      </form>
    </div>
   
     
</body>
<script src="./js/bootstrap.min.js"></script>
<script src="./js/popper.min.js"></script>
<script src="/js/script.js"></script>
</html>