<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Matemática D24</title>
</head>
<body class="bg-primary">
  <div class="h3 text-lg-center text-white">ESCOLA MUNICIPAL JUSLANY DE SOUZA FLORES</div>
      <div class="h3 text-lg-center text-white">5º ANO TURMA A</div>  
  <hr>
  <header class="container-sm">
    <h4>D24 - Identificar fração como representação que pode estar associada a diferentes significados.</h4>
  </header>
  <br>
  <br>
  <br>
    <div class="container-sm">
      
      <form method="POST" action="/gabarito_matd24" onsubmit="return validarFormulario()">
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">@</span>
          <input type="text" class="form-control" placeholder="Digite seu nome aqui" aria-label="Digite seu nome aqui" aria-describedby="basic-addon1" name="name" id="name">
        </div>
        <div class="container-sm">

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                    <div class="container">
                      <h5 class="card-title">QUESTÃO 1</h5>
                  
                        <div class="text-center"><img class="img-fluid" src="/img/matd24_1.png" alt=""></div>
                        <p class="card-text">A fração que corresponde à parte colorida na figura acima é</p>
                        <div class="form-group">
                          <div class="btn-group" data-toggle="buttons">
                            <ol type="A">
                              <li><input type="radio"  name="q1" value="A" maxlength="1"><img class="img-fluid" src="/img/matd24_1A.png" alt=""></li>
                              <li><input type="radio" name="q1" value="B" maxlength="1"><img class="img-fluid" src="/img/matd24_1B.png" alt=""></li>
                              <li><input type="radio" name="q1" value="C" maxlength="1"><img class="img-fluid" src="/img/matd24_1C.png" alt=""></li>
                              <li><input type="radio" name="q1" value="D" maxlength="1"><img class="img-fluid" src="/img/matd24_1D.png" alt=""></li>
                            </ol>
                          </div>
                        </div> 
                    </div>               
                </div>
              </div>
            </div>
          </div>
          <br>
          
          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <div class="container">
                    <h5 class="card-title">QUESTÃO 2</h5>                
                    <p class="card-text">Observe abaixo o desenho de algumas peças de um jogo de xadrez.  
                      </p>
                      <div class="text-center"><img class="img-fluid" src="/img/matd24_2.png" alt=""></div>
                      <p class="card-text">Qual é a fração que representa a quantidade de peças pretas em relação ao número total de peças desse desenho?</p>
  
                      <div class="form-group">
                        <div class="btn-group" data-toggle="buttons">
                          <ol type="A">
                            <li><input type="radio"  name="q2" value="A" maxlength="1">-3/8</li>
                            <li><input type="radio" name="q2" value="B" maxlength="1">-5/8</li>
                            <li><input type="radio" name="q2" value="C" maxlength="1">-8/5</li>
                            <li><input type="radio" name="q2" value="D" maxlength="1">-8/3</li>
                          </ol>
                        </div>
                      </div> 
                  </div>                         
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <div class="container">
                    <h5 class="card-title">QUESTÃO 3</h5>
                    <br>
                    <p class="card-text">Observe as frações abaixo.</p>
                    <div class="text-center"><img class="img-fluid" src="/img/matd24_3.png" alt=""></div>
                    <p class="card-text">Qual dessas frações representa o número decimal 7,5?</p>
                      <div class="form-group">
                        <div class="btn-group" data-toggle="buttons">
                          <ol type="A">
                            <li><input type="radio"  name="q3" value="A" maxlength="1">-<img class="img-fluid" src="/img/matd24_3A.png" alt=""></li>
                            <li><input type="radio" name="q3" value="B" maxlength="1">-<img class="img-fluid" src="/img/matd24_3B.png" alt=""></li>
                            <li><input type="radio" name="q3" value="C" maxlength="1">-<img class="img-fluid" src="/img/matd24_3C.png" alt=""></li>
                            <li><input type="radio" name="q3" value="D" maxlength="1">-<img class="img-fluid" src="/img/matd24_3D.png" alt=""></li>
                          </ol>
                        </div>
                      </div> 
                  </div>              
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <div class="container">
                    <h5 class="card-title">QUESTÃO 4</h5>
                    <p class="card-text">As partes sombreadas na figura abaixo representam que fração do todo?</p>
                    <div class="text-center"><img class="img-fluid" src="/img/matd24_4.png" alt=""></div>
  
                    <div class="form-group">
                        <div class="btn-group" data-toggle="buttons">
                          <ol type="A">
                            <li><input type="radio"  name="q4" value="A" maxlength="1">-2/6</li>
                            <li><input type="radio" name="q4" value="B" maxlength="1">-2/4</li>
                            <li><input type="radio" name="q4" value="C" maxlength="1">-4/2</li>
                            <li><input type="radio" name="q4" value="D" maxlength="1">-6/2</li>
                          </ol>
                        </div>
                      </div> 
                  </div>              
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <div class="container">
                              
                  <h5 class="card-title">QUESTÃO 5</h5>
                 
                  <p class="card-text">Ana fez suco com 1/4 das laranjas que comprou</p>
                  <p class="card-text">Qual foi a porcentagem de laranjas que Ana usou para fazer esse suco?</p>
 
                  <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio" name="q5" value="A" maxlength="1">-50%</li>
                          <li><input type="radio" name="q5" value="B" maxlength="1">-40%</li>
                          <li><input type="radio"  name="q5" value="C" maxlength="1">-25%</li>
                          <li><input type="radio" name="q5" value="D" maxlength="1">-10%</li>
                        </ol>
                      </div>
                    </div>  
                  </div>
              
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <div class="container">
                    
                  <h5 class="card-title">QUESTÃO 6</h5>
                  <p class="card-text">O retângulo abaixo foi dividido em 20 quadradinhos iguais.</p>
                    <div class="text-center"><img class="img-fluid" src="/img/matd24_6.png" alt=""></div>
                    <p class="card-text">Qual é a fração correspondente ao número de quadradinhos coloridos de cinza em relação ao total de quadradinhos que esse retângulo foi dividido?</p>

                    <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio"  name="q6" value="A" maxlength="1">-4/20</li>
                          <li><input type="radio" name="q6" value="B" maxlength="1">-4/16</li>
                          <li><input type="radio" name="q6" value="C" maxlength="1">-16/20</li>
                          <li><input type="radio" name="q6" value="D" maxlength="1">-20/4</li>
                        </ol>
                      </div>
                    </div> 
                  </div>
               
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <div class="container">
                    
                  <h5 class="card-title">QUESTÃO 7</h5>

                  <p class="card-text">Sara fez um bolo para seus filhos e o repartiu em 24 pedaços iguais. João comeu 3 pedaços, Pedro comeu 4, Marta comeu 5 e Jorge não comeu nenhum pedaço.
                    Que parte do bolo foi consumida?</p>

                    <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio" name="q7" value="A" maxlength="1">-1/24</li>
                          <li><input type="radio" name="q7" value="B" maxlength="1">-1/4</li>
                          <li><input type="radio" name="q7" value="C" maxlength="1">-1/2</li>
                          <li><input type="radio" name="q7" value="D" maxlength="1">-1/3</li>
                        </ol>
                      </div>
                    </div>  
                  </div>
              
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <div class="container">
                    
                  <h5 class="card-title">QUESTÃO 8</h5>
                  <p class="card-text">José foi ao aniversário de seu primo e comeu <b>3/10</b>  dos docinhos que foram servidos.
                    De que outra maneira essa fração pode ser representada?</p>
                      <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio"  name="q8" value="A" maxlength="1">-3,3</li>
                          <li><input type="radio" name="q8" value="B" maxlength="1">-0,3</li>
                          <li><input type="radio" name="q8" value="C" maxlength="1">-0,33</li>
                          <li><input type="radio" name="q8" value="D" maxlength="1">-3,33</li>
                        </ol>
                      </div>
                    </div>
                  </div>
                
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <div class="container">
                      
                  <h5 class="card-title">QUESTÃO 9</h5>
        
                  <p class="card-text">Nas provas finais do 2º bimestre da Escola Municipal, um aluno obteve o seguinte resultado:</p>
                  <p class="card-text">Matemática: <b> 8 questões corretas em 10. </b></p>
                    <p class="card-text">A fração que corresponde às questões corretas na prova de matemática é:</p>
                    <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                        <ol type="A">
                          <li><input type="radio"  name="q9" value="A" maxlength="1">-2/8</li>
                          <li><input type="radio" name="q9" value="B" maxlength="1">-8/10</li>
                          <li><input type="radio" name="q9" value="C" maxlength="1">-10/8</li>
                          <li><input type="radio" name="q9" value="D" maxlength="1">-8/8</li>
                        </ol>
                      </div>
                    </div>  
                  </div>
              
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
        
             <div class="container">
              <h5 class="card-title">QUESTÃO 10</h5>
              <br>
              <p class="card-text">
                Joãozinho gosta construir pipas. 
              </p>
              <div class="text-center"><img class="img-fluid" src="/img/matd24_10.png" alt=""></div>
              <p class="card-text">Para que a pipa acima fique completamente cinza ele precisa pintar ainda</p>

                <div class="form-group">
                  <div class="btn-group" data-toggle="buttons">
                    <ol type="A">
                      <li><input type="radio"  name="q10" value="A" maxlength="1">-dois quintos da pipa.</li>
                      <li><input type="radio" name="q10" value="B" maxlength="1">-metade da pipa.</li>
                      <li><input type="radio" name="q10" value="C" maxlength="1">-um quarto da pipa.</li>
                      <li><input type="radio" name="q10" value="D" maxlength="1">-três quartos da pipa.</li>
                    </ol>
                  </div>
                </div>  
             </div>              
                </div>
              </div>
            </div>
          </div>
          <br>
          
          <br>           
          <br>

        </div>

                
        <div class="d-grid gap-2 m-xl-3">        
          <button type="reset" class="btn btn-danger">LIMPAR</button>
          <button type="submit" class="btn btn-success">RESPONDER</button>
        </div>
      </form>
    </div>
   
     
</body>
<script src="./js/bootstrap.min.js"></script>
<script src="./js/popper.min.js"></script>
<script src="/js/script.js"></script>
</html>