<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Matemática D25</title>
</head>
<body class="bg-primary">
  <div class="h3 text-lg-center text-white">ESCOLA MUNICIPAL JUSLANY DE SOUZA FLORES</div>
      <div class="h3 text-lg-center text-white">5º ANO TURMA A</div>  
  <hr>
  <header class="container">
    <h4>D25 - Resolver problema com números racionais expressos na forma decimal envolvendo diferentes significados da adição ou subtração.</h4>
  </header>
  <br>
  <br>
  <br>
    <div class="container">
      
      <form method="POST" action="/confirmacao-md25" onsubmit="return validarFormulario()">
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">@</span>
          <input type="text" class="form-control" placeholder="Digite seu nome aqui" aria-label="Digite seu nome aqui" aria-describedby="basic-addon1" name="name" id="name">
        </div>
        <div class="container">

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <div class="container">
                    <h5 class="card-title">QUESTÃO 1</h5>
                
                    <p class="card-text">Para comprar um par de sapatos, Luiz pesquisou o preço em duas lojas. Na loja “Só-botas”, o sapato custa R$ 178,30 e na loja “Só-sapatos”, o mesmo sapato custa R$ 132,50.</p>
                    <p class="card-text">Qual é a diferença de preço desse sapato nessas duas lojas?</p>
                    <div class="form-group">
                        <div class="btn-group" data-toggle="buttons">
                            <ol type="A">
                                <li><input type="radio" name="q1" value="A" maxlength="1">R$ 46,80</li>
                                <li><input type="radio" name="q1" value="B" maxlength="1">R$ 46,20</li>
                                <li><input type="radio" name="q1" value="C" maxlength="1">R$ 45,80</li>
                                <li><input type="radio" name="q1" value="D" maxlength="1">R$ 45,20</li>
                            </ol>
                        </div>
                    </div>
                </div>         
                </div>
              </div>
            </div>
          </div>
          <br>
          
          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <div class="container">
                    <h5 class="card-title">QUESTÃO 2</h5>
                
                    <p class="card-text">Joana paga 4 passagens de ônibus por dia. O valor de cada passagem é R$ 1,95.</p>
                    <p class="card-text">Quanto ela gasta diariamente com essas passagens?</p>
                    <div class="form-group">
                        <div class="btn-group" data-toggle="buttons">
                            <ol type="A">
                                <li><input type="radio" name="q2" value="A" maxlength="1">R$ 1,95</li>
                                <li><input type="radio" name="q2" value="B" maxlength="1">R$ 1,99</li>
                                <li><input type="radio" name="q2" value="C" maxlength="1">R$ 7,80</li>
                                <li><input type="radio" name="q2" value="D" maxlength="1">R$ 7,82</li>
                            </ol>
                        </div>
                    </div>
                </div>                      
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <div class="container">
                    <h5 class="card-title">QUESTÃO 3</h5>
                
                    <p class="card-text">Laura comprou 4 cadernos de mesmo valor e pagou, no total, R$ 12,60 por eles.</p>
                    <p class="card-text">Quanto custou cada um desses cadernos?</p>
                    <div class="form-group">
                        <div class="btn-group" data-toggle="buttons">
                            <ol type="A">
                                <li><input type="radio" name="q3" value="A" maxlength="1">R$ 3,01</li>
                                <li><input type="radio" name="q3" value="B" maxlength="1">R$ 3,02</li>
                                <li><input type="radio" name="q3" value="C" maxlength="1">R$ 3,14</li>
                                <li><input type="radio" name="q3" value="D" maxlength="1">R$ 3,15</li>
                            </ol>
                        </div>
                    </div>
                </div>
             
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <div class="container">
                    <h5 class="card-title">QUESTÃO 4</h5>
                
                    <p class="card-text">Pedro foi à papelaria e comprou uma caixa de lápis de cor por R$ 12,50, um estojo por R$ 8,25 e um caderno por R$ 25,25.</p>
                    <p class="card-text">Quanto ele gastou nessa papelaria?</p>
                    <div class="form-group">
                        <div class="btn-group" data-toggle="buttons">
                            <ol type="A">
                                <li><input type="radio" name="q4" value="A" maxlength="1">R$ 20,75</li>
                                <li><input type="radio" name="q4" value="B" maxlength="1">R$ 33,50</li>
                                <li><input type="radio" name="q4" value="C" maxlength="1">R$ 37,75</li>
                                <li><input type="radio" name="q4" value="D" maxlength="1">R$ 46,00</li>
                            </ol>
                        </div>
                    </div>
                </div>            
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <div class="container">
                    <h5 class="card-title">QUESTÃO 5</h5>
                
                    <p class="card-text">Carla precisa forrar um cômodo da casa que mede 5,30 m de comprimento. A forração que ela tem mede 3,90 m de comprimento e tem a mesma largura do cômodo.</p>
                    <p class="card-text">Para forrar o cômodo todo,</p>
                    <div class="form-group">
                        <div class="btn-group" data-toggle="buttons">
                            <ol type="A">
                                <li><input type="radio" name="q5" value="A" maxlength="1">irão faltar 2,60 m.</li>
                                <li><input type="radio" name="q5" value="B" maxlength="1">irão faltar 2,40 m.</li>
                                <li><input type="radio" name="q5" value="C" maxlength="1">irá faltar 1,40 m.</li>
                                <li><input type="radio" name="q5" value="D" maxlength="1">irá faltar 1,60 m.</li>
                            </ol>
                        </div>
                    </div>
                </div>
              
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <div class="container">
                    <h5 class="card-title">QUESTÃO 6</h5>
                
                    <p class="card-text">A mãe de Luísa lhe deu R$ 16,40 para comprar pães e bolos. Luísa foi até uma padaria e comprou um pacote de pão e um bolo, totalizando o valor de R$ 9,90.</p>
                    <p class="card-text">Qual foi a quantia que sobrou para Luísa após essa compra?</p>
                    <div class="form-group">
                        <div class="btn-group" data-toggle="buttons">
                            <ol type="A">
                                <li><input type="radio" name="q6" value="A" maxlength="1">R$ 6,50.</li>
                                <li><input type="radio" name="q6" value="B" maxlength="1">R$ 7,50.</li>
                                <li><input type="radio" name="q6" value="C" maxlength="1">R$ 13,50.</li>
                                <li><input type="radio" name="q6" value="D" maxlength="1">R$ 26,30.</li>
                            </ol>
                        </div>
                    </div>
                </div>
               
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <div class="container">
                    <h5 class="card-title">QUESTÃO 7</h5>
                
                    <p class="card-text">As crianças do 5º ano mediram o tamanho do seu palmo com uma régua. O palmo de Paulo é 13,9 cm; o palmo de João é 14,7 cm; o de Raquel é 13,3 cm e o de Mariana é 14,2 cm.</p>
                    <p class="card-text">Qual criança tem o palmo maior?</p>
                    <div class="form-group">
                        <div class="btn-group" data-toggle="buttons">
                            <ol type="A">
                                <li><input type="radio" name="q7" value="A" maxlength="1">João.</li>
                                <li><input type="radio" name="q7" value="B" maxlength="1">Mariana.</li>
                                <li><input type="radio" name="q7" value="C" maxlength="1">Paulo.</li>
                                <li><input type="radio" name="q7" value="D" maxlength="1">Raquel.</li>
                            </ol>
                        </div>
                    </div>
                </div>
              
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <div class="container">
                    <h5 class="card-title">QUESTÃO 8</h5>
                
                    <p class="card-text">Rodrigo levou o seu carro para fazer a revisão da suspensão e gastou R$ 37,60 com o balanceamento, R$ 39,90 com o alinhamento e R$ 45,95 com a cambagem.</p>
                    <p class="card-text">Qual foi o valor total gasto por Rodrigo para realizar essa revisão no seu carro?</p>
                    <div class="form-group">
                        <div class="btn-group" data-toggle="buttons">
                            <ol type="A">
                                <li><input type="radio" name="q8" value="A" maxlength="1">R$ 85,85</li>
                                <li><input type="radio" name="q8" value="B" maxlength="1">R$ 77,50</li>
                                <li><input type="radio" name="q8" value="C" maxlength="1">R$ 121,00</li>
                                <li><input type="radio" name="q8" value="D" maxlength="1">R$ 123,45</li>
                            </ol>
                        </div>
                    </div>
                </div>>
                
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <div class="container">
                      
                  <h5 class="card-title">QUESTÃO 9</h5>
        
                  <p class="card-text">O quadro abaixo mostra a relação das compras que Aline fez na padaria. </p>
                  <div class="text-center"><img class="img-fluid" src="/img/matd25_9.png" alt=""></div>
                    <p class="card-text">Antes de passar pelo caixa da padaria, ela fez o cálculo de quanto gastará. Quanto Aline deverá pagar?</p>
                    <div class="form-group">
                      <div class="btn-group" data-toggle="buttons">
                          <ol type="A">
                              <li><input type="radio" name="q9" value="A" maxlength="1">R$ 10,20</li>
                              <li><input type="radio" name="q9" value="B" maxlength="1">R$ 9,00</li>
                              <li><input type="radio" name="q9" value="C" maxlength="1">R$ 6,10</li>
                              <li><input type="radio" name="q9" value="D" maxlength="1">R$ 7,90</li>
                          </ol>
                      </div>
                  </div> 
                  </div>
              
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <div class="container">
                    <h5 class="card-title">QUESTÃO 10</h5>
                
                    <p class="card-text">Henrique mora em Anápolis e Renato mora em Pirenópolis. Veja, no quadro abaixo, a medida da área desses municípios, em km².</p>
                
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Cidade</th>
                                <th>Área (km²)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Anápolis</td>
                                <td>19.314,08</td>
                            </tr>
                            <tr>
                                <td>Pirenópolis</td>
                                <td>6.438,5</td>
                            </tr>
                        </tbody>
                    </table>
                
                    <p class="card-text">Qual é a diferença entre as áreas das cidades de Anápolis e Pirenópolis?</p>
                    <div class="form-group">
                        <div class="btn-group" data-toggle="buttons">
                            <ol type="A">
                                <li><input type="radio" name="q10" value="A" maxlength="1">12875,58</li>
                                <li><input type="radio" name="q10" value="B" maxlength="1">13124,58</li>
                                <li><input type="radio" name="q10" value="C" maxlength="1">13875,58</li>
                                <li><input type="radio" name="q10" value="D" maxlength="1">13985,58</li>
                            </ol>
                        </div>
                    </div>
                </div>
        
            
                </div>
              </div>
            </div>
          </div>
          <br>
          
          <br>           
          <br>

        </div>

                
        <div class="d-grid gap-2 m-xl-3">        
          <button type="reset" class="btn btn-danger">LIMPAR</button>
          <button type="submit" class="btn btn-success">RESPONDER</button>
        </div>
      </form>
    </div>
   
     
</body>
<script src="./js/bootstrap.min.js"></script>
<script src="./js/popper.min.js"></script>
<script src="/js/script.js"></script>
</html>