<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Matemática D28</title>
</head>
<body class="bg-primary">
  <div class="h3 text-lg-center text-white">ESCOLA MUNICIPAL JUSLANY DE SOUZA FLORES</div>
      <div class="h3 text-lg-center text-white">5º ANO TURMA A</div>  
  <hr>
  <header class="container">
    <h4>D28 - Ler informações e dados apresentados em gráficos (particularmente em gráficos de colunas).</h4>
  </header>
  <br>
  <br>
  <br>
    <div class="container">
      
      <form method="POST" action="/confirmacao-md28" onsubmit="return validarFormulario()">
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">@</span>
          <input type="text" class="form-control" placeholder="Digite seu nome aqui" aria-label="Digite seu nome aqui" aria-describedby="basic-addon1" name="name" id="name">
        </div>
        <div class="container">

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <div class="container">
                    <h5 class="card-title">QUESTÃO 1</h5>
                
                    <p class="card-text">Observe no gráfico abaixo as notas de alguns alunos do 4º ano.</p>
                
                    <div class="text-center"><img class="img-fluid" src="/img/matd28_1.png" alt="Gráfico de Notas"></div>
                
                    <p>Qual desses alunos tirou nota 7?</p>
                
                    <div class="form-group">
                        <div class="btn-group" data-toggle="buttons">
                            <ol type="A">
                                <li><input type="radio" name="q1" value="A" maxlength="1">Carla</li>
                                <li><input type="radio" name="q1" value="B" maxlength="1">Fábio</li>
                                <li><input type="radio" name="q1" value="C" maxlength="1">Joana</li>
                                <li><input type="radio" name="q1" value="D" maxlength="1">Saulo</li>
                            </ol>
                        </div>
                    </div>
                </div>
                             
                </div>
              </div>
            </div>
          </div>
          <br>
          
          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <div class="container">
                    <h5 class="card-title">QUESTÃO 2</h5>
                
                    <p class="card-text">Observe no gráfico abaixo o resultado de uma pesquisa realizada no 5º ano de uma escola sobre a preferência por estilos musicais.</p>
                
                    <div class="text-center">
                        <img class="img-fluid" src="/img/matd28_2.png" alt="Gráfico de Estilos Musicais">
                    </div>
                
                    <p>De acordo com esse gráfico, qual é o estilo musical escolhido pela maior quantidade de estudantes dessa turma?</p>
                
                    <div class="form-group">
                        <div class="btn-group" data-toggle="buttons">
                            <ol type="A">
                                <li><input type="radio" name="q2" value="A" maxlength="1">Pagode</li>
                                <li><input type="radio" name="q2" value="B" maxlength="1">Rock</li>
                                <li><input type="radio" name="q2" value="C" maxlength="1">Romântica</li>
                                <li><input type="radio" name="q2" value="D" maxlength="1">Sertanejo</li>
                            </ol>
                        </div>
                    </div>
                </div>
                
                         
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <div class="container">
                    <h5 class="card-title">QUESTÃO 3</h5>
                
                    <p class="card-text">No gráfico abaixo são apresentados dados sobre o número de alunos do 4° e do 5° ano de quatro escolas.</p>
                
                    <div class="text-center">
                        <img class="img-fluid" src="/img/matd28_3.png" alt="Gráfico de Alunos do 4° e 5° Ano">
                    </div>
                
                    <p>Em qual dessas escolas há o maior número de alunos no 4° ano?</p>
                
                    <div class="form-group">
                        <div class="btn-group" data-toggle="buttons">
                            <ol type="A">
                                <li><input type="radio" name="q3" value="A" maxlength="1">Escola 1</li>
                                <li><input type="radio" name="q3" value="B" maxlength="1">Escola 2</li>
                                <li><input type="radio" name="q3" value="C" maxlength="1">Escola 3</li>
                                <li><input type="radio" name="q3" value="D" maxlength="1">Escola 4</li>
                            </ol>
                        </div>
                    </div>
                </div>
                          
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <div class="container">
                    <h5 class="card-title">QUESTÃO 4</h5>
                
                    <p class="card-text">A escola “Quatro Estações” realizou eleições para escolher os representantes de turma. A professora Mara, da turma do terceiro ano, registrou os votos de cada um dos candidatos no gráfico abaixo:</p>
                
                    <div class="text-center">
                        <img class="img-fluid" src="/img/matd28_4.png" alt="Gráfico de Eleições no Terceiro Ano">
                    </div>
                
                    <p>Quem ganhou a eleição nessa turma do terceiro ano?</p>
                
                    <div class="form-group">
                        <div class="btn-group" data-toggle="buttons">
                            <ol type="A">
                                <li><input type="radio" name="q4" value="A" maxlength="1">Mônica</li>
                                <li><input type="radio" name="q4" value="B" maxlength="1">Márcia</li>
                                <li><input type="radio" name="q4" value="C" maxlength="1">Maurício</li>
                                <li><input type="radio" name="q4" value="D" maxlength="1">Marcelo</li>
                            </ol>
                        </div>
                    </div>
                </div>
                          
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <div class="container">
                    <h5 class="card-title">QUESTÃO 5</h5>
                
                    <p class="card-text">O gráfico abaixo mostra a quantidade de pontos feitos pelos times A, B, C e D no campeonato de futebol da escola.</p>
                
                    <div class="text-center">
                        <img class="img-fluid" src="/img/matd28_5.png" alt="Gráfico de Pontos dos Times de Futebol">
                    </div>
                
                    <p>De acordo com o gráfico, quantos pontos o time C conquistou?</p>
                
                    <div class="form-group">
                        <div class="btn-group" data-toggle="buttons">
                            <ol type="A">
                                <li><input type="radio" name="q5" value="A" maxlength="1">50</li>
                                <li><input type="radio" name="q5" value="B" maxlength="1">40</li>
                                <li><input type="radio" name="q5" value="C" maxlength="1">35</li>
                                <li><input type="radio" name="q5" value="D" maxlength="1">30</li>
                            </ol>
                        </div>
                    </div>
                </div>
                
  
              
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <div class="container">
                    <h5 class="card-title">QUESTÃO 6</h5>
                
                    <p class="card-text">No final do ano os alunos do 5º ano fizeram uma pesquisa na sala para saber onde cada um ia passar as férias. Cada aluno podia escolher um só lugar.</p>
                
                    <div class="text-center">
                        <img class="img-fluid" src="/img/matd28_6.png" alt="Gráfico de Locais de Férias">
                    </div>
                
                    <p>Qual dos locais foi o menos escolhido pelos alunos para passarem as férias?</p>
                
                    <div class="form-group">
                        <div class="btn-group" data-toggle="buttons">
                            <ol type="A">
                                <li><input type="radio" name="q6" value="A" maxlength="1">Casa</li>
                                <li><input type="radio" name="q6" value="B" maxlength="1">Fazenda do tio</li>
                                <li><input type="radio" name="q6" value="C" maxlength="1">Praia</li>
                                <li><input type="radio" name="q6" value="D" maxlength="1">Sítio da vovó</li>
                            </ol>
                        </div>
                    </div>
                </div>
                
               
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <div class="container">
                    <h5 class="card-title">QUESTÃO 7</h5>
                
                    <p class="card-text">Os estudantes do 5º ano realizaram uma entrevista com quatro turmas da escola para verificar que profissões os estudantes desejam seguir futuramente. Observe o gráfico abaixo que representa o resultado dessa pesquisa.</p>
                
                    <div class="text-center">
                        <img class="img-fluid" src="/img/matd28_7.png" alt="Gráfico de Profissões Desejadas">
                    </div>
                
                    <p>Nessa pesquisa, qual foi a profissão mais escolhida?</p>
                
                    <div class="form-group">
                        <div class="btn-group" data-toggle="buttons">
                            <ol type="A">
                                <li><input type="radio" name="q7" value="A" maxlength="1">Advogado</li>
                                <li><input type="radio" name="q7" value="B" maxlength="1">Dentista</li>
                                <li><input type="radio" name="q7" value="C" maxlength="1">Médico</li>
                                <li><input type="radio" name="q7" value="D" maxlength="1">Professor</li>
                            </ol>
                        </div>
                    </div>
                </div>
                 
                  </div>
              
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <div class="container">
                    <h5 class="card-title">QUESTÃO 8</h5>
                
                    <p class="card-text">O gráfico abaixo mostra a quantidade de alunos de uma escola, de 1ª a 4ª série.</p>
                
                    <div class="text-center">
                        <img class="img-fluid" src="/img/matd28_8.png" alt="Gráfico de Alunos por Série">
                    </div>
                
                    <p>Quantos alunos têm essa escola?</p>
                
                    <div class="form-group">
                        <div class="btn-group" data-toggle="buttons">
                            <ol type="A">
                                <li><input type="radio" name="q8" value="A" maxlength="1">12</li>
                                <li><input type="radio" name="q8" value="B" maxlength="1">15</li>
                                <li><input type="radio" name="q8" value="C" maxlength="1">48</li>
                                <li><input type="radio" name="q8" value="D" maxlength="1">50</li>
                            </ol>
                        </div>
                    </div>
                </div>
                
                
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <div class="container">
                    <h5 class="card-title">QUESTÃO 9</h5>
                
                    <p class="card-text">Este gráfico apresenta o perfil de altitude de alguns dos morros da cidade do Rio de Janeiro. O número de metros que o Morro Pão de Açúcar tem a mais que o seu vizinho, Morro da Urca, é de</p>
                
                    <div class="text-center">
                        <img class="img-fluid" src="/img/matd28_9.png" alt="Gráfico de Altitude de Morros">
                    </div>
                
                    <p>O número de metros que o Morro Pão de Açúcar tem a mais que o seu vizinho, Morro da Urca, é de</p>
                
                    <div class="form-group">
                        <div class="btn-group" data-toggle="buttons">
                            <ol type="A">
                                <li><input type="radio" name="q9" value="A" maxlength="1">176 m</li>
                                <li><input type="radio" name="q9" value="B" maxlength="1">196 m</li>
                                <li><input type="radio" name="q9" value="C" maxlength="1">314 m</li>
                                <li><input type="radio" name="q9" value="D" maxlength="1">490 m</li>
                            </ol>
                        </div>
                    </div>
                </div>
                
              
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
        
                  <div class="container">
                    <h5 class="card-title">QUESTÃO 10</h5>
                
                    <p class="card-text">Os alunos de uma escola participaram de uma campanha solidária para arrecadar roupas, mantimentos e água potável para os desabrigados das enchentes no Nordeste. Observe o gráfico.</p>
                
                    <div class="text-center">
                        <img class="img-fluid" src="/img/matd28_10.png" alt="Gráfico de Arrecadação em Campanha Solidária">
                    </div>
                
                    <p>A semana em que a turma A conseguiu arrecadar mais de 60 itens, foi a</p>
                
                    <div class="form-group">
                        <div class="btn-group" data-toggle="buttons">
                            <ol type="A">
                                <li><input type="radio" name="q10" value="A" maxlength="1">1ª semana</li>
                                <li><input type="radio" name="q10" value="B" maxlength="1">2ª semana</li>
                                <li><input type="radio" name="q10" value="C" maxlength="1">3ª semana</li>
                                <li><input type="radio" name="q10" value="D" maxlength="1">4ª semana</li>
                            </ol>
                        </div>
                    </div>
                </div>
                             
                </div>
              </div>
            </div>
          </div>
          <br>
          
          <br>           
          <br>

        </div>

                
        <div class="d-grid gap-2 m-xl-3">        
          <button type="reset" class="btn btn-danger">LIMPAR</button>
          <button type="submit" class="btn btn-success">RESPONDER</button>
        </div>
      </form>
    </div>
   
     
</body>
<script src="./js/bootstrap.min.js"></script>
<script src="./js/popper.min.js"></script>
<script src="/js/script.js"></script>
</html>