<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Matemática D3</title>
</head>
<body class="bg-primary">
  <div class="h3 text-lg-center text-white">ESCOLA MUNICIPAL JUSLANY DE SOUZA FLORES</div>
      <div class="h3 text-lg-center text-white">5º ANO TURMA A</div>  
  <hr>
  <header class="container">
    <h4>D3 - Identificar propriedades comuns e diferenças entre figuras bidimensionais pelo número de lados, pelos tipos de ângulos.</h4>
  </header>
  <br>
  <br>
  <br>
    <div class="container">
      
      <form method="POST" action="/confirmacao-md3" onsubmit="return validarFormulario()">
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">@</span>
          <input type="text" class="form-control" placeholder="Digite seu nome aqui" aria-label="Digite seu nome aqui" aria-describedby="basic-addon1" name="name" id="name">
        </div>
        <div class="container">

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">

                  <div class="container">
                    <h5 class="card-title">QUESTÃO 1</h5>
                    <p class="card-text">Observe a figura geométrica plana desenhada abaixo.</p>
                
                    <div class="text-center">
                        <img class="img-fluid" src="/img/matd3_1.png" alt="Figura Geométrica Plana">
                    </div>
                
                    <p>Essa figura plana é um</p>
                
                    <div class="form-group">
                        <div class="btn-group" data-toggle="buttons">
                            <ol type="A">
                                <li><input type="radio" name="q1" value="A" maxlength="1">triângulo</li>
                                <li><input type="radio" name="q1" value="B" maxlength="1">retângulo</li>
                                <li><input type="radio" name="q1" value="C" maxlength="1">pentágono</li>
                                <li><input type="radio" name="q1" value="D" maxlength="1">hexágono</li>
                            </ol>
                        </div>
                    </div>
                </div>
                
                             
                </div>
              </div>
            </div>
          </div>
          <br>
          
          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">

                  <div class="container">
                    <h5 class="card-title">QUESTÃO 2</h5>
                    <p class="card-text">Veja as figuras abaixo.</p>
                
                    <div class="text-center">
                        <img class="img-fluid" src="/img/matd3_2.png" alt="Figuras Geométricas">
                    </div>
                
                    <p>Quais dessas figuras são quadriláteros?</p>
                
                    <div class="form-group">
                        <div class="btn-group" data-toggle="buttons">
                            <ol type="A">
                                <li><input type="radio" name="q2" value="A" maxlength="1">1 e 4</li>
                                <li><input type="radio" name="q2" value="B" maxlength="1">2 e 3</li>
                                <li><input type="radio" name="q2" value="C" maxlength="1">1 e 5</li>
                                <li><input type="radio" name="q2" value="D" maxlength="1">4 e 5</li>
                            </ol>
                        </div>
                    </div>
                </div>
                
                
                         
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">

                  <div class="container">
                    <h5 class="card-title">QUESTÃO 3</h5>
                    <p class="card-text">Alex colou quatro figuras diferentes numa página de seu caderno de Matemática, como mostra o desenho abaixo:</p>
                
                    <div class="text-center">
                        <img class="img-fluid" src="/img/matd3_3.png" alt="Figuras Geométricas de Alex">
                    </div>
                
                    <p>São triângulos as figuras:</p>
                
                    <div class="form-group">
                        <div class="btn-group" data-toggle="buttons">
                            <ol type="A">
                                <li><input type="radio" name="q3" value="A" maxlength="1">I e II</li>
                                <li><input type="radio" name="q3" value="B" maxlength="1">I e IV</li>
                                <li><input type="radio" name="q3" value="C" maxlength="1">II e IV</li>
                                <li><input type="radio" name="q3" value="D" maxlength="1">II e III</li>
                            </ol>
                        </div>
                    </div>
                </div>
                
                          
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
 
                  <div class="container">
                    <h5 class="card-title">QUESTÃO 4</h5>
                    <p class="card-text">Uma casa acaba de ser construída e o vidraceiro foi chamado para colocar vidros em 4 janelas de modelo igual ao desenho abaixo. Os vidros terão cores diferentes, como mostra a figura.</p>
                
                    <div class="text-center">
                        <img class="img-fluid" src="/img/matd3_4.png" alt="Janela com Vidros Coloridos">
                    </div>
                
                    <p>O número de vidros de cada cor que o vidraceiro deverá recortar para colocar nas 4 janelas é...</p>
                
                    <div class="form-group">
                        <div class="btn-group" data-toggle="buttons">
                            <ol type="A">
                                <li><input type="radio" name="q4" value="A" maxlength="1">4 azuis, 4 amarelos, 96 transparentes.</li>
                                <li><input type="radio" name="q4" value="B" maxlength="1">8 azuis, 8 amarelos, 96 transparentes.</li>
                                <li><input type="radio" name="q4" value="C" maxlength="1">4 azuis, 8 amarelos, 96 transparentes.</li>
                                <li><input type="radio" name="q4" value="D" maxlength="1">8 azuis, 4 amarelos, 106 transparentes.</li>
                            </ol>
                        </div>
                    </div>
                </div>
                
                          
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">

                  <div class="container">
                    <h5 class="card-title">QUESTÃO 5</h5>
                    <p class="card-text">Os alunos do 5º ano estão trabalhando com embalagens de alguns produtos. Carlos trouxe a embalagem de creme dental. Observe a figura geométrica da embalagem aberta:</p>
                
                    <div class="text-center">
                        <img class="img-fluid" src="/img/matd3_5.png" alt="Embalagem de Creme Dental">
                    </div>
                
                    <p>As figuras geométricas representadas na figura da embalagem são:</p>
                
                    <div class="form-group">
                        <div class="btn-group" data-toggle="buttons">
                            <ol type="A">
                                <li><input type="radio" name="q5" value="A" maxlength="1">Quatro retângulos e dois quadrados</li>
                                <li><input type="radio" name="q5" value="B" maxlength="1">Quatro quadrados e dois retângulos</li>
                                <li><input type="radio" name="q5" value="C" maxlength="1">Quatro círculos e um retângulo</li>
                                <li><input type="radio" name="q5" value="D" maxlength="1">Quatro triângulos e dois retângulos</li>
                            </ol>
                        </div>
                    </div>
                </div>
                
                
  
              
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">

                  <div class="container">
                    <h5 class="card-title">QUESTÃO 6</h5>
                    <p class="card-text">A superfície da bola de futebol representada abaixo é formada por polígonos.</p>
                
                    <div class="text-center">
                        <img class="img-fluid" src="/img/matd3_6.png" alt="Bola de Futebol">
                    </div>
                
                    <p>Os polígonos utilizados para fazer a bola são:</p>
                
                    <div class="form-group">
                        <div class="btn-group" data-toggle="buttons">
                            <ol type="A">
                                <li><input type="radio" name="q6" value="A" maxlength="1">quadriláteros e hexágonos</li>
                                <li><input type="radio" name="q6" value="B" maxlength="1">hexágonos e pentágonos</li>
                                <li><input type="radio" name="q6" value="C" maxlength="1">pentágonos e triângulos</li>
                                <li><input type="radio" name="q6" value="D" maxlength="1">triângulos e octógonos</li>
                            </ol>
                        </div>
                    </div>
                </div>
                
                
               
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">

                  <div class="container">
                    <h5 class="card-title">QUESTÃO 7</h5>
                    <p class="card-text">Luísa e suas primas estão fazendo um desenho usando figuras planas de cinco lados.</p>
                    <p>A figura usada por elas é um:</p>
                
                    <div class="form-group">
                        <div class="btn-group" data-toggle="buttons">
                            <ol type="A">
                                <li><input type="radio" name="q7" value="A" maxlength="1">cubo</li>
                                <li><input type="radio" name="q7" value="B" maxlength="1">pentágono</li>
                                <li><input type="radio" name="q7" value="C" maxlength="1">quadrilátero</li>
                                <li><input type="radio" name="q7" value="D" maxlength="1">triângulo</li>
                            </ol>
                        </div>
                    </div>
                </div>
                
                 
                  </div>
              
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">

                  <div class="container">
                    <h5 class="card-title">QUESTÃO 8</h5>
                    <p class="card-text">Observe abaixo as formas geométricas que Carol desenhou e recortou.</p>
                
                    <div class="text-center">
                        <img class="img-fluid" src="/img/matd3_8.png" alt="Formas Geométricas de Carol">
                    </div>
                
                    <p>Qual desses desenhos representa um quadrado?</p>
                
                    <div class="form-group">
                        <div class="btn-group" data-toggle="buttons">
                            <ol type="A">
                                <li><input type="radio" name="q8" value="A" maxlength="1">1</li>
                                <li><input type="radio" name="q8" value="B" maxlength="1">2</li>
                                <li><input type="radio" name="q8" value="C" maxlength="1">3</li>
                                <li><input type="radio" name="q8" value="D" maxlength="1">4</li>
                            </ol>
                        </div>
                    </div>
                </div>
                
                
                
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">

                  <div class="container">
                    <h5 class="card-title">QUESTÃO 9</h5>
                    <p class="card-text">Observe abaixo as formas geométricas que Ricardo recortou.</p>
                
                    <div class="text-center">
                        <img class="img-fluid" src="/img/matd3_9.png" alt="Formas Geométricas de Ricardo">
                    </div>
                
                    <p>Quais desses recortes representam quadriláteros?</p>
                
                    <div class="form-group">
                        <div class="btn-group" data-toggle="buttons">
                            <ol type="A">
                                <li><input type="radio" name="q9" value="A" maxlength="1">1 e 2</li>
                                <li><input type="radio" name="q9" value="B" maxlength="1">1 e 4</li>
                                <li><input type="radio" name="q9" value="C" maxlength="1">2 e 3</li>
                                <li><input type="radio" name="q9" value="D" maxlength="1">2 e 4</li>
                            </ol>
                        </div>
                    </div>
                </div>
                
                
              
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
        

                  <div class="container">
                    <h5 class="card-title">QUESTÃO 10</h5>
                    <p class="card-text">Mateus usou 13 figuras geométricas para desenhar o barco abaixo.</p>
                
                    <div class="text-center">
                        <img class="img-fluid" src="/img/matd3_10.png" alt="Desenho do Barco">
                    </div>
                
                    <p>Quantos triângulos ele usou para desenhar esse barco?</p>
                
                    <div class="form-group">
                        <div class="btn-group" data-toggle="buttons">
                            <ol type="A">
                                <li><input type="radio" name="q10" value="A" maxlength="1">1</li>
                                <li><input type="radio" name="q10" value="B" maxlength="1">3</li>
                                <li><input type="radio" name="q10" value="C" maxlength="1">4</li>
                                <li><input type="radio" name="q10" value="D" maxlength="1">5</li>
                            </ol>
                        </div>
                    </div>
                </div>
                
                             
                </div>
              </div>
            </div>
          </div>
          <br>
          
          <br>           
          <br>

        </div>

                
        <div class="d-grid gap-2 m-xl-3">        
          <button type="reset" class="btn btn-danger">LIMPAR</button>
          <button type="submit" class="btn btn-success">RESPONDER</button>
        </div>
      </form>
    </div>
   
     
</body>
<script src="./js/bootstrap.min.js"></script>
<script src="./js/popper.min.js"></script>
<script src="/js/script.js"></script>
</html>