<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Matemática D6</title>
</head>
<body class="bg-primary">
  <div class="h3 text-lg-center text-white">ESCOLA MUNICIPAL JUSLANY DE SOUZA FLORES</div>
      <div class="h3 text-lg-center text-white">5º ANO TURMA A</div>  
  <hr>
  <header class="container">
    <h4>D6 – Estimar a medida de grandezas utilizando unidades de medida convencionais ou não.</h4>
  </header>
  <br>
  <br>
  <br>
    <div class="container">
      
      <form method="POST" action="/confirmacao-md6" onsubmit="return validarFormulario()">
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">@</span>
          <input type="text" class="form-control" placeholder="Digite seu nome aqui" aria-label="Digite seu nome aqui" aria-describedby="basic-addon1" name="name" id="name">
        </div>
        <div class="container">

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <div class="container">
                    <h5 class="card-title">QUESTÃO 1</h5>
                    <p class="card-text">Maria está ajudando sua mãe a preparar um bolo. Ela percebeu que não tem uma colher de sopa disponível para medir o fermento, mas lembrou que sua mãe uma vez mencionou uma relação entre colheres de chá e colheres de sopa. Se 3 colheres de chá equivalem a 1 colher de sopa, quantas colheres de chá Maria deve usar para substituir 2 colheres de sopa de fermento?</p>
                    <div class="form-group">
                        <ol type="A">
                            <li><input type="radio" name="q1" value="A" maxlength="1"> 2 colheres de chá</li>
                            <li><input type="radio" name="q1" value="B" maxlength="1"> 5 colheres de chá</li>
                            <li><input type="radio" name="q1" value="C" maxlength="1"> 6 colheres de chá</li>
                            <li><input type="radio" name="q1" value="D" maxlength="1"> 9 colheres de chá</li>
                        </ol>
                    </div>
                </div>
                                            
                </div>
              </div>
            </div>
          </div>
          <br>
          
          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <div class="container">
                    <h5 class="card-title">QUESTÃO 2</h5>
                    <p class="card-text">Fernando comprou uma garrafa de 2,5 litros de refrigerante com seus amigos. Sabendo que um copo contém 200 ml de refrigerante. Quantos copos Caio conseguirá encher e qual a quantidade de refrigerante irá restar na garrafa?</p>
                    <div class="form-group">
                        <ol type="A">
                            <li><input type="radio" name="q2" value="A" maxlength="1"> 12 copos e 5 ml.</li>
                            <li><input type="radio" name="q2" value="B" maxlength="1"> 25 copos e 500 ml.</li>
                            <li><input type="radio" name="q2" value="C" maxlength="1"> 12 copos e 100 ml.</li>
                            <li><input type="radio" name="q2" value="D" maxlength="1"> 10 copos e 100 ml.</li>
                        </ol>
                    </div>
                </div>
                
                
                         
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <div class="container">
                    <h5 class="card-title">QUESTÃO 3</h5>
                    <p class="card-text">Carla mediu o comprimento da mesa da cozinha de sua casa para comprar uma toalha. Como ela não tinha um instrumento de medida adequado, usou a medida aproximada do comprimento do palmo de sua mão.</p>
                    <div class="text-center">
                        <img class="img-fluid" src="/img/matd6_3.png" alt="">
                    </div>
                    <p>Observe acima o procedimento que ela usou para medir a mesa. Qual é a medida aproximada do comprimento dessa mesa que Carla mediu?</p>
                    <div class="form-group">
                        <ol type="A">
                            <li><input type="radio" name="q3" value="A" maxlength="1"> 44 cm</li>
                            <li><input type="radio" name="q3" value="B" maxlength="1"> 88 cm</li>
                            <li><input type="radio" name="q3" value="C" maxlength="1"> 110 cm</li>
                            <li><input type="radio" name="q3" value="D" maxlength="1"> 132 cm</li>
                        </ol>
                    </div>
                </div>              
                          
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <div class="container">
                    <h5 class="card-title">QUESTÃO 4</h5>
                    <p class="card-text">Observe as figuras abaixo.</p>
                    <div class="text-center">
                        <img class="img-fluid" src="/img/matd6_4.png" alt="">
                    </div>
                    <p>Dos objetos representados pelas figuras acima, o que representa exatamente 2 litros é:</p>
                    <div class="form-group">
                        <ol type="A">
                            <li><input type="radio" name="q4" value="A" maxlength="1"> figura I.</li>
                            <li><input type="radio" name="q4" value="B" maxlength="1"> figura II.</li>
                            <li><input type="radio" name="q4" value="C" maxlength="1"> figura III.</li>
                            <li><input type="radio" name="q4" value="D" maxlength="1"> figura IV.</li>
                        </ol>
                    </div>
                </div>                 
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <div class="container">
                    <h5 class="card-title">QUESTÃO 5</h5>
                    <p class="card-text">Observe as imagens abaixo com atenção.</p>
                    <div class="text-center">
                        <img class="img-fluid" src="/img/matd6_5.png" alt="">
                    </div>
                    <p>Dos objetos representados ao lado, a figura que representa menos de 1 litro de capacidade é:</p>
                    <div class="form-group">
                        <ol type="A">
                            <li><input type="radio" name="q5" value="A" maxlength="1"> a figura I.</li>
                            <li><input type="radio" name="q5" value="B" maxlength="1"> a figura II.</li>
                            <li><input type="radio" name="q5" value="C" maxlength="1"> a figura III.</li>
                            <li><input type="radio" name="q5" value="D" maxlength="1"> a figura IV.</li>
                        </ol>
                    </div>
                </div>             

                              
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <div class="container">
                    <h5 class="card-title">QUESTÃO 6</h5>
                    <p class="card-text">Uma distribuidora de alimentos ensaca feijão com embalagens de dois tamanhos. Uma comporta 2kg e a outra 1,5kg de feijão. Se eu preciso comprar 6kg de feijão, optando pela embalagem de 1,5kg, terei que comprar:</p>
                    <div class="form-group">
                        <ol type="A">
                            <li><input type="radio" name="q6" value="A" maxlength="1"> 3 embalagens.</li>
                            <li><input type="radio" name="q6" value="B" maxlength="1"> 4 embalagens.</li>
                            <li><input type="radio" name="q6" value="C" maxlength="1"> 5 embalagens.</li>
                            <li><input type="radio" name="q6" value="D" maxlength="1"> 6 embalagens.</li>
                        </ol>
                    </div>
                </div>               
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <div class="container">
                    <h5 class="card-title">QUESTÃO 7</h5>
                    <p class="card-text">Ao usar uma régua de 20 cm para medir uma mesa, Henrique observou que ela cabia 27 vezes no comprimento da mesa. Ele multiplicou esses valores e encontrou 540 cm.</p>
                    <p>Em metros, o comprimento da mesa é de:</p>
                    <div class="form-group">
                        <ol type="A">
                            <li><input type="radio" name="q7" value="A" maxlength="1"> 0,54.</li>
                            <li><input type="radio" name="q7" value="B" maxlength="1"> 5,4.</li>
                            <li><input type="radio" name="q7" value="C" maxlength="1"> 54.</li>
                            <li><input type="radio" name="q7" value="D" maxlength="1"> 540.</li>
                        </ol>
                    </div>
                </div>                
                  </div>
              
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <div class="container">
                    <h5 class="card-title">QUESTÃO 8</h5>
                    <p class="card-text">O comprimento de uma mesa é de 1m. Quantos palmos aproximadamente mede a mesa se, em média, um palmo tem 22 cm?</p>
                    <div class="form-group">
                        <ol type="A">
                            <li><input type="radio" name="q8" value="A" maxlength="1"> 4 palmos</li>
                            <li><input type="radio" name="q8" value="B" maxlength="1"> 4 palmos e meio</li>
                            <li><input type="radio" name="q8" value="C" maxlength="1"> 5 palmos</li>
                            <li><input type="radio" name="q8" value="D" maxlength="1"> 5 palmos e meio</li>
                        </ol>
                    </div>
                </div>
                
                
                
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <div class="container">
                    <h5 class="card-title">QUESTÃO 9</h5>
                    <p class="card-text">A altura de uma lousa mede um metro e meio. Qual é a altura da lousa em centímetros?</p>
                    <div class="form-group">
                        <ol type="A">
                            <li><input type="radio" name="q9" value="A" maxlength="1"> 250 cm</li>
                            <li><input type="radio" name="q9" value="B" maxlength="1"> 200 cm</li>
                            <li><input type="radio" name="q9" value="C" maxlength="1"> 190 cm</li>
                            <li><input type="radio" name="q9" value="D" maxlength="1"> 150 cm</li>
                        </ol>
                    </div>
                </div>
                
                
              
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
        
                  <div class="container">
                    <h5 class="card-title">QUESTÃO 10</h5>
                    <p class="card-text">Maria quer comprar um lençol para sua cama. Observe a figura:</p>
                    <div class="text-center">
                        <img class="img-fluid" src="/img/matd6_10.png" alt="">
                    </div>
                    <p>Qual a medida ideal de lençol para o seu colchão?</p>
                    <div class="form-group">
                        <ol type="A">
                            <li><input type="radio" name="q10" value="A" maxlength="1"> 1,60m X 2,50m</li>
                            <li><input type="radio" name="q10" value="B" maxlength="1"> 0,88m X 1,88m</li>
                            <li><input type="radio" name="q10" value="C" maxlength="1"> 1,40m X 1,95m</li>
                            <li><input type="radio" name="q10" value="D" maxlength="1"> 1,58m X 1,98m</li>
                        </ol>
                    </div>
                </div>
                
                             
                </div>
              </div>
            </div>
          </div>
          <br>
          
          <br>           
          <br>

        </div>

                
        <div class="d-grid gap-2 m-xl-3">        
          <button type="reset" class="btn btn-danger">LIMPAR</button>
          <button type="submit" class="btn btn-success">RESPONDER</button>
        </div>
      </form>
    </div>
   
     
</body>
<script src="./js/bootstrap.min.js"></script>
<script src="./js/popper.min.js"></script>
<script src="/js/script.js"></script>
</html>