<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Matemática D7</title>
</head>
<body class="bg-primary">
  <div class="h3 text-lg-center text-white">ESCOLA MUNICIPAL JUSLANY DE SOUZA FLORES</div>
      <div class="h3 text-lg-center text-white">5º ANO TURMA A</div>  
  <hr>
  <header class="container">
    <h4>D7 – Resolver problemas significativos utilizando unidades de medida padronizadas como km/m/cm/mm, kg/g/mg, l/ml.</h4>
  </header>
  <br>
  <br>
  <br>
    <div class="container">
      
      <form method="POST" action="/confirmacao-md7" onsubmit="return validarFormulario()">
        <div class="input-group mb-3">
          <span class="input-group-text" id="basic-addon1">@</span>
          <input type="text" class="form-control" placeholder="Digite seu nome aqui" aria-label="Digite seu nome aqui" aria-describedby="basic-addon1" name="name" id="name">
        </div>
        <div class="container">

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <div class="container">
                    <h5 class="card-title">QUESTÃO 1</h5>
                    <p class="card-text">Para produzir sabão em casa, Márcia gasta, entre outros ingredientes da receita, 5 litros de óleo de cozinha usado. Quantos mililitros de óleo de cozinha usado são necessários para produzir sabão com essa receita?</p>
                    <div class="form-group">
                        <ol type="A">
                            <li><input type="radio" name="q1" value="A" maxlength="1"> 5</li>
                            <li><input type="radio" name="q1" value="B" maxlength="1"> 50</li>
                            <li><input type="radio" name="q1" value="C" maxlength="1"> 500</li>
                            <li><input type="radio" name="q1" value="D" maxlength="1"> 5 000</li>
                        </ol>
                    </div>
                </div>
                
                             
                </div>
              </div>
            </div>
          </div>
          <br>
          
          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <div class="container">
                    <h5 class="card-title">QUESTÃO 2</h5>
                    <p class="card-text">A distância da casa de Luisa ao clube é de 1 km. Essa distância, em metros, é igual a</p>
                    <div class="form-group">
                        <ol type="A">
                            <li><input type="radio" name="q2" value="A" maxlength="1"> 1</li>
                            <li><input type="radio" name="q2" value="B" maxlength="1"> 10</li>
                            <li><input type="radio" name="q2" value="C" maxlength="1"> 100</li>
                            <li><input type="radio" name="q2" value="D" maxlength="1"> 1 000</li>
                        </ol>
                    </div>
                </div>
                
                
                         
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <div class="container">
                    <h5 class="card-title">QUESTÃO 3</h5>
                    <p class="card-text">Observe abaixo a quantidade de tinta que Joaquim comprou para pintar a sala de sua casa.</p>
                    <div class="text-center">
                        <img class="img-fluid" src="/img/matd7_3.png" alt="">
                    </div>
                    <p>Qual foi a quantidade total de tinta comprada por Joaquim?</p>
                    <div class="form-group">
                        <ol type="A">
                            <li><input type="radio" name="q3" value="A" maxlength="1"> 7 mililitros.</li>
                            <li><input type="radio" name="q3" value="B" maxlength="1"> 7 litros e 500 mililitros.</li>
                            <li><input type="radio" name="q3" value="C" maxlength="1"> 12 litros.</li>
                            <li><input type="radio" name="q3" value="D" maxlength="1"> 12 litros e 500 mililitros.</li>
                        </ol>
                    </div>
                </div>
                
                          
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <div class="container">
                    <h5 class="card-title">QUESTÃO 4</h5>
                    <p class="card-text">Um quiosque de praia vendeu, em um dia, 72 copos de água mineral com 100 mL cada. Nesse dia, quantos litros de água mineral, no total, foram vendidos nesse quiosque?</p>
                    <div class="form-group">
                        <ol type="A">
                            <li><input type="radio" name="q4" value="A" maxlength="1"> 7,2 L</li>
                            <li><input type="radio" name="q4" value="B" maxlength="1"> 72 L</li>
                            <li><input type="radio" name="q4" value="C" maxlength="1"> 720 L</li>
                            <li><input type="radio" name="q4" value="D" maxlength="1"> 7 200 L</li>
                        </ol>
                    </div>
                </div>
                
                          
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <div class="container">
                    <h5 class="card-title">QUESTÃO 5</h5>
                    <p class="card-text">Um avestruz tem 2,7 metros de altura. Quantos centímetros tem esse avestruz?</p>
                    <div class="form-group">
                        <ol type="A">
                            <li><input type="radio" name="q5" value="A" maxlength="1"> 0,27</li>
                            <li><input type="radio" name="q5" value="B" maxlength="1"> 2,7</li>
                            <li><input type="radio" name="q5" value="C" maxlength="1"> 27</li>
                            <li><input type="radio" name="q5" value="D" maxlength="1"> 270</li>
                        </ol>
                    </div>
                </div>
                
                
  
              
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <div class="container">
                    <h5 class="card-title">QUESTÃO 6</h5>
                    <p class="card-text">É comum às famílias terem receitas tradicionais de alimentação durante a Páscoa, observe a receita abaixo, tenha bastante atenção ao total de ingredientes utilizados.</p>
                    <div class="text-center">
                        <img class="img-fluid" src="/img/matd7_6.png" alt="">
                    </div>
                    <p>A quantidade total de quilogramas de ingredientes utilizados na receita é</p>
                    <div class="form-group">
                        <ol type="A">
                            <li><input type="radio" name="q6" value="A" maxlength="1"> 0,335 kg.</li>
                            <li><input type="radio" name="q6" value="B" maxlength="1"> 1,185 kg.</li>
                            <li><input type="radio" name="q6" value="C" maxlength="1"> 335 kg.</li>
                            <li><input type="radio" name="q6" value="D" maxlength="1"> 1185 kg.</li>
                        </ol>
                    </div>
                </div>
                
                
               
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <div class="container">
                    <h5 class="card-title">QUESTÃO 7</h5>
                    <p class="card-text">Dona Benta quer fazer uma receita de bolo e ela precisa de 1Kg de farinha de trigo. Ao retirar o pacote do armário, ela percebe que tem apenas 325 gramas de farinha. A quantidade de gramas de farinha necessária para completar a receita é</p>
                    <div class="form-group">
                        <ol type="A">
                            <li><input type="radio" name="q7" value="A" maxlength="1"> 675 gramas.</li>
                            <li><input type="radio" name="q7" value="B" maxlength="1"> 325 gramas.</li>
                            <li><input type="radio" name="q7" value="C" maxlength="1"> 725 gramas.</li>
                            <li><input type="radio" name="q7" value="D" maxlength="1"> 525 gramas.</li>
                        </ol>
                    </div>
                </div>
                
                 
                  </div>
              
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <div class="container">
                    <h5 class="card-title">QUESTÃO 8</h5>
                    <p class="card-text">Maria compra todos os dias 1,5L de leite para seu bebê. Sabendo que a mamadeira do seu bebê corresponde a 300ml, com essa quantidade de leite Maria poderá preparar</p>
                    <div class="form-group">
                        <ol type="A">
                            <li><input type="radio" name="q8" value="A" maxlength="1"> quatro mamadeiras.</li>
                            <li><input type="radio" name="q8" value="B" maxlength="1"> três mamadeiras.</li>
                            <li><input type="radio" name="q8" value="C" maxlength="1"> cinco mamadeiras.</li>
                            <li><input type="radio" name="q8" value="D" maxlength="1"> seis mamadeiras</li>
                        </ol>
                    </div>
                </div>
                
                
                
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
                  <div class="container">
                    <h5 class="card-title">QUESTÃO 9</h5>
                    <p class="card-text">Roberto está fazendo a sua tarefa de casa e se deparou com a seguinte questão. De acordo com o quadro abaixo, quais unidades você usaria respectivamente para medir
                •	O comprimento de uma rua;
                •	A massa de um elefante;
                •	A capacidade de uma piscina.</p>
                    <div class="text-center">
                        <img class="img-fluid" src="/img/matd7_9.png" alt="">
                    </div>
                    <p>A alternativa correta é:</p>
                    <div class="form-group">
                        <ol type="A">
                            <li><input type="radio" name="q9" value="A" maxlength="1"> quilômetro, litro, litro.</li>
                            <li><input type="radio" name="q9" value="B" maxlength="1"> quilômetro, quilograma, litro.</li>
                            <li><input type="radio" name="q9" value="C" maxlength="1"> metro, quilowatt, mililitro.</li>
                            <li><input type="radio" name="q9" value="D" maxlength="1"> centímetro, grau, quilograma.</li>
                        </ol>
                    </div>
                </div>
                
              
                </div>
              </div>
            </div>
          </div>
          <br>

          <div class="row">
            <div class="col">
              <div class="card">
                <div class="card-body">
        
                  <div class="container">
                    <h5 class="card-title">QUESTÃO 10</h5>
                    <p class="card-text">No açougue do seu João, eu comprei 6 kg de bifes embalados em três pacotes iguais. Dessa forma, cada pacote terá</p>
                    <div class="form-group">
                        <ol type="A">
                            <li><input type="radio" name="q10" value="A" maxlength="1"> 3000 g.</li>
                            <li><input type="radio" name="q10" value="B" maxlength="1"> 1000 g.</li>
                            <li><input type="radio" name="q10" value="C" maxlength="1"> 2000 g.</li>
                            <li><input type="radio" name="q10" value="D" maxlength="1"> 1500 g.</li>
                        </ol>
                    </div>
                </div>
                
                             
                </div>
              </div>
            </div>
          </div>
          <br>
          
          <br>           
          <br>

        </div>

                
        <div class="d-grid gap-2 m-xl-3">        
          <button type="reset" class="btn btn-danger">LIMPAR</button>
          <button type="submit" class="btn btn-success">RESPONDER</button>
        </div>
      </form>
    </div>
   
     
</body>
<script src="./js/bootstrap.min.js"></script>
<script src="./js/popper.min.js"></script>
<script src="/js/script.js"></script>
</html>